Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: (?x)(
          ^config_system/tests/formatter/|
          gendiffer/tests.*build.ninja|
          gendiffer/tests.*Android.bp|
          gazelle/tests/.*/expectedStderr.txt|
          patches/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt|
            gendiffer/tests.*build.ninja|
            gendiffer/tests.*Android.bp|
            patches/
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck --severity=warning --exclude=1090 # Disable warning for certain quoting
        language: python
        types: [shell]
        require_serial: true

  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
        name: reuse
        entry: reuse
        args: ["lint"]
        language: python
        pass_filenames: false
        description: "Lint the project directory for compliance with the REUSE Specification"
        language_version: python3
        types_or:
          - text
          - binary

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

      - id: bpfmt
        name: "blueprint formatter"
        entry: bazelisk run //:bpfmt_wrapper -- -w
        language: system
        files: ^.*build.bp$
        types_or: [text]
        require_serial: true

feat: visit modules with position
  context.go
Due: go-fmt

fix: remove `dupbuild` flag
  blueprint_impl.bash
Due: none

feat: switch `blueprint` submodule to local branch
  .github/workflows/ci.yml
  .gitmodules
  MODULE.bazel
  WORKSPACE
  bootstrap.bash
  bootstrap/utils.bash
  gazelle/MODULE.bazel
  gazelle/WORKSPACE
  gazelle/tests/integration_tests/.bazelversion
  gazelle/tests/integration_tests/WORKSPACE
  patches/BUILD.bazel
  patches/blueprint/0001-feat-visit-modules-with-position.patch
  patches/blueprint/0002-fix-remove-blueprint-dep.patch
  patches/blueprint/0003-fix-remove-dupbuild-flag.patch
Due: buildifier

feat: make `blueprint` bazel module
  .bazelversion
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  bootstrap/BUILD.bazel
  bootstrap/bpdoc/BUILD.bazel
  bootstrap/bpglob/BUILD.bazel
  bootstrap/minibp/BUILD.bazel
  bpfmt/BUILD.bazel
  bpmodify/BUILD.bazel
  deptools/BUILD.bazel
  go.mod
  gotestmain/BUILD.bazel
  gotestrunner/BUILD.bazel
  loadplugins/BUILD.bazel
  microfactory/BUILD.bazel
  microfactory/main/BUILD.bazel
  parser/BUILD.bazel
  pathtools/BUILD.bazel
  proptools/BUILD.bazel
Due: buildifier

feat: switch `blueprint` submodule to local branch
  .gitmodules
  MODULE.bazel
  WORKSPACE
  bob.bootstrap.version
  bootstrap.bash
  bootstrap/utils.bash
  extensions.bzl
  gazelle/MODULE.bazel
  gazelle/WORKSPACE
  gazelle/deps.bzl
  gazelle/tests/generate_filegroup/internal/BUILD.out
  gazelle/tests/integration_tests/.bazelversion
  gazelle/tests/integration_tests/WORKSPACE
  gazelle/tests/load_statement/BUILD.out
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/internal/BUILD.out
  patches/BUILD.bazel
  patches/blueprint/0001-feat-visit-modules-with-position.patch
  patches/blueprint/0002-fix-remove-blueprint-dep.patch
  patches/blueprint/0003-fix-remove-dupbuild-flag.patch
Due: buildifier

chore: remove `depfile` from strict rules
  core/androidbp_generated.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/strict_generate_props.go
  gendiffer/README.md
  gendiffer/tests/gensrcs/mixed/app/build.bp
  gendiffer/tests/gensrcs/mixed/out/android/Android.bp.out
  gendiffer/tests/gensrcs/mixed/out/linux/build.ninja.out
  gendiffer/tests/legacy/gensrcs_new/app/build.bp
  gendiffer/tests/legacy/gensrcs_new/app/nested/build.bp
  gendiffer/tests/legacy/gensrcs_new/out/android/Android.bp.out
  gendiffer/tests/legacy/gensrcs_new/out/linux/build.ninja.out
  tests/generate_source_new/build.bp
  tests/generate_source_new/gen_with_dep.py
Due: go-fmt

chore: remove `AndroidPGOProps` props
  core/androidbp_cclibs.go
Due: go-fmt

Init genrule module with no variant info
  plugins/genrulebob/genrule.go
Due: go-fmt

chore: build bob with bazel 8
  .bazelversion
  BUILD.bazel
  Blueprints
  MODULE.bazel
  MODULE.bazel.lock
  bpfmt_wrapper.py
  bpfmt_wrapper.sh
  core/BUILD.bazel
  gazelle/.bazelversion
  gazelle/MODULE.bazel
  gazelle/MODULE.bazel.lock
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/logic/BUILD.bazel
  gazelle/mapper/BUILD.bazel
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/tests/BUILD.bazel
  gazelle/util/BUILD.bazel
Due: buildifier

chore: remove WORSPACE support
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  gazelle/MODULE.bazel
  gazelle/WORKSPACE
  gazelle/WORKSPACE.bzlmod
Due: buildifier

fix: gazelle tests
  gazelle/.bazelignore
  gazelle/tests/BUILD.bazel
  gazelle/tests/all_known_modules/MODULE.bazel
  gazelle/tests/all_known_modules/WORKSPACE
  gazelle/tests/example/MODULE.bazel
  gazelle/tests/example/WORKSPACE
  gazelle/tests/generate_filegroup/MODULE.bazel
  gazelle/tests/generate_filegroup/WORKSPACE
  gazelle/tests/generate_library/MODULE.bazel
  gazelle/tests/generate_library/README.md
  gazelle/tests/generate_library/WORKSPACE
  gazelle/tests/ignore_list/MODULE.bazel
  gazelle/tests/ignore_list/README.md
  gazelle/tests/ignore_list/WORKSPACE
  gazelle/tests/integration_tests/.bazelversion
  gazelle/tests/integration_tests/MODULE.bazel
  gazelle/tests/integration_tests/MODULE.bazel.lock
  gazelle/tests/integration_tests/WORKSPACE
  gazelle/tests/load_statement/MODULE.bazel
  gazelle/tests/load_statement/README.md
  gazelle/tests/load_statement/WORKSPACE
  gazelle/tests/map_kinds/MODULE.bazel
  gazelle/tests/map_kinds/README.md
  gazelle/tests/map_kinds/WORKSPACE
  gazelle/tests/mconfig/MODULE.bazel
  gazelle/tests/mconfig/WORKSPACE
  gazelle/tests/merge_attrs/MODULE.bazel
  gazelle/tests/merge_attrs/README.md
  gazelle/tests/merge_attrs/WORKSPACE
  gazelle/tests/multirepo/MODULE.bazel
  gazelle/tests/multirepo/WORKSPACE
  gazelle/tests/no_build_bp_file/MODULE.bazel
  gazelle/tests/no_build_bp_file/WORKSPACE
  gazelle/tests/preserve_order/MODULE.bazel
  gazelle/tests/preserve_order/WORKSPACE
Due: buildifier

fix(ci): bob bazel >= 8
  .github/workflows/ci.yml
Due: none

chore: remove old bazel download
  ci/docker/bazelisk/Dockerfile
Due: none

chore: add `ANDROID_OUT_OF_TREE` flag for Mconfig
  core/config/config.go
  core/standalone.go
  mconfig/basics.Mconfig
Due: go-fmt

feat(androidNinja): generate generated source targets
  core/androidninja_backend.go
  core/backend/androidninja.go
  core/backend/backend.go
Due: go-fmt

feat: add stub for new android ninja backend
  Blueprints
  MODULE.bazel.lock
  core/BUILD.bazel
  core/androidninja_backend.go
  core/backend/BUILD.bazel
  core/backend/androidninja.go
  core/standalone.go
Due: go-fmt, buildifier

chore: add warnings to unimplemented modules for android ninja backend
  core/androidninja_backend.go
  internal/warnings/warnings.go
Due: go-fmt

fix: update bazelisk version in pre-commit Docker
  .github/pre-commit.Dockerfile
  MODULE.bazel.lock
  gazelle/MODULE.bazel
Due: buildifier

feat(androidNinja): initial toolchain options
  core/toolchain/clang.go
Due: go-fmt

fix(ci): bazel fail
  .github/workflows/ci.yml
  MODULE.bazel
  MODULE.bazel.lock
  gazelle/MODULE.bazel
Due: buildifier

fix(ci): ignore new flake warning F824
  .pre-commit-config.yaml
Due: none

feat(androidNinja): add alias actions
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): sharedActions impl
  core/androidninja_backend.go
Due: go-fmt

chore: remove error from androidNinja filegroupActions
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): genStaticActions impl
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): transformSourceActions impl
  core/androidninja_backend.go
Due: go-fmt
