Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: (?x)(
          ^config_system/tests/formatter/|
          gendiffer/tests.*build.ninja|
          gendiffer/tests.*Android.bp|
          gazelle/tests/.*/expectedStderr.txt|
          patches/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt|
            gendiffer/tests.*build.ninja|
            gendiffer/tests.*Android.bp|
            patches/
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck --severity=warning --exclude=1090 # Disable warning for certain quoting
        language: python
        types: [shell]
        require_serial: true

  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
        name: reuse
        entry: reuse
        args: ["lint"]
        language: python
        pass_filenames: false
        description: "Lint the project directory for compliance with the REUSE Specification"
        language_version: python3
        types_or:
          - text
          - binary

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

      - id: bpfmt
        name: "blueprint formatter"
        entry: bazelisk run //:bpfmt_wrapper -- -w
        language: system
        files: ^.*build.bp$
        types_or: [text]
        require_serial: true

refactor(gazelle): add a new logic module
  gazelle/logic/BUILD.bazel
  gazelle/logic/builder/BUILD.bazel
  gazelle/logic/builder/builder.go
  gazelle/logic/flatten.go
  gazelle/logic/flatten_test.go
  gazelle/logic/logic.go
  gazelle/logic/logic_test.go
Due: go-fmt, buildifier

refactor(gazelle): add a bp builder module
  gazelle/blueprint/builder/BUILD.bazel
  gazelle/blueprint/builder/attr/BUILD.bazel
  gazelle/blueprint/builder/attr/additive.go
  gazelle/blueprint/builder/attr/attr.go
  gazelle/blueprint/builder/attr/ignored.go
  gazelle/blueprint/builder/attr/immutable.go
  gazelle/blueprint/builder/attr/selective.go
  gazelle/blueprint/builder/bp2bzl/BUILD.bazel
  gazelle/blueprint/builder/bp2bzl/bp2bzl.go
  gazelle/blueprint/builder/builder.go
Due: go-fmt, buildifier

refactor(gazelle): add a new mconfig parser
  gazelle/configure.go
  gazelle/generate.go
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/mconfig/parser/parser.go
Due: go-fmt, buildifier

refactor(gazelle): construct the config
  gazelle/config/BUILD.bazel
  gazelle/config/config.go
Due: go-fmt, buildifier

refactor(gazelle): remove module
  gazelle/BUILD.bazel
  gazelle/module/BUILD.bazel
  gazelle/module/module.go
Due: go-fmt, buildifier

refactor(gazelle): add a test update script
  gazelle/tests/update_failed.sh
Due: none

refactor(gazelle): add a mconfig builder
  gazelle/mconfig/builder/BUILD.bazel
  gazelle/mconfig/builder/builder.go
Due: go-fmt, buildifier

refactor(gazelle): switch generation from legacy
  gazelle/configure.go
  gazelle/generate.go
  gazelle/tests/all_known_modules/BUILD.out
  gazelle/tests/all_known_modules/expectedStderr.txt
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/generate_filegroup/internal/BUILD.out
  gazelle/tests/generate_library/BUILD.out
  gazelle/tests/load_statement/BUILD.out
  gazelle/tests/map_kinds/BUILD.out
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/internal/BUILD.out
  gazelle/tests/merge_attrs/BUILD.out
  gazelle/tests/multirepo/repo1/BUILD.out
  gazelle/tests/multirepo/repo2/BUILD.out
  gazelle/tests/no_build_bp_file/BUILD.out
  gazelle/tests/no_build_bp_file/expectedExitCode.txt
  gazelle/tests/no_build_bp_file/expectedStderr.txt
  gazelle/tests/preserve_order/BUILD.out
  gazelle/tests/preserve_order/internal/BUILD.out
Due: go-fmt

refactor(gazelle): add a generic slice Contains
  gazelle/util/util.go
Due: go-fmt

refactor(gazelle): remove unused bp parser code
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser.go
  gazelle/blueprint/parser/parser_test.go
Due: go-fmt, buildifier

refactor(gazelle): remove unused generate code
  gazelle/generate.go
Due: go-fmt

refactor(gazelle): remove unused registry module
  gazelle/BUILD.bazel
  gazelle/language.go
  gazelle/registry/BUILD.bazel
  gazelle/registry/registry.go
  gazelle/registry/registry_test.go
Due: go-fmt, buildifier

refactor(gazelle): remove unused mconfig parser code
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/mconfig/parser/config_test.go
  gazelle/mconfig/parser/parser.go
Due: go-fmt, buildifier

refactor(gazelle): remove unused config code
  gazelle/config/config.go
  gazelle/configure.go
Due: go-fmt

refactor(gazelle): remove dep on bob core
  gazelle/BUILD.bazel
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser_test.go
  gazelle/mconfig/builder/BUILD.bazel
  gazelle/mconfig/builder/builder.go
Due: go-fmt, buildifier

refactor(gazelle): rename kinds to info
  gazelle/BUILD.bazel
  gazelle/blueprint/builder/BUILD.bazel
  gazelle/blueprint/builder/builder.go
  gazelle/info/BUILD.bazel
  gazelle/info/info.go
  gazelle/kinds.go
  gazelle/mconfig/builder/BUILD.bazel
  gazelle/mconfig/builder/builder.go
Due: go-fmt, buildifier

refactor(gazelle): remove duplicate library
  gazelle/blueprint/builder/bp2bzl/BUILD.bazel
Due: buildifier

refactor(gazelle): clean up comments and unused code
  gazelle/blueprint/builder/builder.go
Due: go-fmt

chore(gazelle): update intergration_tests
  gazelle/tests/integration_tests/simple/BUILD.bazel
Due: buildifier

refactor(gazelle): add mapper module
  gazelle/mapper/BUILD.bazel
  gazelle/mapper/mapper.go
  gazelle/mapper/mapper_test.go
Due: go-fmt, buildifier

refactor(gazelle): move kinds to a module
  gazelle/BUILD.bazel
  gazelle/generate.go
  gazelle/kinds.go
  gazelle/kinds/BUILD.bazel
  gazelle/kinds/kinds.go
Due: go-fmt, buildifier

refactor(gazelle): add new bp parser impl
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser.go
  gazelle/configure.go
Due: go-fmt, buildifier

chore(plugin): configure gazelle & update
  gazelle/BUILD.bazel
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/registry/BUILD.bazel
  gazelle/util/BUILD.bazel
Due: buildifier
