Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

chore: add variants library test case
  tests/gendiffer/libraries/variants/WORKSPACE
  tests/gendiffer/libraries/variants/app/bplist
  tests/gendiffer/libraries/variants/app/build.bp
  tests/gendiffer/libraries/variants/app/plugins/Android.bp.in
  tests/gendiffer/libraries/variants/out/android/Android.bp.out
  tests/gendiffer/libraries/variants/out/android/bob_warnings.csv
  tests/gendiffer/libraries/variants/out/android/expectedExitCode.int
  tests/gendiffer/libraries/variants/out/android/expectedStderr.txt
  tests/gendiffer/libraries/variants/out/android/expectedStdout.txt
  tests/gendiffer/libraries/variants/out/linux/build.ninja.out
  tests/gendiffer/libraries/variants/out/linux/expectedExitCode.int
  tests/gendiffer/libraries/variants/out/linux/expectedStderr.txt
  tests/gendiffer/libraries/variants/out/linux/expectedStdout.txt
Due: buildifier

refactor(backend): make sharedActions generic
  core/linux_cclibs.go
Due: go-fmt

feat(cclibs): make bob_library splittable
  core/androidbp_cclibs.go
  core/strict_library.go
  tests/gendiffer/libraries/mixed/app/build.bp
  tests/gendiffer/libraries/mixed/out/android/Android.bp.out
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
  tests/reexport_libs/build.bp
  tests/strict_libs/static/build.bp
Due: go-fmt

feat(flags): add string slice converter
  core/flag/flag_collection.go
  core/flag/flag_collection_test.go
Due: go-fmt

refactor(cclibs): remove unused funcs
  core/linux_cclibs.go
Due: go-fmt

feat(deps): add shared dep tagging to new lib
  core/build_structs.go
  core/strict_library.go
  tests/gendiffer/libraries/app/nested/build.bp
  tests/gendiffer/libraries/out/android/Android.bp.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

feat(libs): implement shared build for bob_library
  core/linux_cclibs.go
  core/strict_library.go
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

feat(cclibs): move ObjDir to generator
  core/linux_cclibs.go
  core/strict_library.go
Due: go-fmt

refactor(cclibs): seperate phony actions
  core/linux_cclibs.go
Due: go-fmt

refactor(backend): remove legacy prop exporter funcs
  core/external_library.go
  core/library.go
  core/property_exporter.go
Due: go-fmt

refactor(backend): remove property exporter if
  Blueprints
  core/BUILD.bazel
  core/external_library.go
  core/library.go
Due: go-fmt, buildifier

chore: move lib tests under new dir
  tests/gendiffer/libraries/mixed/WORKSPACE
  tests/gendiffer/libraries/mixed/app/bplist
  tests/gendiffer/libraries/mixed/app/build.bp
  tests/gendiffer/libraries/mixed/app/nested/build.bp
  tests/gendiffer/libraries/mixed/app/plugins/Android.bp.in
  tests/gendiffer/libraries/mixed/out/android/Android.bp.out
  tests/gendiffer/libraries/mixed/out/android/bob_warnings.csv
  tests/gendiffer/libraries/mixed/out/android/expectedExitCode.int
  tests/gendiffer/libraries/mixed/out/android/expectedStderr.txt
  tests/gendiffer/libraries/mixed/out/android/expectedStdout.txt
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
  tests/gendiffer/libraries/mixed/out/linux/expectedExitCode.int
  tests/gendiffer/libraries/mixed/out/linux/expectedStderr.txt
  tests/gendiffer/libraries/mixed/out/linux/expectedStdout.txt
Due: buildifier

refactor(backend): make library args getter generic
  core/library.go
  core/linux_cclibs.go
  tests/gendiffer/ldlibs_export/out/linux/build.ninja.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

refactor(backend): make getSharedLibFlags generic
  core/library.go
  core/linux_cclibs.go
Due: go-fmt

feat(backend): switch ldlibs and ldflags to use flag if
  core/external_library.go
  core/flag/flag.go
  core/library.go
  core/linux_cclibs.go
  core/property_exporter.go
Due: go-fmt

feat(deps): add generic deps tag
  core/build_structs.go
  core/library.go
  core/standalone.go
  core/tag.go
Due: go-fmt

feat(cclibs): switch binary outs to file if
  core/linux_cclibs.go
Due: go-fmt

feat(cclibs): switch android backend to generic lib
  core/androidbp_cclibs.go
  tests/gendiffer/libraries/out/android/Android.bp.out
Due: go-fmt

fix: replace type comparisons with `is`
  config_system/config_system/expr.py
  config_system/config_system/general.py
Due: none

fix: remove the superfluous static dep
  core/standalone.go
  core/strict_library.go
  tests/gendiffer/libraries/mixed/out/android/Android.bp.out
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
  tests/strict_libs/static/build.bp
  tests/strict_libs/static/src/main_forwarded.cpp
Due: go-fmt

feat(bob_binary): stub out generators
  Blueprints
  core/BUILD.bazel
  core/androidbp_cclibs.go
  core/build_structs.go
  core/linux_cclibs.go
  core/strict_binary.go
Due: go-fmt, buildifier

chore(bob_binary): register module
  core/build_structs.go
  core/strict_binary.go
Due: go-fmt

test: add strict_binary test
  tests/bplist
  tests/build.bp
  tests/strict_binary/build.bp
  tests/strict_binary/helper.c
  tests/strict_binary/main.c
Due: none

chore(bob_executable): error on android backend enabled.
  core/androidbp_cclibs.go
  core/strict_binary.go
  tests/strict_binary/build.bp
Due: go-fmt

feat(bob_executable): linux generator
  core/build_structs.go
  core/linux_cclibs.go
  core/strict_binary.go
  core/strict_library.go
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
Due: go-fmt

test(bob_executable): gendiffer for toolchain type
  tests/gendiffer/strict_binary/WORKSPACE
  tests/gendiffer/strict_binary/app/bplist
  tests/gendiffer/strict_binary/app/build.bp
  tests/gendiffer/strict_binary/app/plugins/Android.bp.in
  tests/gendiffer/strict_binary/out/android/expectedExitCode.int
  tests/gendiffer/strict_binary/out/android/expectedStderr.txt
  tests/gendiffer/strict_binary/out/android/expectedStdout.txt
  tests/gendiffer/strict_binary/out/linux/build.ninja.out
  tests/gendiffer/strict_binary/out/linux/expectedExitCode.int
  tests/gendiffer/strict_binary/out/linux/expectedStderr.txt
  tests/gendiffer/strict_binary/out/linux/expectedStdout.txt
Due: buildifier

fix(bob_executable): bob_install_group support
  core/strict_binary.go
  tests/gendiffer/strict_binary/app/build.bp
  tests/gendiffer/strict_binary/out/linux/build.ninja.out
Due: go-fmt

fix: make strict library featurable
  core/androidbp_cclibs.go
  core/strict_binary.go
  core/strict_library.go
  tests/gendiffer/strict_binary/app/build.bp
  tests/gendiffer/strict_binary/out/android/expectedStderr.txt
  tests/strict_binary/build.bp
Due: go-fmt

fix: change strict includes to be local
  core/strict_library.go
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
