Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

feature(filegroup): implement target syntax
  .gitignore
  Blueprints
  bob.bootstrap.version
  bootstrap.bash
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_filegroup.go
  core/androidbp_generated.go
  core/androidbp_kernel_module.go
  core/androidbp_resource.go
  core/build_structs.go
  core/defaults.go
  core/filegroup.go
  core/gen_library.go
  core/generated.go
  core/glob.go
  core/install.go
  core/late_template.go
  core/legacy_source_props.go
  core/library.go
  core/linux_cclibs.go
  core/linux_kernel_module.go
  core/source_props.go
  core/strict_library.go
  core/strict_linux_cclibs.go
  docs/module_types/bob_filegroup.md
  internal/graph/graph.go
  internal/utils/utils.go
  internal/utils/utils_test.go
  internal/warnings/warnings.go
  tests/bootstrap_linux
  tests/bplist
  tests/filegroups/deprecated/build.bp
  tests/globs/build.bp
  tests/strict_libs/interopt/build.bp
  tests/strict_libs/static/build.bp
Due: go-fmt, buildifier

feature(depmap): implement a simple dep map module
  Blueprints
  core/BUILD.bazel
  core/filegroup.go
  internal/depmap/BUILD.bazel
  internal/depmap/depmap.go
  internal/depmap/depmap_test.go
Due: go-fmt, buildifier

feature(filegroup): implement target syntax
  .gitignore
  Blueprints
  bob.bootstrap.version
  bootstrap.bash
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_filegroup.go
  core/androidbp_generated.go
  core/androidbp_kernel_module.go
  core/androidbp_resource.go
  core/build_structs.go
  core/defaults.go
  core/filegroup.go
  core/gen_library.go
  core/generated.go
  core/glob.go
  core/install.go
  core/late_template.go
  core/legacy_source_props.go
  core/library.go
  core/linux_cclibs.go
  core/linux_kernel_module.go
  core/source_props.go
  core/strict_library.go
  core/strict_linux_cclibs.go
  docs/module_types/bob_filegroup.md
  docs/warnings/deprecated-filegroup-srcs.md
  internal/graph/graph.go
  internal/utils/utils.go
  internal/utils/utils_test.go
  internal/warnings/warnings.go
  tests/bootstrap_linux
  tests/bplist
  tests/filegroups/deprecated/build.bp
  tests/globs/build.bp
  tests/strict_libs/interopt/build.bp
  tests/strict_libs/static/build.bp
Due: go-fmt, buildifier

refactor: split library into modules
  Blueprints
  core/BUILD.bazel
  core/binary.go
  core/build.go
  core/build_props.go
  core/common_props.go
  core/dep_sorter.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/property_exporter.go
Due: go-fmt, buildifier

chore: export `Featurable` interface
  core/alias.go
  core/androidbp_backend.go
  core/build.go
  core/build_props.go
  core/build_structs.go
  core/defaults.go
  core/dep_sorter.go
  core/external_library.go
  core/filegroup.go
  core/gen_library.go
  core/generated.go
  core/install.go
  core/kernel_module.go
  core/late_template.go
  core/library.go
  core/linux_backend.go
  core/properties.go
  core/splitter.go
  core/standalone.go
  core/strict_library.go
  core/strip.go
  core/toolchain.go
  mconfig/host_toolchain.Mconfig
  mconfig/target_toolchain.Mconfig
  tests/filegroups/build.bp
Due: go-fmt

feat: make new `PropertiesProvider` interface
  core/alias.go
  core/binary.go
  core/defaults.go
  core/external_library.go
  core/filegroup.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/glob.go
  core/install.go
  core/kernel_module.go
  core/library_shared.go
  core/library_static.go
  core/standalone.go
  core/strict_library.go
Due: go-fmt

feat: Parse Bob's module features
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
  gazelle/bob_parser_test.go
  gazelle/config.go
  gazelle/deps.bzl
  gazelle/module.go
  gazelle/registry_test.go
  gazelle/tests/example/Mconfig
  gazelle/tests/example/build.bp
Due: go-fmt, buildifier

chore: add bpfmt to pre-commit
  .github/pre-commit.Dockerfile
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  BUILD.bazel
  bpfmt_wrapper.sh
  gazelle/tests/example/build.bp
  tests/filegroups/build.bp
  tests/filegroups/deprecated/build.bp
  tests/flag_supported/build.bp
  tests/generate_source/build.bp
  tests/generate_source_new/build.bp
  tests/generated_headers/build.bp
  tests/globs/build.bp
  tests/header_libs/build.bp
  tests/kernel_module/build.bp
  tests/strict_libs/interopt/build.bp
  tests/strict_libs/shared/build.bp
  tests/strict_libs/static/build.bp
Due: buildifier

test: add tests for config.go
  gazelle/BUILD.bazel
  gazelle/config_test.go
Due: go-fmt, buildifier

chore: add type to `BobModule`
  gazelle/bob_parser.go
  gazelle/module.go
  gazelle/registry_test.go
Due: go-fmt

feature(bob): add generation tests
  .pre-commit-config.yaml
  gendiffer/BUILD.bazel
  gendiffer/README.md
  gendiffer/bob.android.config
  gendiffer/bob.android.config.d
  gendiffer/bob.android.config.json
  gendiffer/bob.linux.config
  gendiffer/bob.linux.config.json
  gendiffer/gendiffer.bzl
  gendiffer/gendiffer.go
  gendiffer/go.mod
  tests/gendiffer/BUILD.bazel
  tests/gendiffer/example/WORKSPACE
  tests/gendiffer/example/app/bplist
  tests/gendiffer/example/app/build.bp
  tests/gendiffer/example/app/plugins/Android.bp.in
  tests/gendiffer/example/out/android/Android.bp
  tests/gendiffer/example/out/android/bob_warnings.csv
  tests/gendiffer/example/out/android/expectedStderr.txt
  tests/gendiffer/example/out/android/expectedStdout.txt
  tests/gendiffer/example/out/linux/build.ninja
  tests/gendiffer/example/out/linux/expectedStderr.txt
  tests/gendiffer/example/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat(meta): produce metadata for targets
  BUILD.bazel
  Blueprints
  bob.bootstrap.in
  bob.bootstrap.version
  bootstrap/utils.bash
  core/BUILD.bazel
  core/metadata.go
  core/standalone.go
  tests/bootstrap_linux
Due: go-fmt, buildifier

fix(gendiff): out files and debug
  .gitignore
  gendiffer/gendiffer.go
  tests/gendiffer/example/out/android/Android.bp.out
  tests/gendiffer/example/out/linux/build.ninja.out
Due: go-fmt

chore: add source prop gendiff
  tests/gendiffer/source_props/WORKSPACE
  tests/gendiffer/source_props/app/bplist
  tests/gendiffer/source_props/app/build.bp
  tests/gendiffer/source_props/app/dummy01.c
  tests/gendiffer/source_props/app/dummy02.c
  tests/gendiffer/source_props/app/main.c
  tests/gendiffer/source_props/app/plugins/Android.bp.in
  tests/gendiffer/source_props/app/test_exclude_glob.c
  tests/gendiffer/source_props/app/test_glob.c
  tests/gendiffer/source_props/out/android/Android.bp.out
  tests/gendiffer/source_props/out/android/bob_warnings.csv
  tests/gendiffer/source_props/out/android/expectedStderr.txt
  tests/gendiffer/source_props/out/android/expectedStdout.txt
  tests/gendiffer/source_props/out/linux/build.ninja.out
  tests/gendiffer/source_props/out/linux/expectedStderr.txt
  tests/gendiffer/source_props/out/linux/expectedStdout.txt
Due: buildifier

refactor: split up generated modules
  Blueprints
  core/BUILD.bazel
  core/generated.go
  core/generated_common.go
  core/generated_props.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
Due: go-fmt, buildifier

refactor: rename `BobModule` to `Module`
  gazelle/bob_parser.go
  gazelle/config.go
  gazelle/module.go
  gazelle/registry_test.go
Due: go-fmt

refactor: do not use pointer to interfaces
  gazelle/registry.go
  gazelle/registry_test.go
Due: go-fmt

chore: make `Registry` a part of `BobExtension`
  gazelle/config.go
  gazelle/language.go
Due: go-fmt

chore: add moduletypes & `bobKinds`
  gazelle/kinds.go
  gazelle/module.go
  gazelle/tests/example/expectedStderr.txt
  gazelle/tests/no_build_bp_file/expectedStderr.txt
Due: go-fmt

chore: use constant for `//conditions:default`
  gazelle/bob_parser.go
  gazelle/bob_parser_test.go
Due: go-fmt

feat: add rule generator
  gazelle/BUILD.bazel
  gazelle/generate.go
  gazelle/generator.go
  gazelle/module.go
  gazelle/registry_test.go
  gazelle/tests/generate_filegroup/BUILD.in
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/generate_filegroup/Mconfig
  gazelle/tests/generate_filegroup/README.md
  gazelle/tests/generate_filegroup/WORKSPACE
  gazelle/tests/generate_filegroup/arguments.txt
  gazelle/tests/generate_filegroup/build.bp
  gazelle/tests/generate_filegroup/expectedStderr.txt
Due: go-fmt, buildifier

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
