Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: (?x)(
          ^config_system/tests/formatter/|
          gendiffer/tests.*build.ninja|
          gendiffer/tests.*Android.bp|
          gazelle/tests/.*/expectedStderr.txt|
          patches/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt|
            gendiffer/tests.*build.ninja|
            gendiffer/tests.*Android.bp|
            patches/
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck --severity=warning --exclude=1090 # Disable warning for certain quoting
        language: python
        types: [shell]
        require_serial: true

  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
        name: reuse
        entry: reuse
        args: ["lint"]
        language: python
        pass_filenames: false
        description: "Lint the project directory for compliance with the REUSE Specification"
        language_version: python3
        types_or:
          - text
          - binary

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

      - id: bpfmt
        name: "blueprint formatter"
        entry: bazelisk run //:bpfmt_wrapper -- -w
        language: system
        files: ^.*build.bp$
        types_or: [text]
        require_serial: true

fix: ignore directives not inherited
  gazelle/config.go
  gazelle/config/config.go
  gazelle/tests/multirepo/BUILD.in
  gazelle/tests/multirepo/BUILD.out
  gazelle/tests/multirepo/ignored/BUILD.in
  gazelle/tests/multirepo/ignored/BUILD.out
  gazelle/tests/multirepo/ignored/Mconfig
  gazelle/tests/multirepo/ignored/build.bp
  gazelle/tests/multirepo/repo1/ignored/BUILD.in
  gazelle/tests/multirepo/repo1/ignored/BUILD.out
  gazelle/tests/multirepo/repo1/ignored/Mconfig
  gazelle/tests/multirepo/repo1/ignored/build.bp
  gazelle/tests/multirepo/repo1/ignored/nested/BUILD.in
  gazelle/tests/multirepo/repo1/ignored/nested/BUILD.out
  gazelle/tests/multirepo/repo1/ignored/nested/Mconfig
  gazelle/tests/multirepo/repo1/ignored/nested/build.bp
Due: go-fmt

chore: allow user bazel config
  .bazelrc
  .gitignore
  gazelle/.bazelrc
Due: none

refactor(gazelle): move bp parser to a module
  gazelle/BUILD.bazel
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser.go
  gazelle/blueprint/parser/parser_test.go
  gazelle/bob_parser_test.go
  gazelle/config.go
Due: go-fmt, buildifier

refactor(gazelle): add getter for index
  gazelle/generate.go
  gazelle/module.go
Due: go-fmt

refacto(gazelle): switch to using SetRegistry
  gazelle/config.go
  gazelle/module.go
Due: go-fmt

refactor(gazelle): move GetFeatureCondition to common
  gazelle/common/common.go
  gazelle/module.go
Due: go-fmt

refactor(gazelle): move registry to module
  gazelle/BUILD.bazel
  gazelle/config.go
  gazelle/config_test.go
  gazelle/generate.go
  gazelle/language.go
  gazelle/mconfig_parser.go
  gazelle/module.go
  gazelle/registry/BUILD.bazel
  gazelle/registry/registry.go
  gazelle/registry/registry_test.go
  gazelle/registry_test.go
Due: go-fmt, buildifier

refactor(gazelle): move types
  gazelle/generator.go
  gazelle/module.go
  gazelle/types/BUILD.bazel
  gazelle/types/types.go
Due: go-fmt, buildifier

refactor(gazelle): export bob parser api
  gazelle/bob_parser.go
  gazelle/config.go
Due: go-fmt

refactor(gazelle): move out common vars
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
  gazelle/bob_parser_test.go
  gazelle/common/BUILD.bazel
  gazelle/common/common.go
  gazelle/generate.go
  gazelle/generator.go
  gazelle/module.go
Due: go-fmt, buildifier

refactor(gazelle): re-locate the parser test
  gazelle/BUILD.bazel
  gazelle/config.go
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/mconfig/parser/config_test.go
  gazelle/mconfig/parser/parser.go
Due: go-fmt, buildifier

refactor(gazelle): move mconfig parser to a module
  gazelle/BUILD.bazel
  gazelle/config.go
  gazelle/config_test.go
  gazelle/generate.go
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/mconfig/parser/parser.go
Due: go-fmt, buildifier

refacto(gazelle): move to seperate gomod
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
  gazelle/bob_parser_test.go
  gazelle/generate.go
  gazelle/module/BUILD.bazel
  gazelle/module/module.go
Due: go-fmt, buildifier

refactor(gazelle): move SrcAttribute to types mod
  gazelle/BUILD.bazel
  gazelle/module.go
  gazelle/types/BUILD.bazel
  gazelle/types/types.go
Due: go-fmt, buildifier

refactor(gazelle): re-enable bob parser test
  gazelle/BUILD.bazel
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser_test.go
  gazelle/mconfig/parser/BUILD.bazel
Due: go-fmt, buildifier

refactor(gazelle): re-name config to configure
  gazelle/BUILD.bazel
  gazelle/configure.go
Due: go-fmt, buildifier

refactor(gazelle): move Generator to types
  gazelle/BUILD.bazel
  gazelle/generate.go
  gazelle/generator.go
  gazelle/module.go
  gazelle/types/types.go
Due: go-fmt, buildifier

refacto(gazelle): export AddFeatureAttribute
  gazelle/bob_parser.go
  gazelle/module.go
Due: go-fmt

chore(plugin): configure gazelle & update
  gazelle/BUILD.bazel
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/mconfig/parser/BUILD.bazel
  gazelle/registry/BUILD.bazel
  gazelle/util/BUILD.bazel
Due: buildifier

refactor(gazelle): add mapper module
  gazelle/mapper/BUILD.bazel
  gazelle/mapper/mapper.go
  gazelle/mapper/mapper_test.go
Due: go-fmt, buildifier

refactor(gazelle): add new bp parser impl
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser.go
  gazelle/configure.go
Due: go-fmt, buildifier

refactor(gazelle): move kinds to a module
  gazelle/BUILD.bazel
  gazelle/generate.go
  gazelle/kinds.go
  gazelle/kinds/BUILD.bazel
  gazelle/kinds/kinds.go
Due: go-fmt, buildifier

refactor(gazelle): add result merger
  gazelle/util/BUILD.bazel
  gazelle/util/util.go
Due: go-fmt, buildifier
