Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: ^config_system/tests/formatter/
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

feat: add a single command to update all snapshots
  WORKSPACE
  gendiffer/gendiffer.bzl
  tests/gendiffer/BUILD.bazel
Due: buildifier

chore(gendiff): add matchsrcs coverage
  tests/gendiffer/matchsrcs/WORKSPACE
  tests/gendiffer/matchsrcs/app/bplist
  tests/gendiffer/matchsrcs/app/build.bp
  tests/gendiffer/matchsrcs/app/plugins/Android.bp.in
  tests/gendiffer/matchsrcs/out/android/Android.bp.out
  tests/gendiffer/matchsrcs/out/android/bob_warnings.csv
  tests/gendiffer/matchsrcs/out/android/expectedStderr.txt
  tests/gendiffer/matchsrcs/out/android/expectedStdout.txt
  tests/gendiffer/matchsrcs/out/linux/build.ninja.out
  tests/gendiffer/matchsrcs/out/linux/expectedStderr.txt
  tests/gendiffer/matchsrcs/out/linux/expectedStdout.txt
Due: buildifier

chore(gendiffer): expand the genrule coverage
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/app/nested/build.bp
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
Due: none

chore: add alias to gendiffer tests
  tests/gendiffer/filegroups/app/build.bp
  tests/gendiffer/filegroups/out/android/Android.bp.out
  tests/gendiffer/filegroups/out/linux/build.ninja.out
  tests/gendiffer/resource/app/build.bp
  tests/gendiffer/resource/out/android/Android.bp.out
  tests/gendiffer/resource/out/linux/build.ninja.out
Due: none

chore: move host bin to nested scope
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/app/nested/build.bp
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
Due: none

chore: move filegroups to nested scope
  tests/gendiffer/filegroups/app/bplist
  tests/gendiffer/filegroups/app/build.bp
  tests/gendiffer/filegroups/app/nested/build.bp
  tests/gendiffer/filegroups/out/android/Android.bp.out
  tests/gendiffer/filegroups/out/linux/build.ninja.out
  tests/gendiffer/libraries/app/bplist
  tests/gendiffer/libraries/app/build.bp
  tests/gendiffer/libraries/app/nested/build.bp
  tests/gendiffer/libraries/out/android/Android.bp.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: none

chore(gendiffer): add nested glob coverage
  tests/gendiffer/globs/app/bplist
  tests/gendiffer/globs/app/module/build.bp
  tests/gendiffer/globs/app/module/dir1/func1.c
  tests/gendiffer/globs/app/module/dir2/func2.c
  tests/gendiffer/globs/app/module/main.c
  tests/gendiffer/globs/app/module/src/exclude_this_file.cpp
  tests/gendiffer/globs/app/module/src/inside/a/exclude_this_too.cpp
  tests/gendiffer/globs/app/module/src/inside/a/namespace/func.cpp
  tests/gendiffer/globs/app/module/src/inside/a/namespace/main.cpp
  tests/gendiffer/globs/app/module/test_exclude_glob.c
  tests/gendiffer/globs/app/module/test_glob.c
  tests/gendiffer/globs/out/android/Android.bp.out
  tests/gendiffer/globs/out/linux/build.ninja.out
Due: none

chore: add install tests to gendiffer
  tests/gendiffer/installdeps/WORKSPACE
  tests/gendiffer/installdeps/app/bplist
  tests/gendiffer/installdeps/app/build.bp
  tests/gendiffer/installdeps/app/nested/build.bp
  tests/gendiffer/installdeps/app/plugins/Android.bp.in
  tests/gendiffer/installdeps/out/android/Android.bp.out
  tests/gendiffer/installdeps/out/android/bob_warnings.csv
  tests/gendiffer/installdeps/out/android/expectedStderr.txt
  tests/gendiffer/installdeps/out/android/expectedStdout.txt
  tests/gendiffer/installdeps/out/linux/build.ninja.out
  tests/gendiffer/installdeps/out/linux/expectedStderr.txt
  tests/gendiffer/installdeps/out/linux/expectedStdout.txt
Due: buildifier

chore: add complex sources case to gendiffer
  tests/gendiffer/complex_srcs/WORKSPACE
  tests/gendiffer/complex_srcs/app/bplist
  tests/gendiffer/complex_srcs/app/build.bp
  tests/gendiffer/complex_srcs/app/nested/build.bp
  tests/gendiffer/complex_srcs/app/nested/deep/build.bp
  tests/gendiffer/complex_srcs/app/nested/deep/deep_source_glob_0.cpp
  tests/gendiffer/complex_srcs/app/nested/deep/deep_source_glob_1.cpp
  tests/gendiffer/complex_srcs/app/plugins/Android.bp.in
  tests/gendiffer/complex_srcs/app/source_glob_0.cpp
  tests/gendiffer/complex_srcs/app/source_glob_1.cpp
  tests/gendiffer/complex_srcs/out/android/Android.bp.out
  tests/gendiffer/complex_srcs/out/android/bob_warnings.csv
  tests/gendiffer/complex_srcs/out/android/expectedStderr.txt
  tests/gendiffer/complex_srcs/out/android/expectedStdout.txt
  tests/gendiffer/complex_srcs/out/linux/build.ninja.out
  tests/gendiffer/complex_srcs/out/linux/expectedStderr.txt
  tests/gendiffer/complex_srcs/out/linux/expectedStdout.txt
Due: buildifier

fix: insert load statement for `selects.config_setting_group`
  gazelle/generate.go
Due: go-fmt

feat: generate `select.config_setting_group`
  gazelle/config.go
  gazelle/generate.go
  gazelle/kinds.go
  gazelle/language.go
  gazelle/mconfig_parser.go
  gazelle/registry.go
  gazelle/tests/generate_filegroup/internal/BUILD.out
  gazelle/tests/generate_filegroup/internal/expectedStderr.txt
  gazelle/tests/mconfig/BUILD.in
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/Mconfig
  gazelle/tests/mconfig/README.md
  gazelle/tests/mconfig/WORKSPACE
  gazelle/tests/mconfig/arguments.txt
  gazelle/tests/mconfig/build.bp
  gazelle/tests/mconfig/expectedStderr.txt
  gazelle/tests/mconfig/internal/BUILD.in
  gazelle/tests/mconfig/internal/BUILD.out
  gazelle/tests/mconfig/internal/Mconfig
  gazelle/tests/mconfig/internal/build.bp
  gazelle/tests/mconfig/internal/expectedStderr.txt
Due: go-fmt, buildifier

fix: correct Mconfig sorting
  gazelle/generate.go
  gazelle/mconfig_parser.go
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/internal/BUILD.out
Due: go-fmt

feat(gazelle): add ignore list for build.bp parsing
  gazelle/README.md
  gazelle/bob_parser.go
  gazelle/config.go
  gazelle/config/config.go
  gazelle/tests/ignore_list/BUILD.in
  gazelle/tests/ignore_list/BUILD.out
  gazelle/tests/ignore_list/Mconfig
  gazelle/tests/ignore_list/WORKSPACE
  gazelle/tests/ignore_list/arguments.txt
  gazelle/tests/ignore_list/build.bp
  gazelle/tests/ignore_list/expectedStderr.txt
  gazelle/tests/ignore_list/subdir/BUILD.out
  gazelle/tests/ignore_list/subdir/build.bp
  gazelle/tests/ignore_list/subdir/subdir_nested/build.bp
  gazelle/tests/ignore_list/subdir_two/build.bp
Due: go-fmt, buildifier

chore: add nested tools gendiffer tests
  tests/gendiffer/gensrcs/app/build.bp
  tests/gendiffer/gensrcs/app/nested/build.bp
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
Due: none

feat: sort bp modules by index
  .pre-commit-config.yaml
  WORKSPACE
  gazelle/WORKSPACE
  gazelle/bob_parser.go
  gazelle/generate.go
  gazelle/module.go
  gazelle/patches/BUILD.bazel
  gazelle/patches/blueprint/export_module_pos.patch
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/preserve_order/BUILD.in
  gazelle/tests/preserve_order/BUILD.out
  gazelle/tests/preserve_order/Mconfig
  gazelle/tests/preserve_order/README.md
  gazelle/tests/preserve_order/WORKSPACE
  gazelle/tests/preserve_order/arguments.txt
  gazelle/tests/preserve_order/build.bp
  gazelle/tests/preserve_order/expectedStderr.txt
  gazelle/tests/preserve_order/internal/BUILD.in
  gazelle/tests/preserve_order/internal/BUILD.out
  gazelle/tests/preserve_order/internal/Mconfig
  gazelle/tests/preserve_order/internal/build.bp
  gazelle/tests/preserve_order/internal/expectedStderr.txt
Due: go-fmt, buildifier

refactor: rename `androidGenerateRule` to `ModuleGenrule`
  core/androidbp_cclibs.go
  core/androidbp_generated.go
  core/build_structs.go
  core/linux_generated.go
  core/module_genrule.go
Due: go-fmt

refactor: rename `moduleGlob` to `ModuleGlob`
  core/glob.go
Due: go-fmt

refactor: rename `androidGenerateCommon` to `ModuleGenruleCommon`
  core/androidbp_generated.go
  core/linux_generated.go
  core/module_genrule.go
Due: go-fmt

refactor: rename `filegroup` to `ModuleFilegroup`
  core/androidbp_filegroup.go
  core/build_structs.go
  core/filegroup.go
  core/linux_backend.go
Due: go-fmt

refactor: rename `sharedLibrary` to `ModuleSharedLibrary`
  core/androidbp_cclibs.go
  core/build_structs.go
  core/generated_common.go
  core/graphviz.go
  core/library.go
  core/library_shared.go
  core/linux_cclibs.go
Due: go-fmt

refactor: rename `resource` to `ModuleResource`
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_resource.go
  core/build_structs.go
  core/install.go
  core/linux_backend.go
Due: go-fmt

refactor: rename `strictLibrary` to `ModuleStrictLibrary`
  core/build_structs.go
  core/library.go
  core/linux_cclibs.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

refactor: rename `transformSource` to `ModuleTransformSource`
  core/androidbp_cclibs.go
  core/androidbp_generated.go
  core/build_structs.go
  core/linux_generated.go
  core/module_transform_source.go
Due: go-fmt

refactor: rename `kernelModule` to `ModuleKernelObject`
  core/androidbp_kernel_module.go
  core/build_structs.go
  core/install.go
  core/kernel_module.go
  core/linux_kernel_module.go
Due: go-fmt
