Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: (?x)(
          ^config_system/tests/formatter/|
          gendiffer/tests.*build.ninja|
          gendiffer/tests.*Android.bp|
          gazelle/tests/.*/expectedStderr.txt|
          patches/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt|
            gendiffer/tests.*build.ninja|
            gendiffer/tests.*Android.bp|
            patches/
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck --severity=warning --exclude=1090 # Disable warning for certain quoting
        language: python
        types: [shell]
        require_serial: true

  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
        name: reuse
        entry: reuse
        args: ["lint"]
        language: python
        pass_filenames: false
        description: "Lint the project directory for compliance with the REUSE Specification"
        language_version: python3
        types_or:
          - text
          - binary

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

      - id: bpfmt
        name: "blueprint formatter"
        entry: bazelisk run //:bpfmt_wrapper -- -w
        language: system
        files: ^.*build.bp$
        types_or: [text]
        require_serial: true

fix: remove implicit files from `getPhonyFiles`
  core/linux_backend.go
  gendiffer/tests/generate_shared_library/install/out/linux/build.ninja.out
  gendiffer/tests/generate_shared_library/rename/out/linux/build.ninja.out
  gendiffer/tests/generate_shared_library/simple/out/linux/build.ninja.out
  gendiffer/tests/generate_shared_library/tagable/out/linux/build.ninja.out
  gendiffer/tests/generate_static_library/install/out/linux/build.ninja.out
  gendiffer/tests/generate_static_library/simple/out/linux/build.ninja.out
Due: go-fmt

refactor: remove implicitOutputs
  core/build_structs.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/kernel_module.go
  core/library_shared.go
  core/library_static.go
  core/linux_backend.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/module_transform_source.go
  core/strict_library.go
Due: go-fmt

refactor: remove unused functions
  core/generated.go
Due: go-fmt

feat(file): add common filters for outfiles
  core/file/provider.go
Due: go-fmt

refactor: standardise `implicitOutputs`
  core/binary.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/generated_common.go
  core/kernel_module.go
  core/library_shared.go
  core/library_static.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/module_transform_source.go
  core/strict_library.go
Due: go-fmt

refactor: remove `filesToInstall`
  core/binary.go
  core/file/file.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated_common.go
  core/install.go
  core/kernel_module.go
  core/library_shared.go
  core/library_static.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/module_generate_source.go
  core/module_transform_source.go
  core/strict_binary.go
  core/strict_library.go
Due: go-fmt

refactor: standardise `outputs()`
  core/binary.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/generated_common.go
  core/kernel_module.go
  core/library_shared.go
  core/library_static.go
  core/linux_cclibs.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/module_transform_source.go
  core/strict_binary.go
  core/strict_library.go
  gendiffer/tests/legacy/libraries/mixed/out/linux/build.ninja.out
  gendiffer/tests/library/featureable/out/linux/build.ninja.out
  gendiffer/tests/library/install_group/out/linux/build.ninja.out
  gendiffer/tests/library/mteprops/out/linux/build.ninja.out
  gendiffer/tests/library/tagable/out/linux/build.ninja.out
  gendiffer/tests/library/targetable/out/linux/build.ninja.out
  gendiffer/tests/shared_library/install/out/linux/build.ninja.out
  gendiffer/tests/test/library_deps/out/linux/build.ninja.out
  gendiffer/tests/toolchain/simple/flags/out/linux/build.ninja.out
  gendiffer/tests/toolchain/strip/out/linux/build.ninja.out
  gendiffer/tests/toolchain/strip_with_debug_info/out/linux/build.ninja.out
  gendiffer/tests/toolchain/tagable/out/linux/build.ninja.out
Due: go-fmt

refactor: remove `outputs()`
  core/binary.go
  core/build_structs.go
  core/external_library.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/kernel_module.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/linux_generated.go
  core/linux_kernel_module.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/module_transform_source.go
  core/strict_binary.go
  core/strict_library.go
Due: go-fmt

refactor: remove `getPhonyFiles`
  core/linux_backend.go
  core/linux_cclibs.go
  core/linux_generated.go
  core/linux_kernel_module.go
Due: go-fmt

feat(file): allow adding additional tags on links
  core/file/file.go
  core/file/file_test.go
  core/library_shared.go
Due: go-fmt

chore: make dependentInterface also require file
  core/build_structs.go
  core/gen_library.go
  core/kernel_module.go
  core/linux_cclibs.go
Due: go-fmt

chore: shared lib install test
  gendiffer/tests/shared_library/install/WORKSPACE
  gendiffer/tests/shared_library/install/app/bplist
  gendiffer/tests/shared_library/install/app/build.bp
  gendiffer/tests/shared_library/install/app/plugins/Android.bp.in
  gendiffer/tests/shared_library/install/out/android/Android.bp.out
  gendiffer/tests/shared_library/install/out/android/bob_warnings.csv
  gendiffer/tests/shared_library/install/out/android/expectedExitCode.int
  gendiffer/tests/shared_library/install/out/android/expectedStderr.txt
  gendiffer/tests/shared_library/install/out/android/expectedStdout.txt
  gendiffer/tests/shared_library/install/out/linux/build.ninja.out
  gendiffer/tests/shared_library/install/out/linux/expectedExitCode.int
  gendiffer/tests/shared_library/install/out/linux/expectedStderr.txt
  gendiffer/tests/shared_library/install/out/linux/expectedStdout.txt
Due: buildifier

chore(bob_test): add `tags` prop test
  gendiffer/tests/test/tagable/WORKSPACE
  gendiffer/tests/test/tagable/app/bplist
  gendiffer/tests/test/tagable/app/build.bp
  gendiffer/tests/test/tagable/app/plugins/Android.bp.in
  gendiffer/tests/test/tagable/out/android/Android.bp.out
  gendiffer/tests/test/tagable/out/android/expectedExitCode.int
  gendiffer/tests/test/tagable/out/android/expectedStderr.txt
  gendiffer/tests/test/tagable/out/android/expectedStdout.txt
  gendiffer/tests/test/tagable/out/linux/build.ninja.out
  gendiffer/tests/test/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/test/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/test/tagable/out/linux/expectedStdout.txt
Due: buildifier

feat(bob_test): add vendor tag support
  core/androidbp_cclibs.go
  gendiffer/tests/test/tagable/out/android/Android.bp.out
Due: go-fmt

docs(bob_test): add basic docs
  docs/index.md
  docs/module_types/bob_test.md
Due: none

feat: add a simple toolchain mapper
  Blueprints
  core/toolchain/mapper/BUILD.bazel
  core/toolchain/mapper/mapper.go
  core/toolchain/mapper/mapper_test.go
Due: go-fmt, buildifier

feat: implement `bob_toolchain` defaults
  Blueprints
  core/BUILD.bazel
  core/build_structs.go
  core/module_toolchain.go
  core/standalone.go
  docs/module_types/bob_toolchain.md
  gendiffer/tests/toolchain/nesting/WORKSPACE
  gendiffer/tests/toolchain/nesting/app/bplist
  gendiffer/tests/toolchain/nesting/app/build.bp
  gendiffer/tests/toolchain/nesting/app/inherits/build.bp
  gendiffer/tests/toolchain/nesting/app/inherits/overwrite/build.bp
  gendiffer/tests/toolchain/nesting/app/inherits/overwrite/parent/build.bp
  gendiffer/tests/toolchain/nesting/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/nesting/out/android/Android.bp.out
  gendiffer/tests/toolchain/nesting/out/android/bob_warnings.csv
  gendiffer/tests/toolchain/nesting/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/nesting/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/nesting/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/nesting/out/linux/build.ninja.out
  gendiffer/tests/toolchain/nesting/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/nesting/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/nesting/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

chore(bob_toolchain): add tag test case
  gendiffer/tests/toolchain/tagable/app/build.bp
  gendiffer/tests/toolchain/tagable/out/android/Android.bp.out
  gendiffer/tests/toolchain/tagable/out/linux/build.ninja.out
Due: none

feat: forward tags from bob_toolchain
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_filegroup.go
  core/androidbp_kernel_module.go
  core/androidbp_resource.go
  docs/module_types/bob_toolchain.md
  gendiffer/tests/toolchain/tagable/out/android/Android.bp.out
Due: go-fmt

chore(bob_toolchain): support for build_wrapper prop
  core/module_toolchain.go
  gendiffer/tests/toolchain/build_wrapper/WORKSPACE
  gendiffer/tests/toolchain/build_wrapper/app/bplist
  gendiffer/tests/toolchain/build_wrapper/app/build.bp
  gendiffer/tests/toolchain/build_wrapper/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/build_wrapper/out/android/Android.bp.out
  gendiffer/tests/toolchain/build_wrapper/out/android/bob_warnings.cvs
  gendiffer/tests/toolchain/build_wrapper/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/build_wrapper/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/build_wrapper/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/build_wrapper/out/linux/build.ninja.out
  gendiffer/tests/toolchain/build_wrapper/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/build_wrapper/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/build_wrapper/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

refactor: generic `BackendConfigurationProvider`
  core/androidbp_cclibs.go
  core/binary.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/linux_backend.go
  core/module_toolchain.go
  core/strict_library.go
Due: go-fmt

feat: enable build_wrapper for bob_toolchain
  core/module_toolchain.go
  gendiffer/tests/toolchain/build_wrapper/out/linux/build.ninja.out
Due: go-fmt

refactor: move GetBuildWrapperAndDeps to backend cfg
  core/linux_cclibs.go
  core/module_toolchain.go
  core/strict_library.go
Due: go-fmt

feat: add support for local wrapper
  core/module_toolchain.go
  gendiffer/tests/toolchain/build_wrapper/app/build.bp
  gendiffer/tests/toolchain/build_wrapper/out/android/Android.bp.out
  gendiffer/tests/toolchain/build_wrapper/out/linux/build.ninja.out
Due: go-fmt
