Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

refactor: move config props
  Blueprints
  core/BUILD.bazel
  core/build_structs.go
  core/config/BUILD.bazel
  core/config/config.go
  core/feature.go
  core/feature_test.go
  core/generated_common.go
  core/module/BUILD.bazel
  core/template.go
  core/template_test.go
Due: go-fmt, buildifier

refactor: split toolchain code into seperate files
  Blueprints
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/build.go
  core/build_structs.go
  core/defaults.go
  core/dep_sorter.go
  core/external_library.go
  core/generated_common.go
  core/install.go
  core/library.go
  core/linux_backend.go
  core/properties.go
  core/standalone.go
  core/strict_library.go
  core/strict_linux_cclibs.go
  core/toolchain.go
  core/toolchain_armclang.go
  core/toolchain_clang.go
  core/toolchain_gnu.go
  core/toolchain_linker.go
  core/toolchain_linker_xcode.go
  core/toolchain_xcode.go
Due: go-fmt, buildifier

refactor: move toolchain into a module
  Blueprints
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/build.go
  core/build_props.go
  core/build_structs.go
  core/defaults.go
  core/dep_sorter.go
  core/external_library.go
  core/gen_library.go
  core/generated_common.go
  core/generated_props.go
  core/install.go
  core/late_template.go
  core/library.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/properties.go
  core/splitter.go
  core/standalone.go
  core/strict_library.go
  core/strict_linux_cclibs.go
  core/strip.go
  core/toolchain/BUILD.bazel
  core/toolchain/armclang.go
  core/toolchain/clang.go
  core/toolchain/gnu.go
  core/toolchain/linker.go
  core/toolchain/toolchain.go
  core/toolchain/xcode.go
  core/toolchain/xcode_linker.go
  core/toolchain_linker_xcode.go
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
Due: go-fmt, buildifier

feature(64bit-only): add 64bit only targets
  core/androidbp_cclibs.go
  core/toolchain.go
  core/toolchain_armclang.go
  core/toolchain_clang.go
  core/toolchain_gnu.go
  core/toolchain_xcode.go
  gendiffer/bob.android.config.json
  gendiffer/bob.linux.config.json
  mconfig/host_toolchain.Mconfig
  mconfig/target_toolchain.Mconfig
Due: go-fmt

refactor: remove backend from toolchain API
  core/androidbp_backend.go
  core/linux_backend.go
  core/toolchain.go
  core/toolchain_armclang.go
  core/toolchain_clang.go
  core/toolchain_gnu.go
  core/toolchain_xcode.go
Due: go-fmt

fix(toolchain): fixes search and replace bug
  core/toolchain/clang.go
  core/toolchain/gnu.go
Due: go-fmt

chore(refactor): Switch source handling to tags
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_generated.go
  core/androidbp_kernel_module.go
  core/androidbp_resource.go
  core/binary.go
  core/build_structs.go
  core/filegroup.go
  core/filepath.go
  core/filepaths.go
  core/filepaths_test.go
  core/gen_library.go
  core/gen_shared.go
  core/glob.go
  core/install.go
  core/late_template.go
  core/legacy_source_props.go
  core/library.go
  core/linux_cclibs.go
  core/linux_kernel_module.go
  core/metadata.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
  core/standalone.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

refactor(file): move file handling to a module
  Blueprints
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_generated.go
  core/androidbp_kernel_module.go
  core/androidbp_resource.go
  core/binary.go
  core/file/BUILD.bazel
  core/file/factory.go
  core/file/file.go
  core/file/file_test.go
  core/file/filegroup.go
  core/filegroup.go
  core/filepath.go
  core/gen_library.go
  core/gen_shared.go
  core/glob.go
  core/install.go
  core/late_template.go
  core/legacy_source_props.go
  core/library.go
  core/linux_cclibs.go
  core/linux_kernel_module.go
  core/metadata.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
  core/standalone.go
  core/strict_library.go
  core/strict_linux_cclibs.go
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
Due: go-fmt, buildifier

chore: move `Bob` to Bazel module
  .bazelignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  MODULE.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  core/BUILD.bazel
  deps.bzl
  extensions.bzl
  gazelle/BUILD.bazel
  gazelle/MODULE.bazel
  gazelle/WORKSPACE
  gazelle/WORKSPACE.bzlmod
  internal/escape/BUILD.bazel
  patches/BUILD.bazel
  patches/blueprint/0001-feat-visit-modules-with-position.patch
Due: buildifier

refactor(file): remove resolve stage from gen libs srcs
  core/gen_binary.go
  core/gen_library.go
  core/gen_shared.go
  core/gen_static.go
Due: go-fmt

fix: correct versioned shared library symlinks order
  core/linux_backend.go
  core/linux_cclibs.go
  tests/gendiffer/libraries/app/build.bp
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

refactor(file): remove implicit interface, switch to tags
  core/androidbp_generated.go
  core/gen_library.go
  core/module_generate_source.go
  core/source_props.go
Due: go-fmt

feat: create missing file on UPDATE_SNAPSHOTS
  gendiffer/gendiffer.go
Due: go-fmt

chore: update all gendiffer tests
  tests/gendiffer/complex_srcs/out/android/expectedExitCode.int
  tests/gendiffer/complex_srcs/out/linux/expectedExitCode.int
  tests/gendiffer/example/out/android/expectedExitCode.int
  tests/gendiffer/example/out/linux/expectedExitCode.int
  tests/gendiffer/filegroups/out/android/expectedExitCode.int
  tests/gendiffer/filegroups/out/linux/expectedExitCode.int
  tests/gendiffer/genhdrs/out/android/expectedExitCode.int
  tests/gendiffer/genhdrs/out/linux/expectedExitCode.int
  tests/gendiffer/genlib/out/android/expectedExitCode.int
  tests/gendiffer/genlib/out/linux/expectedExitCode.int
  tests/gendiffer/gensrcs/out/android/expectedExitCode.int
  tests/gendiffer/gensrcs/out/linux/expectedExitCode.int
  tests/gendiffer/gensrcs_new/out/android/expectedExitCode.int
  tests/gendiffer/gensrcs_new/out/linux/expectedExitCode.int
  tests/gendiffer/globs/out/android/expectedExitCode.int
  tests/gendiffer/globs/out/linux/expectedExitCode.int
  tests/gendiffer/installdeps/out/android/expectedExitCode.int
  tests/gendiffer/installdeps/out/linux/expectedExitCode.int
  tests/gendiffer/kmod/out/android/expectedExitCode.int
  tests/gendiffer/kmod/out/linux/expectedExitCode.int
  tests/gendiffer/libraries/out/android/expectedExitCode.int
  tests/gendiffer/libraries/out/linux/expectedExitCode.int
  tests/gendiffer/matchsrcs/out/android/expectedExitCode.int
  tests/gendiffer/matchsrcs/out/linux/expectedExitCode.int
  tests/gendiffer/resource/out/android/expectedExitCode.int
  tests/gendiffer/resource/out/linux/expectedExitCode.int
  tests/gendiffer/source_props/out/android/expectedExitCode.int
  tests/gendiffer/source_props/out/linux/expectedExitCode.int
  tests/gendiffer/template/out/android/expectedExitCode.int
  tests/gendiffer/template/out/linux/expectedExitCode.int
  tests/gendiffer/transformsrcs/out/android/expectedExitCode.int
  tests/gendiffer/transformsrcs/out/linux/expectedExitCode.int
Due: none

fix(genrule): fix `tool_files` property
  core/androidbp_generated.go
  core/build.go
  core/generated.go
  core/generated_common.go
  core/linux_generated.go
  core/module_genrule.go
  tests/gendiffer/gensrcs_new_tool_files_dep/WORKSPACE
  tests/gendiffer/gensrcs_new_tool_files_dep/app/bplist
  tests/gendiffer/gensrcs_new_tool_files_dep/app/build.bp
  tests/gendiffer/gensrcs_new_tool_files_dep/app/plugins/Android.bp.in
  tests/gendiffer/gensrcs_new_tool_files_dep/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new_tool_files_dep/out/android/bob_warnings.csv
  tests/gendiffer/gensrcs_new_tool_files_dep/out/android/expectedExitCode.int
  tests/gendiffer/gensrcs_new_tool_files_dep/out/android/expectedStderr.txt
  tests/gendiffer/gensrcs_new_tool_files_dep/out/android/expectedStdout.txt
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/expectedExitCode.int
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/expectedStderr.txt
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

fix: make `implicits` unique
  core/linux_generated.go
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/build.ninja.out
Due: go-fmt

ci: add goproxy for github actions
  .github/workflows/ci.yml
Due: none

ci: add coverage reporting
  .github/workflows/ci.yml
  MODULE.bazel
  README.md
  WORKSPACE
Due: buildifier

refactor(config): move env vars into config
  Blueprints
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_generated.go
  core/config/BUILD.bazel
  core/config/environment.go
  core/generated_common.go
  core/standalone.go
Due: go-fmt, buildifier

refactor(file): remove custom factory from file
  Blueprints
  core/file/BUILD.bazel
  core/file/factory.go
  core/file/file.go
  core/file/file_test.go
  core/standalone.go
Due: go-fmt, buildifier

refactor(backend): create backend module
  Blueprints
  core/BUILD.bazel
  core/backend/BUILD.bazel
  core/backend/androidbp.go
  core/backend/backend.go
  core/backend/linux.go
  core/backend/mock.go
  core/escape.go
  core/standalone.go
Due: go-fmt, buildifier

refactor(backend): remove ctx from backend init
  core/androidbp_backend.go
  core/build_structs.go
  core/linux_backend.go
  core/standalone.go
Due: go-fmt

chore(gendiffer): add a simple flag test to gendiffer
  tests/gendiffer/simplelib/WORKSPACE
  tests/gendiffer/simplelib/app/bplist
  tests/gendiffer/simplelib/app/build.bp
  tests/gendiffer/simplelib/app/plugins/Android.bp.in
  tests/gendiffer/simplelib/out/android/Android.bp.out
  tests/gendiffer/simplelib/out/android/bob_warnings.csv
  tests/gendiffer/simplelib/out/android/expectedExitCode.int
  tests/gendiffer/simplelib/out/android/expectedStderr.txt
  tests/gendiffer/simplelib/out/android/expectedStdout.txt
  tests/gendiffer/simplelib/out/linux/build.ninja.out
  tests/gendiffer/simplelib/out/linux/expectedExitCode.int
  tests/gendiffer/simplelib/out/linux/expectedStderr.txt
  tests/gendiffer/simplelib/out/linux/expectedStdout.txt
Due: buildifier

refactor(backend): switch backend calls
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/backend/androidbp.go
  core/binary.go
  core/build_structs.go
  core/defaults.go
  core/escape.go
  core/gen_binary.go
  core/gen_shared.go
  core/generated.go
  core/generated_common.go
  core/glob.go
  core/kernel_module.go
  core/late_template.go
  core/legacy_source_props.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/linux_generated.go
  core/module_generate_source.go
  core/module_transform_source.go
  core/source_props.go
  core/standalone.go
  core/strict_linux_cclibs.go
Due: go-fmt

refactor(backend): rename getBackend to getGenerator
  core/alias.go
  core/binary.go
  core/build_props.go
  core/build_structs.go
  core/filegroup.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/generated_common.go
  core/install.go
  core/kernel_module.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
  core/strict_library.go
Due: go-fmt

refactor(config): create mock config
  core/config/config.go
  core/file/file_test.go
Due: go-fmt

refactor(backend): remove generator from ResolveFiles
  core/filegroup.go
  core/gen_library.go
  core/generated_common.go
  core/glob.go
  core/install.go
  core/kernel_module.go
  core/legacy_source_props.go
  core/library.go
  core/linux_generated.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
