Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: (?x)(
          ^config_system/tests/formatter/|
          gendiffer/tests.*build.ninja|
          gendiffer/tests.*Android.bp|
          gazelle/tests/.*/expectedStderr.txt|
          patches/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt|
            gendiffer/tests.*build.ninja|
            gendiffer/tests.*Android.bp|
            patches/
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck --severity=warning --exclude=1090 # Disable warning for certain quoting
        language: python
        types: [shell]
        require_serial: true

  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
        name: reuse
        entry: reuse
        args: ["lint"]
        language: python
        pass_filenames: false
        description: "Lint the project directory for compliance with the REUSE Specification"
        language_version: python3
        types_or:
          - text
          - binary

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

      - id: bpfmt
        name: "blueprint formatter"
        entry: bazelisk run //:bpfmt_wrapper -- -w
        language: system
        files: ^.*build.bp$
        types_or: [text]
        require_serial: true

fix: ci macos-latest
  .github/workflows/ci.yml
Due: none

fix: toolchain flag test
  tests/build.bp
  tests/toolchain_flags/build.bp
Due: none

On-demand feature struct allocation
  core/feature.go
  core/feature_test.go
Due: go-fmt

chore: link library with `-isystem`
  gendiffer/tests/static_library/system_include/WORKSPACE
  gendiffer/tests/static_library/system_include/app/A/header_a.h
  gendiffer/tests/static_library/system_include/app/B/header_b.h
  gendiffer/tests/static_library/system_include/app/bplist
  gendiffer/tests/static_library/system_include/app/build.bp
  gendiffer/tests/static_library/system_include/app/foo.c
  gendiffer/tests/static_library/system_include/app/foo.h
  gendiffer/tests/static_library/system_include/app/plugins/Android.bp.in
  gendiffer/tests/static_library/system_include/out/android/Android.bp.out
  gendiffer/tests/static_library/system_include/out/android/bob_warnings.csv
  gendiffer/tests/static_library/system_include/out/android/expectedExitCode.int
  gendiffer/tests/static_library/system_include/out/android/expectedStderr.txt
  gendiffer/tests/static_library/system_include/out/android/expectedStdout.txt
  gendiffer/tests/static_library/system_include/out/linux/build.ninja.out
  gendiffer/tests/static_library/system_include/out/linux/expectedExitCode.int
  gendiffer/tests/static_library/system_include/out/linux/expectedStderr.txt
  gendiffer/tests/static_library/system_include/out/linux/expectedStdout.txt
Due: buildifier

chore: forward shared library
  gendiffer/tests/static_library/forward_shared_library/WORKSPACE
  gendiffer/tests/static_library/forward_shared_library/app/bplist
  gendiffer/tests/static_library/forward_shared_library/app/build.bp
  gendiffer/tests/static_library/forward_shared_library/app/plugins/Android.bp.in
  gendiffer/tests/static_library/forward_shared_library/out/android/Android.bp.out
  gendiffer/tests/static_library/forward_shared_library/out/android/bob_warnings.csv
  gendiffer/tests/static_library/forward_shared_library/out/android/expectedExitCode.int
  gendiffer/tests/static_library/forward_shared_library/out/android/expectedStderr.txt
  gendiffer/tests/static_library/forward_shared_library/out/android/expectedStdout.txt
  gendiffer/tests/static_library/forward_shared_library/out/linux/build.ninja.out
  gendiffer/tests/static_library/forward_shared_library/out/linux/expectedExitCode.int
  gendiffer/tests/static_library/forward_shared_library/out/linux/expectedStderr.txt
  gendiffer/tests/static_library/forward_shared_library/out/linux/expectedStdout.txt
Due: buildifier

fix: use `OutputFilesProvider`
  plugins/genrulebob/genrule.go
Due: go-fmt

chore: drop the support for `go` <1.18
  .github/workflows/ci.yml
  README.md
Due: none

fix: ninja-build `dupbuild` flag
  MODULE.bazel
  WORKSPACE
  bob.bash
  bootstrap.bash
  bootstrap/utils.bash
  gazelle/WORKSPACE
  gazelle/tests/integration_tests/WORKSPACE
  patches/BUILD.bazel
  patches/blueprint/0003-fix-remove-dupbuild-flag.patch
Due: buildifier

fix: correct error message
  config_system/config_system/general.py
  config_system/update_config.py
Due: none

fix: doc for generate module's `srsc`
  docs/module_types/bob_generate_source.md
  docs/module_types/bob_transform_source.md
Due: none

fix: build_by_default flag
  docs/module_types/bob_generate_binary.md
  docs/module_types/bob_generate_shared_library.md
  docs/module_types/bob_generate_source.md
  docs/module_types/bob_generate_static_library.md
  docs/module_types/bob_resource.md
  docs/module_types/bob_shared_library.md
  docs/module_types/bob_static_library.md
  docs/module_types/bob_transform_source.md
Due: none

fix: pass Bob's dir
  bootstrap.bash
Due: none

fix: plugins with user-settable config only
  bob.bootstrap.version
  config_system/config_system/general.py
  config_system/tests/depends_on_compare.test
  config_system/tests/run_tests.py
  config_system/tests/test_update_config.py
  config_system/update_config.py
  docs/config_system.md
Due: none

fix: bazel coverage
  .github/workflows/ci.yml
  WORKSPACE
Due: buildifier

chore: tidy up applying patches
  bootstrap/utils.bash
Due: none

fix: ugdate to go@1.18
  .github/workflows/ci.yml
  WORKSPACE
  go.mod
Due: buildifier

fix: bring back `set_config_if_prompt` as deprecated
  config_system/config_system/general.py
Due: none

chore: add test plugin
  tests/Mconfig
  tests/bootstrap_linux
  tests/plugins/test_plugin.py
Due: none

chore: update github action verions
  .github/workflows/ci.yml
Due: none

fix: include namepace in rule name
  plugins/genrulebob/genrule.go
Due: go-fmt
