Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

GPUBUILD-3377: Add user settable c style flags to gnu.go
  core/toolchain/clang.go
  core/toolchain/gnu.go
Due: go-fmt

fix: select lld when GNU binutils disabled
  core/toolchain/clang.go
Due: go-fmt

Revert "chore: support A16 in `genrulebob` plugin"
  core/androidbp_backend.go
  internal/soong_compat/soong_compat_04_ModuleProxy.go
  plugins/Android.bp.in
  plugins/genrulebob/genrule_module_proxy.go
Due: go-fmt

replace EXTRA_CFLAGS with CFLAGS_MODULE
  scripts/kmod_build.py
Due: none

fix: split config_system runtime and test Python deps
  .reuse/dep5
  MODULE.bazel
  config_system/requirements_runtime_lock.txt
  config_system/requirements_test_lock.txt
  config_system/tests/BUILD.bazel
Due: buildifier

feat: add cinnamonbun to android_version.py
  scripts/android_version.py
Due: none

fix: add default namespace to Android.bp.in
  plugins/Android.bp.in
Due: none

feat: make soong_namespace generation configurable
  core/androidbp_backend.go
  gendiffer/bob.android.config
  gendiffer/bob.android.config.json
  mconfig/basics.Mconfig
  plugins/Android.bp.in
  tests/bootstrap_androidbp
Due: go-fmt

feat: stub `bob_import_cc` module
  Blueprints
  core/BUILD.bazel
  core/build_structs.go
  core/import_cc.go
Due: go-fmt, buildifier

feat(import_cc): export include dir to shared libraries
  core/import_cc.go
  core/linux_cclibs.go
  gendiffer/tests/cc_import/app/build.bp
  gendiffer/tests/cc_import/app/main.cpp
  gendiffer/tests/cc_import/out/android_oot/expectedExitCode.int
  gendiffer/tests/cc_import/out/android_oot/expectedStderr.txt
  gendiffer/tests/cc_import/out/linux/build.ninja.out
Due: go-fmt

feat(import_cc): add header attribute
  core/import_cc.go
  gendiffer/tests/cc_import/WORKSPACE
  gendiffer/tests/cc_import/app/bplist
  gendiffer/tests/cc_import/app/build.bp
  gendiffer/tests/cc_import/app/libA/includes/a.h
  gendiffer/tests/cc_import/app/libB/includes/b.h
  gendiffer/tests/cc_import/app/plugins/Android.bp.in
  gendiffer/tests/cc_import/out/android/Android.bp.out
  gendiffer/tests/cc_import/out/android/bob_warnings.csv
  gendiffer/tests/cc_import/out/android/expectedExitCode.int
  gendiffer/tests/cc_import/out/android/expectedStderr.txt
  gendiffer/tests/cc_import/out/android/expectedStdout.txt
  gendiffer/tests/cc_import/out/android_oot/build.ninja.out
  gendiffer/tests/cc_import/out/android_oot/expectedExitCode.int
  gendiffer/tests/cc_import/out/android_oot/expectedStderr.txt
  gendiffer/tests/cc_import/out/android_oot/expectedStdout.txt
  gendiffer/tests/cc_import/out/linux/build.ninja.out
  gendiffer/tests/cc_import/out/linux/expectedExitCode.int
  gendiffer/tests/cc_import/out/linux/expectedStderr.txt
  gendiffer/tests/cc_import/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

test(import_cc): add build test for header only import
  tests/bplist
  tests/build.bp
  tests/cc_import/bplist
  tests/cc_import/build.bp
  tests/cc_import/libA/includes/a.h
  tests/cc_import/libA/includes/a2.h
  tests/cc_import/libB/includes/b.h
  tests/cc_import/main.cpp
  tests/cc_import/plugins/Android.bp.in
Due: none

chore(cc_import): restructure cc_import tests
  gendiffer/tests/cc_import/header_only/WORKSPACE
  gendiffer/tests/cc_import/header_only/app/bplist
  gendiffer/tests/cc_import/header_only/app/build.bp
  gendiffer/tests/cc_import/header_only/app/libA/includes/a.h
  gendiffer/tests/cc_import/header_only/app/libB/includes/b.h
  gendiffer/tests/cc_import/header_only/app/main.cpp
  gendiffer/tests/cc_import/header_only/app/plugins/Android.bp.in
  gendiffer/tests/cc_import/header_only/out/android/Android.bp.out
  gendiffer/tests/cc_import/header_only/out/android/bob_warnings.csv
  gendiffer/tests/cc_import/header_only/out/android/expectedExitCode.int
  gendiffer/tests/cc_import/header_only/out/android/expectedStderr.txt
  gendiffer/tests/cc_import/header_only/out/android/expectedStdout.txt
  gendiffer/tests/cc_import/header_only/out/android_oot/build.ninja.out
  gendiffer/tests/cc_import/header_only/out/android_oot/expectedExitCode.int
  gendiffer/tests/cc_import/header_only/out/android_oot/expectedStderr.txt
  gendiffer/tests/cc_import/header_only/out/android_oot/expectedStdout.txt
  gendiffer/tests/cc_import/header_only/out/linux/build.ninja.out
  gendiffer/tests/cc_import/header_only/out/linux/expectedExitCode.int
  gendiffer/tests/cc_import/header_only/out/linux/expectedStderr.txt
  gendiffer/tests/cc_import/header_only/out/linux/expectedStdout.txt
Due: buildifier

feat(import_cc): linkopts added
  core/import_cc.go
  gendiffer/tests/cc_import/linkopts/WORKSPACE
  gendiffer/tests/cc_import/linkopts/app/bplist
  gendiffer/tests/cc_import/linkopts/app/build.bp
  gendiffer/tests/cc_import/linkopts/app/libA/includes/a.h
  gendiffer/tests/cc_import/linkopts/app/main.cpp
  gendiffer/tests/cc_import/linkopts/app/plugins/Android.bp.in
  gendiffer/tests/cc_import/linkopts/out/android/Android.bp.out
  gendiffer/tests/cc_import/linkopts/out/android/bob_warnings.csv
  gendiffer/tests/cc_import/linkopts/out/android/expectedExitCode.int
  gendiffer/tests/cc_import/linkopts/out/android/expectedStderr.txt
  gendiffer/tests/cc_import/linkopts/out/android/expectedStdout.txt
  gendiffer/tests/cc_import/linkopts/out/android_oot/build.ninja.out
  gendiffer/tests/cc_import/linkopts/out/android_oot/expectedExitCode.int
  gendiffer/tests/cc_import/linkopts/out/android_oot/expectedStderr.txt
  gendiffer/tests/cc_import/linkopts/out/android_oot/expectedStdout.txt
  gendiffer/tests/cc_import/linkopts/out/linux/build.ninja.out
  gendiffer/tests/cc_import/linkopts/out/linux/expectedExitCode.int
  gendiffer/tests/cc_import/linkopts/out/linux/expectedStderr.txt
  gendiffer/tests/cc_import/linkopts/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat(import_cc): add `defines` flag
  core/import_cc.go
  gendiffer/tests/cc_import/flags/WORKSPACE
  gendiffer/tests/cc_import/flags/app/bplist
  gendiffer/tests/cc_import/flags/app/build.bp
  gendiffer/tests/cc_import/flags/app/libA/includes/a.h
  gendiffer/tests/cc_import/flags/app/main.cpp
  gendiffer/tests/cc_import/flags/app/plugins/Android.bp.in
  gendiffer/tests/cc_import/flags/out/android/Android.bp.out
  gendiffer/tests/cc_import/flags/out/android/bob_warnings.csv
  gendiffer/tests/cc_import/flags/out/android/expectedExitCode.int
  gendiffer/tests/cc_import/flags/out/android/expectedStderr.txt
  gendiffer/tests/cc_import/flags/out/android/expectedStdout.txt
  gendiffer/tests/cc_import/flags/out/android_oot/build.ninja.out
  gendiffer/tests/cc_import/flags/out/android_oot/expectedExitCode.int
  gendiffer/tests/cc_import/flags/out/android_oot/expectedStderr.txt
  gendiffer/tests/cc_import/flags/out/android_oot/expectedStdout.txt
  gendiffer/tests/cc_import/flags/out/linux/build.ninja.out
  gendiffer/tests/cc_import/flags/out/linux/expectedExitCode.int
  gendiffer/tests/cc_import/flags/out/linux/expectedStderr.txt
  gendiffer/tests/cc_import/flags/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat: add dev to android_version.py
  scripts/android_version.py
Due: none

chore: use CommonModuleInfoProvider
  core/androidbp_backend.go
  internal/soong_compat/soong_compat_05_CommonModuleInfoProvider.go
  plugins/genrulebob/genrule_common_module_info.go
Due: go-fmt

chore: support A16 in `genrulebob` plugin
  core/androidbp_backend.go
  internal/soong_compat/soong_compat_04_ModuleProxy.go
  plugins/Android.bp.in
  plugins/genrulebob/genrule_module_proxy.go
Due: go-fmt

chore: annotate using WalkDepsProxy
  plugins/genrulebob/genrule_common_module_info.go
Due: go-fmt

chore: Encode and Decode for providers
  core/androidbp_backend.go
  plugins/Android.bp.in
  plugins/genrulebob/genrule_module_proxy.go
Due: go-fmt

doc(import_cc): Add initial documentation for attributes
  docs/module_types/bob_import_cc.md
Due: none

fix(import_cc): remove `hdr` attribute
  core/import_cc.go
  gendiffer/tests/cc_import/flags/app/build.bp
  gendiffer/tests/cc_import/flags/out/linux/build.ninja.out
  gendiffer/tests/cc_import/header_only/app/build.bp
  gendiffer/tests/cc_import/header_only/out/linux/build.ninja.out
  tests/cc_import/build.bp
Due: go-fmt

fix(cc_import): Correct flag type for headerPath
  core/import_cc.go
  gendiffer/tests/cc_import/flags/out/linux/build.ninja.out
  gendiffer/tests/cc_import/header_only/out/linux/build.ninja.out
Due: go-fmt

feat(cc_import): add `src` attribute
  core/import_cc.go
  gendiffer/tests/cc_import/flags/app/build.bp
  gendiffer/tests/cc_import/flags/out/linux/build.ninja.out
Due: go-fmt

feat(import_cc): add `includes` property
  core/import_cc.go
  gendiffer/tests/cc_import/flags/out/linux/build.ninja.out
  gendiffer/tests/cc_import/header_only/app/build.bp
  gendiffer/tests/cc_import/header_only/out/linux/build.ninja.out
  tests/cc_import/build.bp
  tests/cc_import/main.cpp
Due: go-fmt

test: add bazel test libs
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  tests/bazel_cc_import/bazel/BUILD.bazel
  tests/bazel_cc_import/bazel/README.md
  tests/bazel_cc_import/bazel/binary/cmake/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/cmake/CMakeLists.txt
  tests/bazel_cc_import/bazel/binary/cmake/api.h
  tests/bazel_cc_import/bazel/binary/cmake/impl.c
  tests/bazel_cc_import/bazel/binary/dynamic/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/dynamic/impl.c
  tests/bazel_cc_import/bazel/binary/simple/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/simple/impl.c
  tests/bazel_cc_import/bazel/header_only/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/includes/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/includes/subfolder/api.h
  tests/bazel_cc_import/bazel/header_only/normal/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/normal/api.h
  tests/bazel_cc_import/bazel/header_only/strip_prefix/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/strip_prefix/subfolder/nested/api.h
  tests/bazel_cc_import/bazel/library/cmake/BUILD.bazel
  tests/bazel_cc_import/bazel/library/cmake/CMakeLists.txt
  tests/bazel_cc_import/bazel/library/cmake/api.h
  tests/bazel_cc_import/bazel/library/cmake/impl.c
  tests/bazel_cc_import/bazel/library/dependency/BUILD.bazel
  tests/bazel_cc_import/bazel/library/dependency/api.h
  tests/bazel_cc_import/bazel/library/dependency/impl.c
  tests/bazel_cc_import/bazel/library/dependency/sublib/BUILD.bazel
  tests/bazel_cc_import/bazel/library/dependency/sublib/api.h
  tests/bazel_cc_import/bazel/library/dependency/sublib/impl.c
  tests/bazel_cc_import/bazel/library/simple/BUILD.bazel
  tests/bazel_cc_import/bazel/library/simple/api.h
  tests/bazel_cc_import/bazel/library/simple/impl.c
  tests/bazel_cc_import/consumer/header_only/includes.c
  tests/bazel_cc_import/consumer/header_only/normal.c
  tests/bazel_cc_import/consumer/header_only/strip_prefix.c
  tests/bazel_cc_import/consumer/library/dependency.c
  tests/bazel_cc_import/consumer/library/simple.c
Due: buildifier

test(import_cc): add import_cc test harness
  MODULE.bazel
  MODULE.bazel.lock
  tests/bazel_cc_import/bazel/bob_import_cc_aspect.bzl
  tests/bazel_cc_import/bazel/buildbp.bzl
  tests/bazel_cc_import/bazel/name.bzl
  tests/bazel_cc_import/build.bp
  tests/bazel_cc_import/run_test.sh
  tests/build_tests.sh
Due: buildifier

fix: soong_compat
  core/androidbp_backend.go
  internal/soong_compat/soong_compat_04_ModuleProxy.go
  internal/soong_compat/soong_compat_05_CommonModuleInfoProvider.go
  internal/soong_compat/soong_compat_05_Provider_Enc_Dec.go
  internal/soong_compat/soong_compat_06_CommonModuleInfoProvider.go
  plugins/Android.bp.in
  plugins/genrulebob/genrule_common_module_info.go
  plugins/genrulebob/genrule_module_proxy.go
Due: go-fmt

fix: soong_compat 00-03
  core/androidbp_backend.go
Due: go-fmt

chore: sync bazel lock file
  MODULE.bazel.lock
Due: none

feat: introduce aspect rule
  tests/bazel_cc_import/bazel/BUILD.bazel
  tests/bazel_cc_import/bazel/bob_import_cc_aspect.bzl
  tests/bazel_cc_import/run_test.sh
Due: buildifier

fix: bazel imports and visibilities
  tests/bazel_cc_import/bazel/binary/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/cmake/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/dynamic/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/simple/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/includes/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/normal/BUILD.bazel
  tests/bazel_cc_import/bazel/header_only/strip_prefix/BUILD.bazel
  tests/bazel_cc_import/bazel/library/cmake/BUILD.bazel
  tests/bazel_cc_import/bazel/library/dependency/BUILD.bazel
  tests/bazel_cc_import/bazel/library/dependency/sublib/BUILD.bazel
  tests/bazel_cc_import/bazel/library/simple/BUILD.bazel
  tests/bazel_cc_import/consumer/library/cmake.c
Due: buildifier

test(import_cc): add library support to aspect.
  tests/bazel_cc_import/bazel/BUILD.bazel
  tests/bazel_cc_import/bazel/bob_import_cc_aspect.bzl
  tests/bazel_cc_import/build.bp
  tests/bazel_cc_import/run_test.sh
Due: buildifier

refactor(import_cc): rename library import module
  core/build_structs.go
  core/import_cc.go
  core/library.go
  core/linux_cclibs.go
  docs/module_types/bob_import_cc.md
  docs/module_types/bob_import_cc_library.md
  gendiffer/tests/cc_import/defines/app/build.bp
  gendiffer/tests/cc_import/defines/out/linux/build.ninja.out
  gendiffer/tests/cc_import/includes/app/build.bp
  gendiffer/tests/cc_import/includes/out/linux/build.ninja.out
  gendiffer/tests/cc_import/linkopts/app/build.bp
  gendiffer/tests/cc_import/linkopts/out/linux/build.ninja.out
  gendiffer/tests/cc_import/shared/app/build.bp
  gendiffer/tests/cc_import/shared/out/linux/build.ninja.out
  gendiffer/tests/cc_import/static/app/build.bp
  gendiffer/tests/cc_import/static/out/linux/build.ninja.out
  tests/bazel_cc_import/bazel/bob_import_cc_aspect.bzl
  tests/bazel_cc_import/bazel/buildbp.bzl
  tests/cc_import/build.bp
Due: go-fmt, buildifier

feat: add bob_import_cc_binary
  Blueprints
  core/BUILD.bazel
  core/build_structs.go
  core/generated.go
  core/generated_common.go
  core/import_cc_binary.go
  core/import_cc_library.go
  docs/module_types/bob_import_cc_binary.md
  gendiffer/tests/cc_import/binary/WORKSPACE
  gendiffer/tests/cc_import/binary/app/bplist
  gendiffer/tests/cc_import/binary/app/build.bp
  gendiffer/tests/cc_import/binary/app/plugins/Android.bp.in
  gendiffer/tests/cc_import/binary/out/android/Android.bp.out
  gendiffer/tests/cc_import/binary/out/android/expectedExitCode.int
  gendiffer/tests/cc_import/binary/out/android/expectedStderr.txt
  gendiffer/tests/cc_import/binary/out/android/expectedStdout.txt
  gendiffer/tests/cc_import/binary/out/android_oot/build.ninja.out
  gendiffer/tests/cc_import/binary/out/android_oot/expectedExitCode.int
  gendiffer/tests/cc_import/binary/out/android_oot/expectedStderr.txt
  gendiffer/tests/cc_import/binary/out/android_oot/expectedStdout.txt
  gendiffer/tests/cc_import/binary/out/linux/build.ninja.out
  gendiffer/tests/cc_import/binary/out/linux/expectedExitCode.int
  gendiffer/tests/cc_import/binary/out/linux/expectedStderr.txt
  gendiffer/tests/cc_import/binary/out/linux/expectedStdout.txt
  tests/bazel_cc_import/bazel/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/tool/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/tool/impl.c
  tests/bazel_cc_import/bazel/bob_import_cc_aspect.bzl
  tests/bazel_cc_import/bazel/buildbp.bzl
  tests/bazel_cc_import/build.bp
  tests/bazel_cc_import/run_test.sh
Due: go-fmt, buildifier

chore: make bazel_cc_import targets work externally
  MODULE.bazel
  tests/bazel_cc_import/bazel/binary/simple/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/tool/BUILD.bazel
Due: buildifier

feat(ci): add bob-build-env Dockerfile
  ci/docker/bob-build-env/Dockerfile
  ci/docker/bob-build-env/README.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
