Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

refactor(backend): remove generator from processPaths
  core/build.go
  core/build_props.go
  core/build_structs.go
  core/common_props.go
  core/defaults.go
  core/filegroup.go
  core/gen_library.go
  core/generated_common.go
  core/glob.go
  core/install.go
  core/kernel_module.go
  core/legacy_source_props.go
  core/library.go
  core/module_generate_source.go
  core/module_genrule.go
  core/source_props.go
  core/strict_library.go
Due: go-fmt

fix: incorrect include export properties
  core/library.go
  tests/gendiffer/simplelib/out/linux/build.ninja.out
Due: go-fmt

refactor(backend): remove generator from OutFiles
  core/binary.go
  core/filegroup.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/glob.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
Due: go-fmt

refactor(config): create mock config
  core/config/config.go
  core/file/file_test.go
Due: go-fmt

refactor(backend): switch backend calls
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/backend/androidbp.go
  core/binary.go
  core/build_structs.go
  core/defaults.go
  core/escape.go
  core/gen_binary.go
  core/gen_shared.go
  core/generated.go
  core/generated_common.go
  core/glob.go
  core/kernel_module.go
  core/late_template.go
  core/legacy_source_props.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/linux_generated.go
  core/module_generate_source.go
  core/module_transform_source.go
  core/source_props.go
  core/standalone.go
  core/strict_linux_cclibs.go
Due: go-fmt

refactor(file): remove custom factory from file
  Blueprints
  core/file/BUILD.bazel
  core/file/factory.go
  core/file/file.go
  core/file/file_test.go
  core/standalone.go
Due: go-fmt, buildifier

refactor(backend): remove ctx from backend init
  core/androidbp_backend.go
  core/build_structs.go
  core/linux_backend.go
  core/standalone.go
Due: go-fmt

refactor(backend): remove generator from ResolveFiles
  core/filegroup.go
  core/gen_library.go
  core/generated_common.go
  core/glob.go
  core/install.go
  core/kernel_module.go
  core/legacy_source_props.go
  core/library.go
  core/linux_generated.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

refactor(config): move env vars into config
  Blueprints
  core/BUILD.bazel
  core/androidbp_backend.go
  core/androidbp_generated.go
  core/config/BUILD.bazel
  core/config/environment.go
  core/generated_common.go
  core/standalone.go
Due: go-fmt, buildifier

refactor(backend): rename getBackend to getGenerator
  core/alias.go
  core/binary.go
  core/build_props.go
  core/build_structs.go
  core/filegroup.go
  core/gen_binary.go
  core/gen_shared.go
  core/gen_static.go
  core/generated.go
  core/generated_common.go
  core/install.go
  core/kernel_module.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_transform_source.go
  core/source_props.go
  core/strict_library.go
Due: go-fmt

refactor(backend): create backend module
  Blueprints
  core/BUILD.bazel
  core/backend/BUILD.bazel
  core/backend/androidbp.go
  core/backend/backend.go
  core/backend/linux.go
  core/backend/mock.go
  core/escape.go
  core/standalone.go
Due: go-fmt, buildifier

chore(gendiffer): add a simple flag test to gendiffer
  tests/gendiffer/simplelib/WORKSPACE
  tests/gendiffer/simplelib/app/bplist
  tests/gendiffer/simplelib/app/build.bp
  tests/gendiffer/simplelib/app/plugins/Android.bp.in
  tests/gendiffer/simplelib/out/android/Android.bp.out
  tests/gendiffer/simplelib/out/android/bob_warnings.csv
  tests/gendiffer/simplelib/out/android/expectedExitCode.int
  tests/gendiffer/simplelib/out/android/expectedStderr.txt
  tests/gendiffer/simplelib/out/android/expectedStdout.txt
  tests/gendiffer/simplelib/out/linux/build.ninja.out
  tests/gendiffer/simplelib/out/linux/expectedExitCode.int
  tests/gendiffer/simplelib/out/linux/expectedStderr.txt
  tests/gendiffer/simplelib/out/linux/expectedStdout.txt
Due: buildifier

fix: broken `bob_filegroup` dependency
  core/module_generate_source.go
  tests/gendiffer/gensrcs/app/build.bp
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/generate_source/build.bp
Due: go-fmt

fix(genrule_bob): add missing dependencies
  core/androidbp_generated.go
  plugins/genrulebob/genrule.go
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/generate_source/build.bp
Due: go-fmt

chore: use `bob_filegroup` as tool
  core/androidbp_generated.go
  core/generated.go
  core/generated_common.go
  core/install.go
  plugins/genrulebob/genrule.go
  tests/gendiffer/gensrcs/app/build.bp
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
Due: go-fmt

fix: header tracking on Linux
  core/linux_cclibs.go
  tests/gendiffer/complex_srcs/out/linux/build.ninja.out
  tests/gendiffer/example/out/linux/build.ninja.out
  tests/gendiffer/filegroups/out/linux/build.ninja.out
  tests/gendiffer/genhdrs/out/linux/build.ninja.out
  tests/gendiffer/genlib/out/linux/build.ninja.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/build.ninja.out
  tests/gendiffer/globs/out/linux/build.ninja.out
  tests/gendiffer/installdeps/out/linux/build.ninja.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
  tests/gendiffer/matchsrcs/out/linux/build.ninja.out
  tests/gendiffer/simplelib/out/linux/build.ninja.out
  tests/gendiffer/source_props/out/linux/build.ninja.out
  tests/gendiffer/template/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs/out/linux/build.ninja.out
Due: go-fmt

chore: add variable to not install Go `std`
  bootstrap.bash
Due: none

chore: add reexport gendiffer test
  tests/gendiffer/reexport/WORKSPACE
  tests/gendiffer/reexport/app/bplist
  tests/gendiffer/reexport/app/build.bp
  tests/gendiffer/reexport/app/plugins/Android.bp.in
  tests/gendiffer/reexport/out/android/Android.bp.out
  tests/gendiffer/reexport/out/android/bob_warnings.csv
  tests/gendiffer/reexport/out/android/expectedExitCode.int
  tests/gendiffer/reexport/out/android/expectedStderr.txt
  tests/gendiffer/reexport/out/android/expectedStdout.txt
  tests/gendiffer/reexport/out/linux/build.ninja.out
  tests/gendiffer/reexport/out/linux/expectedExitCode.int
  tests/gendiffer/reexport/out/linux/expectedStderr.txt
  tests/gendiffer/reexport/out/linux/expectedStdout.txt
Due: buildifier

fix(toolchain): fixed empty flag string
  core/toolchain/gnu.go
Due: go-fmt

feat(flags): add flag interface
  Blueprints
  core/BUILD.bazel
  core/build_props.go
  core/build_structs.go
  core/flag/BUILD.bazel
  core/flag/flag.go
  core/flag/flag_collection.go
  core/flag/flag_collection_test.go
  core/flag/flag_consumer.go
  core/flag/flag_property_parser.go
  core/flag/flag_provider.go
  core/flag/flag_test.go
  core/gen_shared.go
  core/gen_static.go
  core/library.go
  core/linux_cclibs.go
  core/module_generate_source.go
  core/module_transform_source.go
  tests/gendiffer/simplelib/out/linux/build.ninja.out
Due: go-fmt, buildifier

feat(flag): switch strict library to flag interface
  core/flag/flag.go
  core/flag/flag_collection.go
  core/library.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

Revert "feat(flag): switch strict library to flag interface"
  core/flag/flag.go
  core/flag/flag_collection.go
  core/library.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

Revert "fix(toolchain): fixed empty flag string"
  core/toolchain/gnu.go
Due: go-fmt

Revert "chore: add reexport gendiffer test"
  tests/gendiffer/reexport/WORKSPACE
  tests/gendiffer/reexport/app/bplist
  tests/gendiffer/reexport/app/build.bp
  tests/gendiffer/reexport/app/plugins/Android.bp.in
  tests/gendiffer/reexport/out/android/Android.bp.out
  tests/gendiffer/reexport/out/android/bob_warnings.csv
  tests/gendiffer/reexport/out/android/expectedExitCode.int
  tests/gendiffer/reexport/out/android/expectedStderr.txt
  tests/gendiffer/reexport/out/android/expectedStdout.txt
  tests/gendiffer/reexport/out/linux/build.ninja.out
  tests/gendiffer/reexport/out/linux/expectedExitCode.int
  tests/gendiffer/reexport/out/linux/expectedStderr.txt
  tests/gendiffer/reexport/out/linux/expectedStdout.txt
Due: buildifier

Revert "feat(flags): add flag interface"
  Blueprints
  core/BUILD.bazel
  core/build_props.go
  core/build_structs.go
  core/flag/BUILD.bazel
  core/flag/flag.go
  core/flag/flag_collection.go
  core/flag/flag_collection_test.go
  core/flag/flag_consumer.go
  core/flag/flag_property_parser.go
  core/flag/flag_provider.go
  core/flag/flag_test.go
  core/gen_shared.go
  core/gen_static.go
  core/library.go
  core/linux_cclibs.go
  core/module_generate_source.go
  core/module_transform_source.go
  tests/gendiffer/simplelib/out/linux/build.ninja.out
Due: go-fmt, buildifier

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
