Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

chore(androidNinja): genSharedActions impl
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): strictLibraryActions impl
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): genBinaryActions impl
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): gensrcsActions impl
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): staticActions impl
  core/androidninja_backend.go
Due: go-fmt

chore(androidNinja): resourceActions impl
  core/androidninja_backend.go
Due: go-fmt

feat(androidNinja): binaryActions impl
  core/androidninja_backend.go
  core/backend/androidninja.go
Due: go-fmt

chore(androidNinja): strictBinaryActions impl
  core/androidninja_backend.go
Due: go-fmt

chore: android out of tree tests
  .reuse/dep5
  mconfig/target_toolchain.Mconfig
  tests_android_oot/.gitignore
  tests_android_oot/Mconfig
  tests_android_oot/bootstrap_android_oot
  tests_android_oot/bootstrap_utils.sh
  tests_android_oot/bplist
  tests_android_oot/build.bp
  tests_android_oot/external_libs/build.bp
  tests_android_oot/external_libs/external/build.bp
  tests_android_oot/external_libs/libA/build.bp
  tests_android_oot/external_libs/libA/libA.c
  tests_android_oot/external_libs/libA/libA.h
  tests_android_oot/external_libs/main.c
  tests_android_oot/plugins/prepare_android.py
Due: none

chore: set linker soname
  core/androidninja_backend.go
Due: go-fmt

chore: use host tool provider
  core/androidbp_backend.go
  internal/soong_compat/soong_compat_00_pqr.go
  internal/soong_compat/soong_compat_02_AndroidMkSoongInstallTargets.go
  internal/soong_compat/soong_compat_03_HostBinProvider.go
  plugins/genrulebob/genrule.go
Due: go-fmt

feat: allow detection of options that can select a config
  config_system/config_system/general.py
Due: none

feat: add target toolchain options to clang toolchain
  core/toolchain/clang.go
  plugins/prepare_android.py
Due: go-fmt

feat: set host_clang_prefix for out of tree
  mconfig/host_toolchain.Mconfig
  plugins/prepare_android.py
Due: none

fix: target clang prefix
  mconfig/target_toolchain.Mconfig
Due: none

feat: add android ninja builder
  core/backend/androidninja.go
  core/backend/backend.go
  core/config/config.go
  core/standalone.go
  gendiffer/bob.android.config.json
  gendiffer/bob.linux.config.json
  gendiffer/tests/config/clang_toolchain/app/bob.linux.config.json
  gendiffer/tests/config/multilib_64bit_only/app/bob.linux.config.json
  mconfig/basics.Mconfig
  mconfig/host_toolchain.Mconfig
Due: go-fmt

chore: remove redundant `android_out_of_tree`
  core/standalone.go
  core/toolchain/clang.go
  mconfig/basics.Mconfig
  tests_android_oot/bootstrap_android_oot
Due: go-fmt

fix: clang include paths
  core/toolchain/clang.go
Due: go-fmt

fix: collecting build flags
  core/androidninja_backend.go
  core/generated_common.go
  core/linux_cclibs.go
Due: go-fmt

feat: add baklava to android_version.py
  scripts/android_version.py
Due: none

feat: remove deprecated and unused owner property
  bootstrap.bash
  core/androidbp_resource.go
  core/build_structs.go
  core/common_props.go
  core/install.go
  docs/module_types/bob_binary.md
  docs/module_types/bob_defaults.md
  docs/module_types/bob_install_group.md
  docs/module_types/bob_kernel_module.md
  docs/module_types/bob_resource.md
  docs/module_types/bob_shared_library.md
  docs/module_types/bob_static_library.md
  docs/module_types/properties/legacy_properties.md
  docs/user_guide/android.md
  docs/warnings/deprecated-owner-prop.md
  gendiffer/tests/binary/tagable/app/build.bp
  gendiffer/tests/resource/tagable/app/build.bp
  gendiffer/tests/shared_library/tagable/app/build.bp
  gendiffer/tests/static_library/tagable/app/build.bp
  internal/warnings/warnings.go
Due: go-fmt

feat: remove deprecated and unused filegroup_srcs property
  bootstrap.bash
  core/androidbp_generated.go
  core/legacy_source_props.go
  docs/module_types/properties/legacy_properties.md
  docs/warnings/default-srcs.md
  docs/warnings/relative-up-link.md
  gendiffer/tests/legacy/gensrcs/app/build.bp
  gendiffer/tests/legacy/gensrcs/out/linux/build.ninja.out
  internal/warnings/warnings.go
  tests/bootstrap_linux
  tests/bplist
  tests/filegroups/build.bp
  tests/filegroups/deprecated/build.bp
  tests/generate_source/build.bp
  tests_android_oot/bootstrap_android_oot
Due: go-fmt

fix: unset choice
  config_system/update_config.py
Due: none

feat: ModuleExternalLibrary has host/target variants
  core/external_library.go
  core/toolchain/clang.go
  tests_android_oot/bootstrap_android_oot
  tests_android_oot/bplist
  tests_android_oot/external_libs/build.bp
  tests_android_oot/external_libs/external/build.bp
  tests_android_oot/external_libs/libA/build.bp
  tests_android_oot/external_libs/libHostCompatible/build.bp
  tests_android_oot/external_libs/use_host.cpp
Due: go-fmt

fix: android ninja backend
  core/generated.go
Due: go-fmt

feat: android out of tree gendiffer
  gendiffer/BUILD.bazel
  gendiffer/bob.android_oot.config
  gendiffer/bob.android_oot.config.json
  gendiffer/gendiffer.bzl
  gendiffer/gendiffer.go
Due: go-fmt, buildifier

feat: gendiffer create files
  gendiffer/gendiffer.go
Due: go-fmt

fix(ci): remove gazelle
  .github/workflows/ci.yml
Due: none

chore(tests): improve logging
  tests/build_tests.sh
Due: none

fix(tests): config after rebootstrap
  tests/build_tests.sh
Due: none

feat: add config tags
  config_system/config_system/general.py
  config_system/config_system/lex.py
  config_system/config_system/syntax.py
  config_system/mconfigfmt.py
  config_system/tests/BUILD.bazel
  config_system/tests/formatter/formatter.expected
  config_system/tests/formatter/formatter.test
  config_system/tests/test_tags.py
  docs/config_system.md
Due: buildifier

feat: allow Android libraries without lib prefix
  core/androidninja_backend.go
Due: go-fmt

docs: document external attribute
  docs/module_types/bob_shared_library.md
  docs/module_types/bob_static_library.md
Due: none

refactor: create common interface for external library rules
  core/androidninja_backend.go
  core/binary.go
  core/external_library.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/linux_cclibs.go
Due: go-fmt

fix: validate Android shared library paths
  core/androidninja_backend.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
