Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

chore: make `ModuleToolchain` flag provider
  core/module_toolchain.go
Due: go-fmt

chore: new `toolchain` property for strict modules
  core/module_toolchain.go
  core/strict_library.go
Due: go-fmt

chore: add `ModuleToolchain` properties
  core/module_toolchain.go
Due: go-fmt

chore: add `bob_toolchain` flags to modules
  core/androidbp_cclibs.go
  core/linux_cclibs.go
Due: go-fmt

chore: add `ModuleToolchain`
  Blueprints
  core/BUILD.bazel
  core/module_toolchain.go
Due: go-fmt, buildifier

chore: toolchain flags gendiffer test
  tests/gendiffer/toolchain/simple/flags/WORKSPACE
  tests/gendiffer/toolchain/simple/flags/app/bplist
  tests/gendiffer/toolchain/simple/flags/app/build.bp
  tests/gendiffer/toolchain/simple/flags/app/plugins/Android.bp.in
  tests/gendiffer/toolchain/simple/flags/out/android/Android.bp.out
  tests/gendiffer/toolchain/simple/flags/out/android/bob_warnings.cvs
  tests/gendiffer/toolchain/simple/flags/out/android/expectedExitCode.int
  tests/gendiffer/toolchain/simple/flags/out/android/expectedStderr.txt
  tests/gendiffer/toolchain/simple/flags/out/android/expectedStdout.txt
  tests/gendiffer/toolchain/simple/flags/out/linux/build.ninja.out
  tests/gendiffer/toolchain/simple/flags/out/linux/expectedExitCode.int
  tests/gendiffer/toolchain/simple/flags/out/linux/expectedStderr.txt
  tests/gendiffer/toolchain/simple/flags/out/linux/expectedStdout.txt
Due: buildifier

chore: make `ModuleToolchain` splittable
  core/module_toolchain.go
Due: go-fmt

feat: new `bob_toolchain` module
  core/build_structs.go
  tests/bplist
  tests/toolchain_flags/build.bp
  tests/toolchain_flags/f_complex.cpp
  tests/toolchain_flags/f_complex.h
  tests/toolchain_flags/f_simple.c
  tests/toolchain_flags/f_simple.h
Due: go-fmt

chore: assign `ToolchainTag` dependency
  core/build_structs.go
Due: go-fmt

chore: add `ModuleToolchain` factory
  core/module_toolchain.go
Due: go-fmt

chore: add `ToolchainTag`
  core/tag/tag.go
Due: go-fmt

chore: docs for `bob_toolchain`
  docs/module_types/bob_toolchain.md
Due: none

chore: make `ModuleToolchain` featurable
  core/module_toolchain.go
Due: go-fmt

chore: add gendiffer alias test case
  tests/gendiffer/alias/WORKSPACE
  tests/gendiffer/alias/app/bplist
  tests/gendiffer/alias/app/build.bp
  tests/gendiffer/alias/app/plugins/Android.bp.in
  tests/gendiffer/alias/out/android/Android.bp.out
  tests/gendiffer/alias/out/android/bob_warnings.csv
  tests/gendiffer/alias/out/android/expectedExitCode.int
  tests/gendiffer/alias/out/android/expectedStderr.txt
  tests/gendiffer/alias/out/android/expectedStdout.txt
  tests/gendiffer/alias/out/linux/build.ninja.out
  tests/gendiffer/alias/out/linux/expectedExitCode.int
  tests/gendiffer/alias/out/linux/expectedStderr.txt
  tests/gendiffer/alias/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate template tests for static lib
  tests/gendiffer/static_library/templated/WORKSPACE
  tests/gendiffer/static_library/templated/app/bplist
  tests/gendiffer/static_library/templated/app/build.bp
  tests/gendiffer/static_library/templated/app/plugins/Android.bp.in
  tests/gendiffer/static_library/templated/out/android/Android.bp.out
  tests/gendiffer/static_library/templated/out/android/bob_warnings.csv
  tests/gendiffer/static_library/templated/out/android/expectedExitCode.int
  tests/gendiffer/static_library/templated/out/android/expectedStderr.txt
  tests/gendiffer/static_library/templated/out/android/expectedStdout.txt
  tests/gendiffer/static_library/templated/out/linux/build.ninja.out
  tests/gendiffer/static_library/templated/out/linux/expectedExitCode.int
  tests/gendiffer/static_library/templated/out/linux/expectedStderr.txt
  tests/gendiffer/static_library/templated/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate nested defaults test case
  tests/gendiffer/defaults/nested/WORKSPACE
  tests/gendiffer/defaults/nested/app/bplist
  tests/gendiffer/defaults/nested/app/build.bp
  tests/gendiffer/defaults/nested/app/plugins/Android.bp.in
  tests/gendiffer/defaults/nested/out/android/Android.bp.out
  tests/gendiffer/defaults/nested/out/android/bob_warnings.csv
  tests/gendiffer/defaults/nested/out/android/expectedExitCode.int
  tests/gendiffer/defaults/nested/out/android/expectedStderr.txt
  tests/gendiffer/defaults/nested/out/android/expectedStdout.txt
  tests/gendiffer/defaults/nested/out/linux/build.ninja.out
  tests/gendiffer/defaults/nested/out/linux/expectedExitCode.int
  tests/gendiffer/defaults/nested/out/linux/expectedStderr.txt
  tests/gendiffer/defaults/nested/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate resource gendiff
  tests/gendiffer/resource/simple_install/WORKSPACE
  tests/gendiffer/resource/simple_install/app/bplist
  tests/gendiffer/resource/simple_install/app/build.bp
  tests/gendiffer/resource/simple_install/app/plugins/Android.bp.in
  tests/gendiffer/resource/simple_install/out/android/Android.bp.out
  tests/gendiffer/resource/simple_install/out/android/bob_warnings.csv
  tests/gendiffer/resource/simple_install/out/android/expectedExitCode.int
  tests/gendiffer/resource/simple_install/out/android/expectedStderr.txt
  tests/gendiffer/resource/simple_install/out/android/expectedStdout.txt
  tests/gendiffer/resource/simple_install/out/linux/build.ninja.out
  tests/gendiffer/resource/simple_install/out/linux/expectedExitCode.int
  tests/gendiffer/resource/simple_install/out/linux/expectedStderr.txt
  tests/gendiffer/resource/simple_install/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate generated headers gendiff
  tests/gendiffer/static_library/generated_headers/WORKSPACE
  tests/gendiffer/static_library/generated_headers/app/bplist
  tests/gendiffer/static_library/generated_headers/app/build.bp
  tests/gendiffer/static_library/generated_headers/app/plugins/Android.bp.in
  tests/gendiffer/static_library/generated_headers/out/android/Android.bp.out
  tests/gendiffer/static_library/generated_headers/out/android/bob_warnings.csv
  tests/gendiffer/static_library/generated_headers/out/android/expectedExitCode.int
  tests/gendiffer/static_library/generated_headers/out/android/expectedStderr.txt
  tests/gendiffer/static_library/generated_headers/out/android/expectedStdout.txt
  tests/gendiffer/static_library/generated_headers/out/linux/build.ninja.out
  tests/gendiffer/static_library/generated_headers/out/linux/expectedExitCode.int
  tests/gendiffer/static_library/generated_headers/out/linux/expectedStderr.txt
  tests/gendiffer/static_library/generated_headers/out/linux/expectedStdout.txt
Due: buildifier

chore: standalone binary gendiffer test case
  tests/gendiffer/binary/standalone/WORKSPACE
  tests/gendiffer/binary/standalone/app/bplist
  tests/gendiffer/binary/standalone/app/build.bp
  tests/gendiffer/binary/standalone/app/plugins/Android.bp.in
  tests/gendiffer/binary/standalone/out/android/Android.bp.out
  tests/gendiffer/binary/standalone/out/android/bob_warnings.csv
  tests/gendiffer/binary/standalone/out/android/expectedExitCode.int
  tests/gendiffer/binary/standalone/out/android/expectedStderr.txt
  tests/gendiffer/binary/standalone/out/android/expectedStdout.txt
  tests/gendiffer/binary/standalone/out/linux/build.ninja.out
  tests/gendiffer/binary/standalone/out/linux/expectedExitCode.int
  tests/gendiffer/binary/standalone/out/linux/expectedStderr.txt
  tests/gendiffer/binary/standalone/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate kmod gendiffer test case
  tests/gendiffer/kernel_module/simple/WORKSPACE
  tests/gendiffer/kernel_module/simple/app/bplist
  tests/gendiffer/kernel_module/simple/app/build.bp
  tests/gendiffer/kernel_module/simple/app/plugins/Android.bp.in
  tests/gendiffer/kernel_module/simple/out/android/Android.bp.out
  tests/gendiffer/kernel_module/simple/out/android/bob_warnings.csv
  tests/gendiffer/kernel_module/simple/out/android/expectedExitCode.int
  tests/gendiffer/kernel_module/simple/out/android/expectedStderr.txt
  tests/gendiffer/kernel_module/simple/out/android/expectedStdout.txt
  tests/gendiffer/kernel_module/simple/out/linux/build.ninja.out
  tests/gendiffer/kernel_module/simple/out/linux/expectedExitCode.int
  tests/gendiffer/kernel_module/simple/out/linux/expectedStderr.txt
  tests/gendiffer/kernel_module/simple/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate clang config gendiff
  tests/gendiffer/README.md
  tests/gendiffer/config/clang_toolchain/WORKSPACE
  tests/gendiffer/config/clang_toolchain/app/bob.linux.config
  tests/gendiffer/config/clang_toolchain/app/bob.linux.config.json
  tests/gendiffer/config/clang_toolchain/app/bplist
  tests/gendiffer/config/clang_toolchain/app/build.bp
  tests/gendiffer/config/clang_toolchain/app/plugins/Android.bp.in
  tests/gendiffer/config/clang_toolchain/out/android/Android.bp.out
  tests/gendiffer/config/clang_toolchain/out/android/bob_warnings.csv
  tests/gendiffer/config/clang_toolchain/out/android/expectedExitCode.int
  tests/gendiffer/config/clang_toolchain/out/android/expectedStderr.txt
  tests/gendiffer/config/clang_toolchain/out/android/expectedStdout.txt
  tests/gendiffer/config/clang_toolchain/out/linux/build.ninja.out
  tests/gendiffer/config/clang_toolchain/out/linux/expectedExitCode.int
  tests/gendiffer/config/clang_toolchain/out/linux/expectedStderr.txt
  tests/gendiffer/config/clang_toolchain/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate lib targetable gendiff
  tests/gendiffer/legacy/libraries/variants/app/build.bp
  tests/gendiffer/library/targetable/WORKSPACE
  tests/gendiffer/library/targetable/app/bplist
  tests/gendiffer/library/targetable/app/build.bp
  tests/gendiffer/library/targetable/app/plugins/Android.bp.in
  tests/gendiffer/library/targetable/out/android/Android.bp.out
  tests/gendiffer/library/targetable/out/android/bob_warnings.csv
  tests/gendiffer/library/targetable/out/android/expectedExitCode.int
  tests/gendiffer/library/targetable/out/android/expectedStderr.txt
  tests/gendiffer/library/targetable/out/android/expectedStdout.txt
  tests/gendiffer/library/targetable/out/linux/build.ninja.out
  tests/gendiffer/library/targetable/out/linux/expectedExitCode.int
  tests/gendiffer/library/targetable/out/linux/expectedStderr.txt
  tests/gendiffer/library/targetable/out/linux/expectedStdout.txt
Due: buildifier

chore: add test case for 64bit only targets
  tests/gendiffer/config/multilib_64bit_only/WORKSPACE
  tests/gendiffer/config/multilib_64bit_only/app/bob.linux.config
  tests/gendiffer/config/multilib_64bit_only/app/bob.linux.config.json
  tests/gendiffer/config/multilib_64bit_only/app/bplist
  tests/gendiffer/config/multilib_64bit_only/app/build.bp
  tests/gendiffer/config/multilib_64bit_only/app/plugins/Android.bp.in
  tests/gendiffer/config/multilib_64bit_only/out/android/Android.bp.out
  tests/gendiffer/config/multilib_64bit_only/out/android/bob_warnings.csv
  tests/gendiffer/config/multilib_64bit_only/out/android/expectedExitCode.int
  tests/gendiffer/config/multilib_64bit_only/out/android/expectedStderr.txt
  tests/gendiffer/config/multilib_64bit_only/out/android/expectedStdout.txt
  tests/gendiffer/config/multilib_64bit_only/out/linux/build.ninja.out
  tests/gendiffer/config/multilib_64bit_only/out/linux/expectedExitCode.int
  tests/gendiffer/config/multilib_64bit_only/out/linux/expectedStderr.txt
  tests/gendiffer/config/multilib_64bit_only/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate install_deps gendiff
  tests/gendiffer/install_group/installdeps/WORKSPACE
  tests/gendiffer/install_group/installdeps/app/bplist
  tests/gendiffer/install_group/installdeps/app/build.bp
  tests/gendiffer/install_group/installdeps/app/nested/build.bp
  tests/gendiffer/install_group/installdeps/app/plugins/Android.bp.in
  tests/gendiffer/install_group/installdeps/out/android/Android.bp.out
  tests/gendiffer/install_group/installdeps/out/android/bob_warnings.csv
  tests/gendiffer/install_group/installdeps/out/android/expectedExitCode.int
  tests/gendiffer/install_group/installdeps/out/android/expectedStderr.txt
  tests/gendiffer/install_group/installdeps/out/android/expectedStdout.txt
  tests/gendiffer/install_group/installdeps/out/linux/build.ninja.out
  tests/gendiffer/install_group/installdeps/out/linux/expectedExitCode.int
  tests/gendiffer/install_group/installdeps/out/linux/expectedStderr.txt
  tests/gendiffer/install_group/installdeps/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate reexport gendiff
  tests/gendiffer/static_library/reexport/WORKSPACE
  tests/gendiffer/static_library/reexport/app/bplist
  tests/gendiffer/static_library/reexport/app/build.bp
  tests/gendiffer/static_library/reexport/app/plugins/Android.bp.in
  tests/gendiffer/static_library/reexport/out/android/Android.bp.out
  tests/gendiffer/static_library/reexport/out/android/bob_warnings.csv
  tests/gendiffer/static_library/reexport/out/android/expectedExitCode.int
  tests/gendiffer/static_library/reexport/out/android/expectedStderr.txt
  tests/gendiffer/static_library/reexport/out/android/expectedStdout.txt
  tests/gendiffer/static_library/reexport/out/linux/build.ninja.out
  tests/gendiffer/static_library/reexport/out/linux/expectedExitCode.int
  tests/gendiffer/static_library/reexport/out/linux/expectedStderr.txt
  tests/gendiffer/static_library/reexport/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate genrule tool file dep gendiff
  tests/gendiffer/genrule/tool_file_dep/WORKSPACE
  tests/gendiffer/genrule/tool_file_dep/app/bplist
  tests/gendiffer/genrule/tool_file_dep/app/build.bp
  tests/gendiffer/genrule/tool_file_dep/app/plugins/Android.bp.in
  tests/gendiffer/genrule/tool_file_dep/out/android/Android.bp.out
  tests/gendiffer/genrule/tool_file_dep/out/android/bob_warnings.csv
  tests/gendiffer/genrule/tool_file_dep/out/android/expectedExitCode.int
  tests/gendiffer/genrule/tool_file_dep/out/android/expectedStderr.txt
  tests/gendiffer/genrule/tool_file_dep/out/android/expectedStdout.txt
  tests/gendiffer/genrule/tool_file_dep/out/linux/build.ninja.out
  tests/gendiffer/genrule/tool_file_dep/out/linux/expectedExitCode.int
  tests/gendiffer/genrule/tool_file_dep/out/linux/expectedStderr.txt
  tests/gendiffer/genrule/tool_file_dep/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate missing dep gendiff
  tests/gendiffer/binary/missing_dependency/WORKSPACE
  tests/gendiffer/binary/missing_dependency/app/bplist
  tests/gendiffer/binary/missing_dependency/app/build.bp
  tests/gendiffer/binary/missing_dependency/app/plugins/Android.bp.in
  tests/gendiffer/binary/missing_dependency/out/android/expectedExitCode.int
  tests/gendiffer/binary/missing_dependency/out/android/expectedStderr.txt
  tests/gendiffer/binary/missing_dependency/out/android/expectedStdout.txt
  tests/gendiffer/binary/missing_dependency/out/linux/expectedExitCode.int
  tests/gendiffer/binary/missing_dependency/out/linux/expectedStderr.txt
  tests/gendiffer/binary/missing_dependency/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate gensrcs gendiff
  tests/gendiffer/gensrcs/mixed/WORKSPACE
  tests/gendiffer/gensrcs/mixed/app/bplist
  tests/gendiffer/gensrcs/mixed/app/build.bp
  tests/gendiffer/gensrcs/mixed/app/plugins/Android.bp.in
  tests/gendiffer/gensrcs/mixed/out/android/Android.bp.out
  tests/gendiffer/gensrcs/mixed/out/android/bob_warnings.csv
  tests/gendiffer/gensrcs/mixed/out/android/expectedExitCode.int
  tests/gendiffer/gensrcs/mixed/out/android/expectedStderr.txt
  tests/gendiffer/gensrcs/mixed/out/android/expectedStdout.txt
  tests/gendiffer/gensrcs/mixed/out/linux/build.ninja.out
  tests/gendiffer/gensrcs/mixed/out/linux/expectedExitCode.int
  tests/gendiffer/gensrcs/mixed/out/linux/expectedStderr.txt
  tests/gendiffer/gensrcs/mixed/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate complex gensrcs gendiff
  tests/gendiffer/generate_source/complex/WORKSPACE
  tests/gendiffer/generate_source/complex/app/bplist
  tests/gendiffer/generate_source/complex/app/build.bp
  tests/gendiffer/generate_source/complex/app/nested/build.bp
  tests/gendiffer/generate_source/complex/app/nested/deep/build.bp
  tests/gendiffer/generate_source/complex/app/nested/deep/deep_source_glob_0.cpp
  tests/gendiffer/generate_source/complex/app/nested/deep/deep_source_glob_1.cpp
  tests/gendiffer/generate_source/complex/app/plugins/Android.bp.in
  tests/gendiffer/generate_source/complex/app/source_glob_0.cpp
  tests/gendiffer/generate_source/complex/app/source_glob_1.cpp
  tests/gendiffer/generate_source/complex/out/android/Android.bp.out
  tests/gendiffer/generate_source/complex/out/android/bob_warnings.csv
  tests/gendiffer/generate_source/complex/out/android/expectedExitCode.int
  tests/gendiffer/generate_source/complex/out/android/expectedStderr.txt
  tests/gendiffer/generate_source/complex/out/android/expectedStdout.txt
  tests/gendiffer/generate_source/complex/out/linux/build.ninja.out
  tests/gendiffer/generate_source/complex/out/linux/expectedExitCode.int
  tests/gendiffer/generate_source/complex/out/linux/expectedStderr.txt
  tests/gendiffer/generate_source/complex/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate export_ldflags gendiff
  tests/gendiffer/static_library/export_ldflags/WORKSPACE
  tests/gendiffer/static_library/export_ldflags/app/bplist
  tests/gendiffer/static_library/export_ldflags/app/build.bp
  tests/gendiffer/static_library/export_ldflags/app/plugins/Android.bp.in
  tests/gendiffer/static_library/export_ldflags/out/android/Android.bp.out
  tests/gendiffer/static_library/export_ldflags/out/android/bob_warnings.csv
  tests/gendiffer/static_library/export_ldflags/out/android/expectedExitCode.int
  tests/gendiffer/static_library/export_ldflags/out/android/expectedStderr.txt
  tests/gendiffer/static_library/export_ldflags/out/android/expectedStdout.txt
  tests/gendiffer/static_library/export_ldflags/out/linux/build.ninja.out
  tests/gendiffer/static_library/export_ldflags/out/linux/expectedExitCode.int
  tests/gendiffer/static_library/export_ldflags/out/linux/expectedStderr.txt
  tests/gendiffer/static_library/export_ldflags/out/linux/expectedStdout.txt
Due: buildifier

chore: relocate transform srcs gendiff
  tests/gendiffer/transform_source/mixed/WORKSPACE
  tests/gendiffer/transform_source/mixed/app/bplist
  tests/gendiffer/transform_source/mixed/app/build.bp
  tests/gendiffer/transform_source/mixed/app/nested/build.bp
  tests/gendiffer/transform_source/mixed/app/plugins/Android.bp.in
  tests/gendiffer/transform_source/mixed/out/android/Android.bp.out
  tests/gendiffer/transform_source/mixed/out/android/bob_warnings.csv
  tests/gendiffer/transform_source/mixed/out/android/expectedExitCode.int
  tests/gendiffer/transform_source/mixed/out/android/expectedStderr.txt
  tests/gendiffer/transform_source/mixed/out/android/expectedStdout.txt
  tests/gendiffer/transform_source/mixed/out/linux/build.ninja.out
  tests/gendiffer/transform_source/mixed/out/linux/expectedExitCode.int
  tests/gendiffer/transform_source/mixed/out/linux/expectedStderr.txt
  tests/gendiffer/transform_source/mixed/out/linux/expectedStdout.txt
Due: buildifier

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
