Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

chore: add map_kind test
  gazelle/tests/map_kinds/BUILD.in
  gazelle/tests/map_kinds/BUILD.out
  gazelle/tests/map_kinds/Mconfig
  gazelle/tests/map_kinds/WORKSPACE
  gazelle/tests/map_kinds/build.bp
  gazelle/tests/map_kinds/expectedStderr.txt
  gazelle/tests/map_kinds/expectedStdout.txt
Due: buildifier

chore: gazelle `Merger` intrface
  gazelle/MODULE.bazel
  gazelle/WORKSPACE
  gazelle/patches/gazelle/0001-Add-SortedStrings-and-UnsortedStrings-expression-val.patch
  gazelle/patches/gazelle/0002-Add-the-new-Merger-interface.patch
  gazelle/patches/gazelle/0003-Implement-Merge-for-SortedStrings-UnsortedStrings.patch
  gazelle/patches/gazelle/0004-Expose-the-MergeList-MergeDict-helpers.patch
Due: buildifier

chore: custom mergable struct
  gazelle/BUILD.bazel
  gazelle/merge.go
  gazelle/module.go
Due: go-fmt, buildifier

chore: set KindInfo
  gazelle/kinds.go
  gazelle/tests/generate_filegroup/expectedStderr.txt
  gazelle/tests/generate_filegroup/internal/expectedStderr.txt
  gazelle/tests/generate_library/BUILD.out
  gazelle/tests/generate_library/build.bp
  gazelle/tests/generate_library/expectedStderr.txt
  gazelle/tests/load_statement/expectedStderr.txt
  gazelle/tests/mconfig/expectedStderr.txt
  gazelle/tests/mconfig/internal/expectedStderr.txt
  gazelle/tests/merge_attrs/BUILD.in
  gazelle/tests/merge_attrs/BUILD.out
  gazelle/tests/merge_attrs/Mconfig
  gazelle/tests/merge_attrs/WORKSPACE
  gazelle/tests/merge_attrs/build.bp
  gazelle/tests/merge_attrs/expectedExitCode.txt
  gazelle/tests/merge_attrs/expectedStderr.txt
  gazelle/tests/merge_attrs/expectedStdout.txt
  gazelle/tests/preserve_order/expectedStderr.txt
  gazelle/tests/preserve_order/internal/expectedStderr.txt
Due: go-fmt, buildifier

chore: bump gazelle version for tests
  gazelle/tests/integration_tests/WORKSPACE
Due: buildifier

fix: correct rule's kind & stmt
  gazelle/MODULE.bazel
  gazelle/WORKSPACE
  gazelle/patches/gazelle/0005-fix-correct-rule-s-kind-stmt.patch
Due: buildifier

chore: remove workarround for `load`
  gazelle/generate.go
  gazelle/kinds.go
Due: go-fmt

chore: add bob_toolchain strip test case templates
  gendiffer/tests/toolchain/strip/WORKSPACE
  gendiffer/tests/toolchain/strip/app/bplist
  gendiffer/tests/toolchain/strip/app/build.bp
  gendiffer/tests/toolchain/strip/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/strip/out/android/Android.bp.out
  gendiffer/tests/toolchain/strip/out/android/bob_warnings.csv
  gendiffer/tests/toolchain/strip/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/strip/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/strip/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/strip/out/linux/build.ninja.out
  gendiffer/tests/toolchain/strip/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/strip/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/strip/out/linux/expectedStdout.txt
  gendiffer/tests/toolchain/strip_with_debug_info/WORKSPACE
  gendiffer/tests/toolchain/strip_with_debug_info/app/bplist
  gendiffer/tests/toolchain/strip_with_debug_info/app/build.bp
  gendiffer/tests/toolchain/strip_with_debug_info/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/strip_with_debug_info/out/android/Android.bp.out
  gendiffer/tests/toolchain/strip_with_debug_info/out/android/bob_warnings.csv
  gendiffer/tests/toolchain/strip_with_debug_info/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/strip_with_debug_info/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/strip_with_debug_info/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/strip_with_debug_info/out/linux/build.ninja.out
  gendiffer/tests/toolchain/strip_with_debug_info/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/strip_with_debug_info/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/strip_with_debug_info/out/linux/expectedStdout.txt
Due: buildifier

chore: split strip tests out from legacy
  gendiffer/tests/binary/strip/WORKSPACE
  gendiffer/tests/binary/strip/app/bplist
  gendiffer/tests/binary/strip/app/build.bp
  gendiffer/tests/binary/strip/app/plugins/Android.bp.in
  gendiffer/tests/binary/strip/out/android/Android.bp.out
  gendiffer/tests/binary/strip/out/android/bob_warnings.csv
  gendiffer/tests/binary/strip/out/android/expectedExitCode.int
  gendiffer/tests/binary/strip/out/android/expectedStderr.txt
  gendiffer/tests/binary/strip/out/android/expectedStdout.txt
  gendiffer/tests/binary/strip/out/linux/build.ninja.out
  gendiffer/tests/binary/strip/out/linux/expectedExitCode.int
  gendiffer/tests/binary/strip/out/linux/expectedStderr.txt
  gendiffer/tests/binary/strip/out/linux/expectedStdout.txt
  gendiffer/tests/legacy/libraries/mixed/app/build.bp
  gendiffer/tests/legacy/libraries/mixed/out/android/Android.bp.out
  gendiffer/tests/legacy/libraries/mixed/out/linux/build.ninja.out
  gendiffer/tests/shared_library/strip/WORKSPACE
  gendiffer/tests/shared_library/strip/app/bplist
  gendiffer/tests/shared_library/strip/app/build.bp
  gendiffer/tests/shared_library/strip/app/plugins/Android.bp.in
  gendiffer/tests/shared_library/strip/out/android/Android.bp.out
  gendiffer/tests/shared_library/strip/out/android/bob_warnings.csv
  gendiffer/tests/shared_library/strip/out/android/expectedExitCode.int
  gendiffer/tests/shared_library/strip/out/android/expectedStderr.txt
  gendiffer/tests/shared_library/strip/out/android/expectedStdout.txt
  gendiffer/tests/shared_library/strip/out/linux/build.ninja.out
  gendiffer/tests/shared_library/strip/out/linux/expectedExitCode.int
  gendiffer/tests/shared_library/strip/out/linux/expectedStderr.txt
  gendiffer/tests/shared_library/strip/out/linux/expectedStdout.txt
Due: buildifier

fix: make installable strict targets support split
  core/strict_binary.go
  core/strict_library.go
  gendiffer/tests/executable/install_group/app/build.bp
  gendiffer/tests/library/install_group/WORKSPACE
  gendiffer/tests/library/install_group/app/bplist
  gendiffer/tests/library/install_group/app/build.bp
  gendiffer/tests/library/install_group/app/plugins/Android.bp.in
  gendiffer/tests/library/install_group/out/android/Android.bp.out
  gendiffer/tests/library/install_group/out/android/expectedExitCode.int
  gendiffer/tests/library/install_group/out/android/expectedStderr.txt
  gendiffer/tests/library/install_group/out/android/expectedStdout.txt
  gendiffer/tests/library/install_group/out/linux/build.ninja.out
  gendiffer/tests/library/install_group/out/linux/expectedExitCode.int
  gendiffer/tests/library/install_group/out/linux/expectedStderr.txt
  gendiffer/tests/library/install_group/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat(strip): add strip support for `bob_toolchain`
  core/androidbp_cclibs.go
  core/binary.go
  core/library_shared.go
  core/linux_backend.go
  core/module_toolchain.go
  core/strict_library.go
  core/strip.go
  gendiffer/tests/toolchain/strip/app/build.bp
  gendiffer/tests/toolchain/strip/out/android/Android.bp.out
  gendiffer/tests/toolchain/strip/out/linux/build.ninja.out
  gendiffer/tests/toolchain/strip_with_debug_info/app/build.bp
  gendiffer/tests/toolchain/strip_with_debug_info/out/android/Android.bp.out
  gendiffer/tests/toolchain/strip_with_debug_info/out/linux/build.ninja.out
  tests/toolchain_flags/build.bp
Due: go-fmt

fix: make `includes` featureable
  core/strict_binary.go
  core/strict_library.go
  gendiffer/tests/executable/featureable/WORKSPACE
  gendiffer/tests/executable/featureable/app/bplist
  gendiffer/tests/executable/featureable/app/build.bp
  gendiffer/tests/executable/featureable/app/plugins/Android.bp.in
  gendiffer/tests/executable/featureable/out/android/Android.bp.out
  gendiffer/tests/executable/featureable/out/android/bob_warnings.csv
  gendiffer/tests/executable/featureable/out/android/expectedExitCode.int
  gendiffer/tests/executable/featureable/out/android/expectedStderr.txt
  gendiffer/tests/executable/featureable/out/android/expectedStdout.txt
  gendiffer/tests/executable/featureable/out/linux/build.ninja.out
  gendiffer/tests/executable/featureable/out/linux/expectedExitCode.int
  gendiffer/tests/executable/featureable/out/linux/expectedStderr.txt
  gendiffer/tests/executable/featureable/out/linux/expectedStdout.txt
  gendiffer/tests/library/featureable/WORKSPACE
  gendiffer/tests/library/featureable/app/bplist
  gendiffer/tests/library/featureable/app/build.bp
  gendiffer/tests/library/featureable/app/plugins/Android.bp.in
  gendiffer/tests/library/featureable/out/android/Android.bp.out
  gendiffer/tests/library/featureable/out/android/bob_warnings.csv
  gendiffer/tests/library/featureable/out/android/expectedExitCode.int
  gendiffer/tests/library/featureable/out/android/expectedStderr.txt
  gendiffer/tests/library/featureable/out/android/expectedStdout.txt
  gendiffer/tests/library/featureable/out/linux/build.ninja.out
  gendiffer/tests/library/featureable/out/linux/expectedExitCode.int
  gendiffer/tests/library/featureable/out/linux/expectedStderr.txt
  gendiffer/tests/library/featureable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

fix: make `StripProps` featurable
  core/module_toolchain.go
  gendiffer/tests/toolchain/strip/app/build.bp
Due: go-fmt

fix: remove targetable `SplittableProps`
  core/defaults.go
  core/library.go
  core/strict_library.go
Due: go-fmt

chore: handle `AndroidMTEProps`
  core/androidbp_cclibs.go
  core/module_toolchain.go
  docs/module_types/bob_toolchain.md
  gendiffer/tests/executable/mteprops/WORKSPACE
  gendiffer/tests/executable/mteprops/app/bplist
  gendiffer/tests/executable/mteprops/app/build.bp
  gendiffer/tests/executable/mteprops/app/plugins/Android.bp.in
  gendiffer/tests/executable/mteprops/out/android/Android.bp.out
  gendiffer/tests/executable/mteprops/out/android/bob_warnings.csv
  gendiffer/tests/executable/mteprops/out/android/expectedExitCode.int
  gendiffer/tests/executable/mteprops/out/android/expectedStderr.txt
  gendiffer/tests/executable/mteprops/out/android/expectedStdout.txt
  gendiffer/tests/executable/mteprops/out/linux/build.ninja.out
  gendiffer/tests/executable/mteprops/out/linux/expectedExitCode.int
  gendiffer/tests/executable/mteprops/out/linux/expectedStderr.txt
  gendiffer/tests/executable/mteprops/out/linux/expectedStdout.txt
  gendiffer/tests/library/mteprops/WORKSPACE
  gendiffer/tests/library/mteprops/app/bplist
  gendiffer/tests/library/mteprops/app/build.bp
  gendiffer/tests/library/mteprops/app/plugins/Android.bp.in
  gendiffer/tests/library/mteprops/out/android/Android.bp.out
  gendiffer/tests/library/mteprops/out/android/bob_warnings.csv
  gendiffer/tests/library/mteprops/out/android/expectedExitCode.int
  gendiffer/tests/library/mteprops/out/android/expectedStderr.txt
  gendiffer/tests/library/mteprops/out/android/expectedStdout.txt
  gendiffer/tests/library/mteprops/out/linux/build.ninja.out
  gendiffer/tests/library/mteprops/out/linux/expectedExitCode.int
  gendiffer/tests/library/mteprops/out/linux/expectedStderr.txt
  gendiffer/tests/library/mteprops/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

chore: add convience snapshot script
  gendiffer/tests/BUILD.bazel
  gendiffer/tests/update_failed.sh
Due: buildifier

chore: add vscode syntax settings
  .gitignore
  .reuse/dep5
  .vscode/settings.json
Due: none

feat: deprecate `owner` prop.
  bootstrap.bash
  core/common_props.go
  core/install.go
  docs/warnings/deprecated-owner-prop.md
  internal/warnings/warnings.go
Due: go-fmt

Revert "feat: deprecate `owner` prop."
  bootstrap.bash
  core/common_props.go
  core/install.go
  docs/warnings/deprecated-owner-prop.md
  internal/warnings/warnings.go
Due: go-fmt

feat(tagable): make glob tagable
  core/glob.go
  gendiffer/tests/glob/tagable/WORKSPACE
  gendiffer/tests/glob/tagable/app/bplist
  gendiffer/tests/glob/tagable/app/build.bp
  gendiffer/tests/glob/tagable/app/dir1/func1.c
  gendiffer/tests/glob/tagable/app/dir2/func2.c
  gendiffer/tests/glob/tagable/app/main.c
  gendiffer/tests/glob/tagable/app/plugins/Android.bp.in
  gendiffer/tests/glob/tagable/app/src/exclude_this_file.cpp
  gendiffer/tests/glob/tagable/app/src/inside/a/exclude_this_too.cpp
  gendiffer/tests/glob/tagable/app/src/inside/a/namespace/func.cpp
  gendiffer/tests/glob/tagable/app/src/inside/a/namespace/main.cpp
  gendiffer/tests/glob/tagable/app/test_exclude_glob.c
  gendiffer/tests/glob/tagable/app/test_glob.c
  gendiffer/tests/glob/tagable/out/android/Android.bp.out
  gendiffer/tests/glob/tagable/out/android/bob_warnings.csv
  gendiffer/tests/glob/tagable/out/android/expectedExitCode.int
  gendiffer/tests/glob/tagable/out/android/expectedStderr.txt
  gendiffer/tests/glob/tagable/out/android/expectedStdout.txt
  gendiffer/tests/glob/tagable/out/linux/build.ninja.out
  gendiffer/tests/glob/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/glob/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/glob/tagable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
