Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: ^config_system/tests/formatter/
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

feat(gendiffer): overrideable configs
  gendiffer/gendiffer.go
  tests/gendiffer/override_configs/WORKSPACE
  tests/gendiffer/override_configs/app/bob.linux.config
  tests/gendiffer/override_configs/app/bob.linux.config.json
  tests/gendiffer/override_configs/app/bplist
  tests/gendiffer/override_configs/app/build.bp
  tests/gendiffer/override_configs/app/plugins/Android.bp.in
  tests/gendiffer/override_configs/out/android/Android.bp.out
  tests/gendiffer/override_configs/out/android/bob_warnings.csv
  tests/gendiffer/override_configs/out/android/expectedExitCode.int
  tests/gendiffer/override_configs/out/android/expectedStderr.txt
  tests/gendiffer/override_configs/out/android/expectedStdout.txt
  tests/gendiffer/override_configs/out/linux/build.ninja.out
  tests/gendiffer/override_configs/out/linux/expectedExitCode.int
  tests/gendiffer/override_configs/out/linux/expectedStderr.txt
  tests/gendiffer/override_configs/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

chore: add ldlibs export coverage
  tests/gendiffer/ldlibs_export/WORKSPACE
  tests/gendiffer/ldlibs_export/app/bplist
  tests/gendiffer/ldlibs_export/app/build.bp
  tests/gendiffer/ldlibs_export/app/plugins/Android.bp.in
  tests/gendiffer/ldlibs_export/out/android/Android.bp.out
  tests/gendiffer/ldlibs_export/out/android/bob_warnings.csv
  tests/gendiffer/ldlibs_export/out/android/expectedExitCode.int
  tests/gendiffer/ldlibs_export/out/android/expectedStderr.txt
  tests/gendiffer/ldlibs_export/out/android/expectedStdout.txt
  tests/gendiffer/ldlibs_export/out/linux/build.ninja.out
  tests/gendiffer/ldlibs_export/out/linux/expectedExitCode.int
  tests/gendiffer/ldlibs_export/out/linux/expectedStderr.txt
  tests/gendiffer/ldlibs_export/out/linux/expectedStdout.txt
Due: buildifier

chore: add `includes` property
  core/androidbp_cclibs.go
  core/strict_library.go
  tests/gendiffer/libraries/app/build.bp
  tests/gendiffer/libraries/out/android/Android.bp.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
  tests/strict_libs/static/build.bp
  tests/strict_libs/static/internal/include/internal.h
Due: go-fmt

chore: allow native rule dependency
  plugins/genrulebob/genrule.go
Due: go-fmt

chore: add test for strict dependency
  tests/gendiffer/transformsrcs_new/app/build.bp
  tests/gendiffer/transformsrcs_new/out/android/Android.bp.out
  tests/gendiffer/transformsrcs_new/out/linux/build.ninja.out
  tests/transform_source_new/build.bp
Due: none

chore: redact line/col number for ninja output
  gendiffer/gendiffer.go
  tests/gendiffer/complex_srcs/out/linux/build.ninja.out
  tests/gendiffer/example/out/linux/build.ninja.out
  tests/gendiffer/filegroups/out/linux/build.ninja.out
  tests/gendiffer/genhdrs/out/linux/build.ninja.out
  tests/gendiffer/genlib/out/linux/build.ninja.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new_tool_files_dep/out/linux/build.ninja.out
  tests/gendiffer/globs/out/linux/build.ninja.out
  tests/gendiffer/installdeps/out/linux/build.ninja.out
  tests/gendiffer/kmod/out/linux/build.ninja.out
  tests/gendiffer/ldlibs_export/out/linux/build.ninja.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
  tests/gendiffer/matchsrcs/out/linux/build.ninja.out
  tests/gendiffer/nested_defaults/out/linux/build.ninja.out
  tests/gendiffer/override_configs/out/linux/build.ninja.out
  tests/gendiffer/reexport/out/linux/build.ninja.out
  tests/gendiffer/resource/out/linux/build.ninja.out
  tests/gendiffer/simplelib/out/linux/build.ninja.out
  tests/gendiffer/source_props/out/linux/build.ninja.out
  tests/gendiffer/template/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs_new/out/linux/build.ninja.out
Due: go-fmt

fix(gendiffer): fixes crashes on whitespace changes
  gendiffer/gendiffer.go
Due: go-fmt

chore: clean Featues when not need anymore
  core/feature.go
  core/properties.go
  core/standalone.go
Due: go-fmt

ci: remove old copyright checker
  .github/checks/check-copyright.sh
  .github/workflows/ci.yml
Due: none

feat(precommit): add reuse
  .pre-commit-config.yaml
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  LICENSES/CC0-1.0.txt
Due: none

fix: generated sources of `genrule.Module`
  plugins/genrulebob/genrule.go
Due: go-fmt

refactor(backend): remove legacy prop exporter funcs
  core/external_library.go
  core/library.go
  core/property_exporter.go
Due: go-fmt

feat(flags): add string slice converter
  core/flag/flag_collection.go
  core/flag/flag_collection_test.go
Due: go-fmt

refactor(cclibs): seperate phony actions
  core/linux_cclibs.go
Due: go-fmt

feat(backend): switch ldlibs and ldflags to use flag if
  core/external_library.go
  core/flag/flag.go
  core/library.go
  core/linux_cclibs.go
  core/property_exporter.go
Due: go-fmt

feat(cclibs): move ObjDir to generator
  core/linux_cclibs.go
  core/strict_library.go
Due: go-fmt

refactor(backend): make sharedActions generic
  core/linux_cclibs.go
Due: go-fmt

refactor(cclibs): remove unused funcs
  core/linux_cclibs.go
Due: go-fmt

refactor(backend): remove property exporter if
  Blueprints
  core/BUILD.bazel
  core/external_library.go
  core/library.go
Due: go-fmt, buildifier

refactor(backend): make getSharedLibFlags generic
  core/library.go
  core/linux_cclibs.go
Due: go-fmt

feat(cclibs): switch binary outs to file if
  core/linux_cclibs.go
Due: go-fmt

feat(libs): implement shared build for bob_library
  core/linux_cclibs.go
  core/strict_library.go
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

refactor(backend): make library args getter generic
  core/library.go
  core/linux_cclibs.go
  tests/gendiffer/ldlibs_export/out/linux/build.ninja.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

feat(deps): add generic deps tag
  core/build_structs.go
  core/library.go
  core/standalone.go
  core/tag.go
Due: go-fmt

feat(deps): add shared dep tagging to new lib
  core/build_structs.go
  core/strict_library.go
  tests/gendiffer/libraries/app/nested/build.bp
  tests/gendiffer/libraries/out/android/Android.bp.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

feat(cclibs): switch android backend to generic lib
  core/androidbp_cclibs.go
  tests/gendiffer/libraries/out/android/Android.bp.out
Due: go-fmt

feat(cclibs): make bob_library splittable
  core/androidbp_cclibs.go
  core/strict_library.go
  tests/gendiffer/libraries/mixed/app/build.bp
  tests/gendiffer/libraries/mixed/out/android/Android.bp.out
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
  tests/reexport_libs/build.bp
  tests/strict_libs/static/build.bp
Due: go-fmt

chore: move lib tests under new dir
  tests/gendiffer/libraries/mixed/WORKSPACE
  tests/gendiffer/libraries/mixed/app/bplist
  tests/gendiffer/libraries/mixed/app/build.bp
  tests/gendiffer/libraries/mixed/app/nested/build.bp
  tests/gendiffer/libraries/mixed/app/plugins/Android.bp.in
  tests/gendiffer/libraries/mixed/out/android/Android.bp.out
  tests/gendiffer/libraries/mixed/out/android/bob_warnings.csv
  tests/gendiffer/libraries/mixed/out/android/expectedExitCode.int
  tests/gendiffer/libraries/mixed/out/android/expectedStderr.txt
  tests/gendiffer/libraries/mixed/out/android/expectedStdout.txt
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
  tests/gendiffer/libraries/mixed/out/linux/expectedExitCode.int
  tests/gendiffer/libraries/mixed/out/linux/expectedStderr.txt
  tests/gendiffer/libraries/mixed/out/linux/expectedStdout.txt
Due: buildifier
