Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

feat: enable build_wrapper for bob_toolchain
  core/module_toolchain.go
  gendiffer/tests/toolchain/build_wrapper/out/linux/build.ninja.out
Due: go-fmt

chore(bob_toolchain): support for build_wrapper prop
  core/module_toolchain.go
  gendiffer/tests/toolchain/build_wrapper/WORKSPACE
  gendiffer/tests/toolchain/build_wrapper/app/bplist
  gendiffer/tests/toolchain/build_wrapper/app/build.bp
  gendiffer/tests/toolchain/build_wrapper/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/build_wrapper/out/android/Android.bp.out
  gendiffer/tests/toolchain/build_wrapper/out/android/bob_warnings.cvs
  gendiffer/tests/toolchain/build_wrapper/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/build_wrapper/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/build_wrapper/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/build_wrapper/out/linux/build.ninja.out
  gendiffer/tests/toolchain/build_wrapper/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/build_wrapper/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/build_wrapper/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

refactor: move GetBuildWrapperAndDeps to backend cfg
  core/linux_cclibs.go
  core/module_toolchain.go
  core/strict_library.go
Due: go-fmt

refactor: generic `BackendConfigurationProvider`
  core/androidbp_cclibs.go
  core/binary.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/linux_backend.go
  core/module_toolchain.go
  core/strict_library.go
Due: go-fmt

feat: add support for local wrapper
  core/module_toolchain.go
  gendiffer/tests/toolchain/build_wrapper/app/build.bp
  gendiffer/tests/toolchain/build_wrapper/out/android/Android.bp.out
  gendiffer/tests/toolchain/build_wrapper/out/linux/build.ninja.out
Due: go-fmt

fix: bob_gensrcs typo
  core/module_genrule.go
Due: go-fmt

refactor(bob_toolchain): make mte props generic
  core/androidbp_cclibs.go
  core/binary.go
  core/library.go
  core/module_toolchain.go
Due: go-fmt

feat(bob_toolchain): support hwasan
  core/androidbp_cclibs.go
  core/binary.go
  core/library.go
  core/library_shared.go
  core/library_static.go
  core/module_toolchain.go
  gendiffer/tests/toolchain/hwasan/app/build.bp
  gendiffer/tests/toolchain/hwasan/out/android/Android.bp.out
Due: go-fmt

chore: add hwasan test case for legacy libs
  gendiffer/tests/shared_library/hwasan/WORKSPACE
  gendiffer/tests/shared_library/hwasan/app/bplist
  gendiffer/tests/shared_library/hwasan/app/build.bp
  gendiffer/tests/shared_library/hwasan/app/plugins/Android.bp.in
  gendiffer/tests/shared_library/hwasan/out/android/Android.bp.out
  gendiffer/tests/shared_library/hwasan/out/android/bob_warnings.csv
  gendiffer/tests/shared_library/hwasan/out/android/expectedExitCode.int
  gendiffer/tests/shared_library/hwasan/out/android/expectedStderr.txt
  gendiffer/tests/shared_library/hwasan/out/android/expectedStdout.txt
  gendiffer/tests/shared_library/hwasan/out/linux/build.ninja.out
  gendiffer/tests/shared_library/hwasan/out/linux/expectedExitCode.int
  gendiffer/tests/shared_library/hwasan/out/linux/expectedStderr.txt
  gendiffer/tests/shared_library/hwasan/out/linux/expectedStdout.txt
  gendiffer/tests/static_library/hwasan/WORKSPACE
  gendiffer/tests/static_library/hwasan/app/bplist
  gendiffer/tests/static_library/hwasan/app/build.bp
  gendiffer/tests/static_library/hwasan/app/plugins/Android.bp.in
  gendiffer/tests/static_library/hwasan/out/android/Android.bp.out
  gendiffer/tests/static_library/hwasan/out/android/bob_warnings.csv
  gendiffer/tests/static_library/hwasan/out/android/expectedExitCode.int
  gendiffer/tests/static_library/hwasan/out/android/expectedStderr.txt
  gendiffer/tests/static_library/hwasan/out/android/expectedStdout.txt
  gendiffer/tests/static_library/hwasan/out/linux/build.ninja.out
  gendiffer/tests/static_library/hwasan/out/linux/expectedExitCode.int
  gendiffer/tests/static_library/hwasan/out/linux/expectedStderr.txt
  gendiffer/tests/static_library/hwasan/out/linux/expectedStdout.txt
Due: buildifier

chore: add hwasan test case for toolchain
  gendiffer/tests/toolchain/hwasan/WORKSPACE
  gendiffer/tests/toolchain/hwasan/app/bplist
  gendiffer/tests/toolchain/hwasan/app/build.bp
  gendiffer/tests/toolchain/hwasan/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/hwasan/out/android/Android.bp.out
  gendiffer/tests/toolchain/hwasan/out/android/bob_warnings.csv
  gendiffer/tests/toolchain/hwasan/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/hwasan/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/hwasan/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/hwasan/out/linux/build.ninja.out
  gendiffer/tests/toolchain/hwasan/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/hwasan/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/hwasan/out/linux/expectedStdout.txt
Due: buildifier

ci: pin pre-commit action to py3.11
  .github/workflows/ci.yml
Due: none

fix(gazelle): support rel paths for Bob parser
  gazelle/bob_parser.go
  gazelle/config.go
  gazelle/tests/multirepo/BUILD.in
  gazelle/tests/multirepo/BUILD.out
  gazelle/tests/multirepo/README.md
  gazelle/tests/multirepo/WORKSPACE
  gazelle/tests/multirepo/arguments.txt
  gazelle/tests/multirepo/expectedExitCode.txt
  gazelle/tests/multirepo/expectedStderr.txt
  gazelle/tests/multirepo/expectedStdout.txt
  gazelle/tests/multirepo/repo1/BUILD.in
  gazelle/tests/multirepo/repo1/BUILD.out
  gazelle/tests/multirepo/repo1/Mconfig
  gazelle/tests/multirepo/repo1/build.bp
  gazelle/tests/multirepo/repo2/BUILD.in
  gazelle/tests/multirepo/repo2/BUILD.out
  gazelle/tests/multirepo/repo2/Mconfig
  gazelle/tests/multirepo/repo2/build.bp
Due: go-fmt, buildifier

fix: support relPath for menuconfig
  config_system/config_system/syntax.py
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/Mconfig
  gazelle/tests/mconfig/arguments.txt
  gazelle/tests/mconfig/expectedStderr.txt
  gazelle/tests/mconfig/internal/expectedStderr.txt
Due: none

chore: remove useless debug prints
  gazelle/fix.go
  gazelle/flags.go
  gazelle/imports.go
  gazelle/language.go
  gazelle/resolve.go
  gazelle/tests/example/expectedStderr.txt
  gazelle/tests/generate_filegroup/expectedStderr.txt
  gazelle/tests/generate_filegroup/internal/expectedStderr.txt
  gazelle/tests/generate_library/expectedStderr.txt
  gazelle/tests/ignore_list/expectedStderr.txt
  gazelle/tests/load_statement/expectedStderr.txt
  gazelle/tests/map_kinds/expectedStderr.txt
  gazelle/tests/mconfig/expectedStderr.txt
  gazelle/tests/merge_attrs/expectedStderr.txt
  gazelle/tests/multirepo/expectedStderr.txt
  gazelle/tests/no_build_bp_file/expectedStderr.txt
  gazelle/tests/preserve_order/expectedStderr.txt
  gazelle/tests/preserve_order/internal/expectedStderr.txt
Due: go-fmt

fix: ignore directives not working for Bob
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
  gazelle/config.go
  gazelle/util/BUILD.bazel
  gazelle/util/util.go
  gazelle/util/util_test.go
Due: go-fmt, buildifier

fix: incorrect types for flag defaults
  gazelle/generate.go
  gazelle/tests/mconfig/BUILD.out
Due: go-fmt

feat: add test for all known bob modules
  gazelle/tests/all_known_modules/BUILD.in
  gazelle/tests/all_known_modules/BUILD.out
  gazelle/tests/all_known_modules/Mconfig
  gazelle/tests/all_known_modules/README.md
  gazelle/tests/all_known_modules/WORKSPACE
  gazelle/tests/all_known_modules/arguments.txt
  gazelle/tests/all_known_modules/build.bp
  gazelle/tests/all_known_modules/expectedExitCode.txt
  gazelle/tests/all_known_modules/expectedStderr.txt
Due: buildifier

fix: ignore directives not inherited
  gazelle/config.go
  gazelle/config/config.go
  gazelle/tests/multirepo/BUILD.in
  gazelle/tests/multirepo/BUILD.out
  gazelle/tests/multirepo/ignored/BUILD.in
  gazelle/tests/multirepo/ignored/BUILD.out
  gazelle/tests/multirepo/ignored/Mconfig
  gazelle/tests/multirepo/ignored/build.bp
  gazelle/tests/multirepo/repo1/ignored/BUILD.in
  gazelle/tests/multirepo/repo1/ignored/BUILD.out
  gazelle/tests/multirepo/repo1/ignored/Mconfig
  gazelle/tests/multirepo/repo1/ignored/build.bp
  gazelle/tests/multirepo/repo1/ignored/nested/BUILD.in
  gazelle/tests/multirepo/repo1/ignored/nested/BUILD.out
  gazelle/tests/multirepo/repo1/ignored/nested/Mconfig
  gazelle/tests/multirepo/repo1/ignored/nested/build.bp
Due: go-fmt

chore: add tests for mconfig default values
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/Mconfig
Due: none

refactor: remove logger from backend
  core/backend/androidbp.go
  core/backend/backend.go
  core/backend/linux.go
  core/common_props.go
  core/defaults.go
  core/file/file_test.go
  core/file/filegroup_test.go
  core/flag/flag_collection_test.go
  core/flag/flag_test.go
  core/generated.go
  core/glob.go
  core/install.go
  core/late_template.go
  core/legacy_source_props.go
  core/source_props.go
  core/standalone.go
  gazelle/BUILD.bazel
  gazelle/bob_parser.go
  gazelle/config.go
  gazelle/tests/all_known_modules/BUILD.out
  gazelle/tests/all_known_modules/expectedExitCode.txt
  gazelle/tests/all_known_modules/expectedStderr.txt
Due: go-fmt, buildifier

fix: missing osx config would kill bob parser
  gazelle/config.go
Due: go-fmt

fix: use older Discard to support go1.11
  core/standalone.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
