Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: ^config_system/tests/formatter/
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

feat: AOSP backend for strict library
  core/androidbp_cclibs.go
  core/linux_cclibs.go
  tests/gendiffer/libraries/mixed/out/android/Android.bp.out
Due: go-fmt

feat: AOSP backend for strict binary
  core/androidbp_cclibs.go
  tests/gendiffer/strict_binary/app/build.bp
  tests/gendiffer/strict_binary/out/android/Android.bp.out
  tests/gendiffer/strict_binary/out/android/expectedExitCode.int
  tests/gendiffer/strict_binary/out/android/expectedStderr.txt
  tests/strict_binary/build.bp
Due: go-fmt

fix: broken symlinks in AOSP
  core/androidbp_resource.go
  tests/build_tests.sh
  tests/resources/build.bp
  tests/resources/main.c
  tests/resources/main_link.in
Due: go-fmt

fix: change strict includes to be local
  core/strict_library.go
  tests/gendiffer/libraries/mixed/out/linux/build.ninja.out
Due: go-fmt

feat(gazelle): basic library generation
  .pre-commit-config.yaml
  gazelle/bob_parser.go
  gazelle/config.go
  gazelle/module.go
  gazelle/registry_test.go
  gazelle/tests/generate_library/BUILD.in
  gazelle/tests/generate_library/BUILD.out
  gazelle/tests/generate_library/Mconfig
  gazelle/tests/generate_library/WORKSPACE
  gazelle/tests/generate_library/arguments.txt
  gazelle/tests/generate_library/build.bp
  gazelle/tests/generate_library/expectedExitCode.txt
  gazelle/tests/generate_library/expectedStderr.txt
  gazelle/tests/generate_library/expectedStdout.txt
Due: go-fmt, buildifier

chore: clean up `FileProvider`
  Blueprints
  core/binary.go
  core/build_structs.go
  core/file/BUILD.bazel
  core/file/provider.go
  core/filegroup.go
  core/gen_binary.go
  core/gen_library.go
  core/gen_shared.go
  core/gen_static.go
  core/glob.go
  core/library.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/module_generate_source.go
  core/source_props.go
  core/strict_library.go
Due: go-fmt, buildifier

chore: clean up `FileConsumer`
  Blueprints
  core/build_structs.go
  core/file/BUILD.bazel
  core/file/consumer.go
  core/gen_library.go
  core/install.go
  core/legacy_source_props.go
  core/library.go
  core/linux_cclibs.go
  core/metadata.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/module_transform_source.go
  core/source_props.go
  core/strict_binary.go
  core/strict_generate_common.go
  core/strict_generate_props.go
  core/strict_library.go
Due: go-fmt, buildifier

chore: clean up `DynamicFileProvider`
  core/file/provider.go
  core/module_transform_source.go
  core/source_props.go
Due: go-fmt

chore: clean up `FileResolver`
  Blueprints
  core/file/BUILD.bazel
  core/file/resolver.go
  core/filegroup.go
  core/glob.go
  core/install.go
  core/kernel_module.go
  core/legacy_source_props.go
  core/module_generate_source.go
  core/module_genrule.go
  core/module_gensrcs.go
  core/module_transform_source.go
  core/source_props.go
  core/strict_generate_common.go
  core/strict_generate_props.go
  core/strict_library.go
Due: go-fmt, buildifier

chore: clean up `resolveFilesMutator`
  core/file/resolver.go
  core/source_props.go
  core/standalone.go
Due: go-fmt

chore: make `bob_executable` build by default
  core/install.go
  tests/gendiffer/strict_binary/out/android/Android.bp.out
  tests/gendiffer/strict_binary/out/linux/build.ninja.out
Due: go-fmt

chore: move tags to separate module
  Blueprints
  core/BUILD.bazel
  core/alias.go
  core/android.go
  core/androidbp_cclibs.go
  core/androidbp_generated.go
  core/build_structs.go
  core/defaults.go
  core/dep_sorter.go
  core/file/BUILD.bazel
  core/generated.go
  core/generated_common.go
  core/install.go
  core/kernel_module.go
  core/library.go
  core/linux_backend.go
  core/linux_cclibs.go
  core/properties.go
  core/source_props.go
  core/splitter.go
  core/strict_generate_common.go
  core/strict_library.go
  core/strip.go
  core/tag.go
  core/tag/BUILD.bazel
  core/tag/tag.go
Due: go-fmt, buildifier

chore: clean up `ReferenceGetFilesImpl`
  core/file/consumer.go
  core/legacy_source_props.go
  core/source_props.go
  core/strict_generate_props.go
Due: go-fmt

fix(strict_rules): src is featurable
  core/strict_library.go
  tests/gendiffer/strict_binary/app/build.bp
  tests/gendiffer/strict_binary/out/linux/build.ninja.out
Due: go-fmt

feat(tests): add integration tests boiler plate
  .github/workflows/ci.yml
  gazelle/tests/integration_tests/.bazelrc
  gazelle/tests/integration_tests/BUILD.bazel
  gazelle/tests/integration_tests/Mconfig
  gazelle/tests/integration_tests/README.md
  gazelle/tests/integration_tests/WORKSPACE
  gazelle/tests/integration_tests/simple/BUILD.bazel
  gazelle/tests/integration_tests/simple/build.bp
  gazelle/tests/integration_tests/simple/main.c
Due: buildifier

fix(gazelle): bazel expressions no longer have extra incorrect braces
  gazelle/module.go
  gazelle/tests/generate_library/BUILD.out
Due: go-fmt

chore: make `ModuleToolchain` splittable
  core/module_toolchain.go
Due: go-fmt

chore: toolchain flags gendiffer test
  tests/gendiffer/toolchain/simple/flags/WORKSPACE
  tests/gendiffer/toolchain/simple/flags/app/bplist
  tests/gendiffer/toolchain/simple/flags/app/build.bp
  tests/gendiffer/toolchain/simple/flags/app/plugins/Android.bp.in
  tests/gendiffer/toolchain/simple/flags/out/android/Android.bp.out
  tests/gendiffer/toolchain/simple/flags/out/android/bob_warnings.cvs
  tests/gendiffer/toolchain/simple/flags/out/android/expectedExitCode.int
  tests/gendiffer/toolchain/simple/flags/out/android/expectedStderr.txt
  tests/gendiffer/toolchain/simple/flags/out/android/expectedStdout.txt
  tests/gendiffer/toolchain/simple/flags/out/linux/build.ninja.out
  tests/gendiffer/toolchain/simple/flags/out/linux/expectedExitCode.int
  tests/gendiffer/toolchain/simple/flags/out/linux/expectedStderr.txt
  tests/gendiffer/toolchain/simple/flags/out/linux/expectedStdout.txt
Due: buildifier

chore: add `ModuleToolchain` factory
  core/module_toolchain.go
Due: go-fmt

chore: assign `ToolchainTag` dependency
  core/build_structs.go
Due: go-fmt

chore: add `ToolchainTag`
  core/tag/tag.go
Due: go-fmt

feat: new `bob_toolchain` module
  core/build_structs.go
  tests/bplist
  tests/toolchain_flags/build.bp
  tests/toolchain_flags/f_complex.cpp
  tests/toolchain_flags/f_complex.h
  tests/toolchain_flags/f_simple.c
  tests/toolchain_flags/f_simple.h
Due: go-fmt

chore: make `ModuleToolchain` featurable
  core/module_toolchain.go
Due: go-fmt

chore: add `ModuleToolchain`
  Blueprints
  core/BUILD.bazel
  core/module_toolchain.go
Due: go-fmt, buildifier

chore: docs for `bob_toolchain`
  docs/module_types/bob_toolchain.md
Due: none
