Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

Revert "feat(flag): switch strict library to flag interface"
  core/flag/flag.go
  core/flag/flag_collection.go
  core/library.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

chore: add reexport test
  tests/gendiffer/reexport/WORKSPACE
  tests/gendiffer/reexport/app/bplist
  tests/gendiffer/reexport/app/build.bp
  tests/gendiffer/reexport/app/plugins/Android.bp.in
  tests/gendiffer/reexport/out/android/Android.bp.out
  tests/gendiffer/reexport/out/android/bob_warnings.csv
  tests/gendiffer/reexport/out/android/expectedExitCode.int
  tests/gendiffer/reexport/out/android/expectedStderr.txt
  tests/gendiffer/reexport/out/android/expectedStdout.txt
  tests/gendiffer/reexport/out/linux/build.ninja.out
  tests/gendiffer/reexport/out/linux/expectedExitCode.int
  tests/gendiffer/reexport/out/linux/expectedStderr.txt
  tests/gendiffer/reexport/out/linux/expectedStdout.txt
Due: buildifier

fix(toolchain): fixed empty flag
  core/toolchain/gnu.go
Due: go-fmt

feat(flags): add flag interface
  Blueprints
  core/BUILD.bazel
  core/build_props.go
  core/build_structs.go
  core/flag/BUILD.bazel
  core/flag/flag.go
  core/flag/flag_collection.go
  core/flag/flag_collection_test.go
  core/flag/flag_consumer.go
  core/flag/flag_property_parser.go
  core/flag/flag_provider.go
  core/flag/flag_test.go
  core/gen_shared.go
  core/gen_static.go
  core/library.go
  core/linux_cclibs.go
  core/module_generate_source.go
  core/module_transform_source.go
  tests/gendiffer/simplelib/out/linux/build.ninja.out
Due: go-fmt, buildifier

feat(flag): switch strict library to flag mod
  core/flag/flag.go
  core/flag/flag_collection.go
  core/library.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

fix(flag): do not sort unique flags
  core/external_library.go
  core/library.go
  core/strict_library.go
  tests/gendiffer/libraries/out/linux/build.ninja.out
  tests/gendiffer/nested_defaults/WORKSPACE
  tests/gendiffer/nested_defaults/app/bplist
  tests/gendiffer/nested_defaults/app/build.bp
  tests/gendiffer/nested_defaults/app/plugins/Android.bp.in
  tests/gendiffer/nested_defaults/out/android/Android.bp.out
  tests/gendiffer/nested_defaults/out/android/bob_warnings.csv
  tests/gendiffer/nested_defaults/out/android/expectedExitCode.int
  tests/gendiffer/nested_defaults/out/android/expectedStderr.txt
  tests/gendiffer/nested_defaults/out/android/expectedStdout.txt
  tests/gendiffer/nested_defaults/out/linux/build.ninja.out
  tests/gendiffer/nested_defaults/out/linux/expectedExitCode.int
  tests/gendiffer/nested_defaults/out/linux/expectedStderr.txt
  tests/gendiffer/nested_defaults/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

fix: add flag interface for external libs
  core/external_library.go
  docs/module_types/bob_external_library.md
  tests/gendiffer/simplelib/app/build.bp
  tests/gendiffer/simplelib/out/android/Android.bp.out
  tests/gendiffer/simplelib/out/linux/build.ninja.out
Due: go-fmt

refactor(flag): remove conditional break in iter
  core/external_library.go
  core/flag/flag_collection.go
  core/flag/flag_collection_test.go
  core/flag/flag_consumer.go
  core/library.go
  core/linux_cclibs.go
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

fix(flag): fixes exported defines for strict libs
  core/androidbp_cclibs.go
  core/flag/flag_consumer.go
  core/strict_linux_cclibs.go
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

chore(gendiffer): add test for featurable `cmd`
  tests/gendiffer/gensrcs/app/build.bp
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
Due: none

fix: broken `EnableableProps`
  core/linux_generated.go
  core/module_genrule.go
  tests/gendiffer/filegroups/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
Due: go-fmt

fix: correct tools dependencies
  core/generated.go
Due: go-fmt

fix: expose special variables in `cmd`
  core/androidbp_generated.go
  gendiffer/gendiffer.go
  tests/gendiffer/gensrcs/app/build.bp
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/generate_source/build.bp
  tests/generate_source/generator.py
  tests/generate_source_new/build.bp
  tests/generate_source_new/generator.py
Due: go-fmt

chore: rename test module name
  tests/build_tests.sh
  tests/version_script/build.bp
Due: none

chore: rename `generatorBackend`s function name
  core/androidbp_generated.go
  core/build_structs.go
  core/linux_generated.go
  core/module_genrule.go
Due: go-fmt

feat: add `bob_gensrcs` module
  Blueprints
  core/BUILD.bazel
  core/androidbp_cclibs.go
  core/androidbp_generated.go
  core/build_structs.go
  core/linux_generated.go
  core/module_genrule.go
  core/module_gensrcs.go
  docs/module_types/bob_gensrcs.md
  tests/bplist
  tests/gendiffer/transformsrcs_new/WORKSPACE
  tests/gendiffer/transformsrcs_new/app/bplist
  tests/gendiffer/transformsrcs_new/app/build.bp
  tests/gendiffer/transformsrcs_new/app/plugins/Android.bp.in
  tests/gendiffer/transformsrcs_new/out/android/Android.bp.out
  tests/gendiffer/transformsrcs_new/out/android/bob_warnings.csv
  tests/gendiffer/transformsrcs_new/out/android/expectedExitCode.int
  tests/gendiffer/transformsrcs_new/out/android/expectedStderr.txt
  tests/gendiffer/transformsrcs_new/out/android/expectedStdout.txt
  tests/gendiffer/transformsrcs_new/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs_new/out/linux/expectedExitCode.int
  tests/gendiffer/transformsrcs_new/out/linux/expectedStderr.txt
  tests/gendiffer/transformsrcs_new/out/linux/expectedStdout.txt
  tests/transform_source_new/build.bp
  tests/transform_source_new/f1.in
  tests/transform_source_new/f2.in
  tests/transform_source_new/f3.in
  tests/transform_source_new/f4.in
  tests/transform_source_new/f5.in
  tests/transform_source_new/gen.cpp
  tests/transform_source_new/generator.py
  tests/transform_source_new/main.cpp
  tests/transform_source_new/verify.py
Due: go-fmt, buildifier

fix: broken `Tools` property
  core/androidbp_generated.go
  core/generated.go
  core/linux_generated.go
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs_new/out/linux/build.ninja.out
  tests/transform_source_new/build.bp
Due: go-fmt

refactor(linux): merge compile objects
  core/build.go
  core/generated_common.go
  core/library.go
  core/linux_cclibs.go
  core/strict_library.go
  core/strict_linux_cclibs.go
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

refactor(file): switch whole libs to file if
  core/file/BUILD.bazel
  core/file/file.go
  core/legacy_source_props.go
  core/library_static.go
  core/linux_cclibs.go
Due: go-fmt, buildifier

refactor(file): make GetWholeStaticLibs generic
  core/linux_backend.go
  core/linux_cclibs.go
Due: go-fmt

fix: strict lib output wrong dir
  core/strict_linux_cclibs.go
  tests/gendiffer/libraries/out/linux/build.ninja.out
Due: go-fmt

feat: refactor GetStaticLibs to use file if
  core/gen_static.go
  core/linux_cclibs.go
  core/strict_library.go
Due: go-fmt

refactor(backend): switch static lib to use file if
  core/file/filegroup.go
  core/linux_cclibs.go
Due: go-fmt

feat: add filtering and string slice to file
  Blueprints
  core/file/BUILD.bazel
  core/file/filegroup.go
  core/file/filegroup_test.go
Due: go-fmt, buildifier

refactor: remove file producer from strict libs
  core/strict_library.go
  core/strict_linux_cclibs.go
Due: go-fmt

refactor(backend): switch strict legacy to iters
  core/linux_cclibs.go
Due: go-fmt

refactor(backend): move binary path to backend
  core/backend/androidbp.go
  core/backend/backend.go
  core/backend/linux.go
  core/linux_backend.go
  core/linux_cclibs.go
Due: go-fmt

refactor(backend): remove getBinaryPath
  core/linux_backend.go
  core/linux_generated.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
