Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: ^config_system/tests/formatter/
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

chore: use constant for `//conditions:default`
  gazelle/bob_parser.go
  gazelle/bob_parser_test.go
Due: go-fmt

fix: correct `select()` for features
  gazelle/generator.go
  gazelle/module.go
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/generate_filegroup/Mconfig
  gazelle/tests/generate_filegroup/build.bp
Due: go-fmt

chore: fix test sizes for bazel unit tests
  config_system/tests/BUILD.bazel
  core/BUILD.bazel
  gendiffer/gendiffer.bzl
  internal/depmap/BUILD.bazel
  internal/escape/BUILD.bazel
  internal/graph/BUILD.bazel
  internal/utils/BUILD.bazel
  internal/warnings/BUILD.bazel
Due: buildifier

fix(linux-backend): fix double slashes in object paths
  core/linux_cclibs.go
  tests/gendiffer/filegroups/out/linux/build.ninja.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
  tests/gendiffer/source_props/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs/out/linux/build.ninja.out
Due: go-fmt

fix(linux-backend): bad paths in non-compile deps
  core/linux_cclibs.go
  core/strict_linux_cclibs.go
  tests/gendiffer/filegroups/app/build.bp
  tests/gendiffer/filegroups/out/android/Android.bp.out
  tests/gendiffer/filegroups/out/linux/build.ninja.out
Due: go-fmt

chore(gendiff): add template and resource coverage
  tests/gendiffer/resource/WORKSPACE
  tests/gendiffer/resource/app/bplist
  tests/gendiffer/resource/app/build.bp
  tests/gendiffer/resource/app/plugins/Android.bp.in
  tests/gendiffer/resource/out/android/Android.bp.out
  tests/gendiffer/resource/out/android/bob_warnings.csv
  tests/gendiffer/resource/out/android/expectedStderr.txt
  tests/gendiffer/resource/out/android/expectedStdout.txt
  tests/gendiffer/resource/out/linux/build.ninja.out
  tests/gendiffer/resource/out/linux/expectedStderr.txt
  tests/gendiffer/resource/out/linux/expectedStdout.txt
  tests/gendiffer/template/WORKSPACE
  tests/gendiffer/template/app/bplist
  tests/gendiffer/template/app/build.bp
  tests/gendiffer/template/app/plugins/Android.bp.in
  tests/gendiffer/template/out/android/Android.bp.out
  tests/gendiffer/template/out/android/bob_warnings.csv
  tests/gendiffer/template/out/android/expectedStderr.txt
  tests/gendiffer/template/out/android/expectedStdout.txt
  tests/gendiffer/template/out/linux/build.ninja.out
  tests/gendiffer/template/out/linux/expectedStderr.txt
  tests/gendiffer/template/out/linux/expectedStdout.txt
Due: buildifier

chore: add exclude_srcs coverage for new gensrc
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
Due: none

chore(gendiff): add kernel module coverage
  tests/gendiffer/kmod/WORKSPACE
  tests/gendiffer/kmod/app/bplist
  tests/gendiffer/kmod/app/build.bp
  tests/gendiffer/kmod/app/plugins/Android.bp.in
  tests/gendiffer/kmod/out/android/Android.bp.out
  tests/gendiffer/kmod/out/android/bob_warnings.csv
  tests/gendiffer/kmod/out/android/expectedStderr.txt
  tests/gendiffer/kmod/out/android/expectedStdout.txt
  tests/gendiffer/kmod/out/linux/build.ninja.out
  tests/gendiffer/kmod/out/linux/expectedStderr.txt
  tests/gendiffer/kmod/out/linux/expectedStdout.txt
Due: buildifier

chore(gendiff): add test for lib src provider
  tests/gendiffer/genlib/app/build.bp
  tests/gendiffer/genlib/out/linux/build.ninja.out
Due: none

chore(gendiff): move generated libs into subdir
  tests/gendiffer/genlib/app/bplist
  tests/gendiffer/genlib/app/nested/build.bp
  tests/gendiffer/genlib/out/android/Android.bp.out
  tests/gendiffer/genlib/out/linux/build.ninja.out
Due: none

chore(gendiff): move generated srcs into subdir
  tests/gendiffer/gensrcs/app/bplist
  tests/gendiffer/gensrcs/app/build.bp
  tests/gendiffer/gensrcs/app/nested/build.bp
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
Due: none

chore(gendiff): move some genrules into subdir
  tests/gendiffer/gensrcs_new/app/bplist
  tests/gendiffer/gensrcs_new/app/build.bp
  tests/gendiffer/gensrcs_new/app/nested/build.bp
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
Due: none

chore(gendiff): move transformsrcs into subdir
  tests/gendiffer/transformsrcs/app/bplist
  tests/gendiffer/transformsrcs/app/build.bp
  tests/gendiffer/transformsrcs/app/nested/build.bp
  tests/gendiffer/transformsrcs/out/android/Android.bp.out
  tests/gendiffer/transformsrcs/out/linux/build.ninja.out
Due: none

fix(gendiffer): update regex to match longer entries
  gendiffer/gendiffer.go
  tests/gendiffer/genlib/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/transformsrcs/out/android/Android.bp.out
Due: go-fmt

feat(pre-commit): add shellcheck
  .github/build_example_proj.sh
  .github/checks/check-copyright.sh
  .github/run_bootstrap_test.sh
  .github/run_go_tests.sh
  .pre-commit-config.yaml
  bob.bash
  bootstrap.bash
  bootstrap_androidbp.bash
  bootstrap_linux.bash
  bpfmt_wrapper.sh
  config.bash
  example/bootstrap_androidbp.bash
  example/bootstrap_linux.bash
  example/buildme.bash
  menuconfig.bash
  pathtools.bash
  print_user_config.bash
  reconfig.bash
  scripts/setup_workspace_for_bob.bash
  tests/bootstrap_androidbp
  tests/bootstrap_linux
  tests/build_tests.sh
  tests/relative_path_tests.sh
Due: none

feat(gendiffer): add diff output
  gendiffer/README.md
  gendiffer/gendiffer.go
Due: go-fmt

refactor(gendiffer): remove unnecessary label prefixes
  gendiffer/gendiffer.bzl
Due: buildifier

test(gendiffer): allow failing tests
  gendiffer/README.md
  gendiffer/gendiffer.bzl
  gendiffer/gendiffer.go
  tests/gendiffer/example/out/android/Android.bp.out
  tests/gendiffer/example/out/linux/build.ninja.out
  tests/gendiffer/filegroups/out/android/Android.bp.out
  tests/gendiffer/filegroups/out/linux/build.ninja.out
  tests/gendiffer/genhdrs/out/android/Android.bp.out
  tests/gendiffer/genhdrs/out/linux/build.ninja.out
  tests/gendiffer/genlib/out/android/Android.bp.out
  tests/gendiffer/genlib/out/linux/build.ninja.out
  tests/gendiffer/gensrcs/out/android/Android.bp.out
  tests/gendiffer/gensrcs/out/linux/build.ninja.out
  tests/gendiffer/gensrcs_new/out/android/Android.bp.out
  tests/gendiffer/gensrcs_new/out/linux/build.ninja.out
  tests/gendiffer/globs/out/android/Android.bp.out
  tests/gendiffer/globs/out/linux/build.ninja.out
  tests/gendiffer/kmod/out/android/Android.bp.out
  tests/gendiffer/kmod/out/linux/build.ninja.out
  tests/gendiffer/libraries/out/android/Android.bp.out
  tests/gendiffer/libraries/out/linux/build.ninja.out
  tests/gendiffer/missing_dependency/WORKSPACE
  tests/gendiffer/missing_dependency/app/bplist
  tests/gendiffer/missing_dependency/app/build.bp
  tests/gendiffer/missing_dependency/app/plugins/Android.bp.in
  tests/gendiffer/missing_dependency/out/android/expectedExitCode.int
  tests/gendiffer/missing_dependency/out/android/expectedStderr.txt
  tests/gendiffer/missing_dependency/out/android/expectedStdout.txt
  tests/gendiffer/missing_dependency/out/linux/expectedExitCode.int
  tests/gendiffer/missing_dependency/out/linux/expectedStderr.txt
  tests/gendiffer/missing_dependency/out/linux/expectedStdout.txt
  tests/gendiffer/resource/out/android/Android.bp.out
  tests/gendiffer/resource/out/linux/build.ninja.out
  tests/gendiffer/source_props/out/android/Android.bp.out
  tests/gendiffer/source_props/out/linux/build.ninja.out
  tests/gendiffer/template/out/android/Android.bp.out
  tests/gendiffer/template/out/linux/build.ninja.out
  tests/gendiffer/transformsrcs/out/android/Android.bp.out
  tests/gendiffer/transformsrcs/out/linux/build.ninja.out
Due: go-fmt, buildifier

refactor(gendiffer): add unnecessary label prefixes
  gendiffer/gendiffer.bzl
Due: buildifier

feat: generate config rules
  gazelle/BUILD.bazel
  gazelle/config.go
  gazelle/generate.go
  gazelle/kinds.go
  gazelle/language.go
  gazelle/module.go
  gazelle/tests/example/build.bp
  gazelle/tests/example/expectedStderr.txt
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/generate_filegroup/Mconfig
  gazelle/tests/generate_filegroup/internal/BUILD.in
  gazelle/tests/generate_filegroup/internal/BUILD.out
  gazelle/tests/generate_filegroup/internal/Mconfig
  gazelle/tests/generate_filegroup/internal/build.bp
  gazelle/tests/generate_filegroup/internal/expectedStderr.txt
  gazelle/tests/no_build_bp_file/expectedStderr.txt
  internal/utils/BUILD.bazel
Due: go-fmt, buildifier

feat(gendiffer): add colour to diff output
  gendiffer/gendiffer.go
Due: go-fmt
