Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

feat(tagable): make install group tagable
  core/install.go
  gendiffer/tests/install_group/tagable/WORKSPACE
  gendiffer/tests/install_group/tagable/app/bplist
  gendiffer/tests/install_group/tagable/app/build.bp
  gendiffer/tests/install_group/tagable/app/nested/build.bp
  gendiffer/tests/install_group/tagable/app/plugins/Android.bp.in
  gendiffer/tests/install_group/tagable/out/android/Android.bp.out
  gendiffer/tests/install_group/tagable/out/android/bob_warnings.csv
  gendiffer/tests/install_group/tagable/out/android/expectedExitCode.int
  gendiffer/tests/install_group/tagable/out/android/expectedStderr.txt
  gendiffer/tests/install_group/tagable/out/android/expectedStdout.txt
  gendiffer/tests/install_group/tagable/out/linux/build.ninja.out
  gendiffer/tests/install_group/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/install_group/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/install_group/tagable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat(tagable): make filegroup tagable
  core/androidbp_filegroup.go
  core/filegroup.go
  gendiffer/tests/filegroup/tagable/WORKSPACE
  gendiffer/tests/filegroup/tagable/app/bplist
  gendiffer/tests/filegroup/tagable/app/build.bp
  gendiffer/tests/filegroup/tagable/app/plugins/Android.bp.in
  gendiffer/tests/filegroup/tagable/out/android/Android.bp.out
  gendiffer/tests/filegroup/tagable/out/android/expectedExitCode.int
  gendiffer/tests/filegroup/tagable/out/android/expectedStderr.txt
  gendiffer/tests/filegroup/tagable/out/android/expectedStdout.txt
  gendiffer/tests/filegroup/tagable/out/linux/build.ninja.out
  gendiffer/tests/filegroup/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/filegroup/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/filegroup/tagable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

chore(tagable): add transform src tagable test case
  gendiffer/tests/transform_source/tagable/WORKSPACE
  gendiffer/tests/transform_source/tagable/app/bplist
  gendiffer/tests/transform_source/tagable/app/build.bp
  gendiffer/tests/transform_source/tagable/app/plugins/Android.bp.in
  gendiffer/tests/transform_source/tagable/out/android/Android.bp.out
  gendiffer/tests/transform_source/tagable/out/android/bob_warnings.csv
  gendiffer/tests/transform_source/tagable/out/android/expectedExitCode.int
  gendiffer/tests/transform_source/tagable/out/android/expectedStderr.txt
  gendiffer/tests/transform_source/tagable/out/android/expectedStdout.txt
  gendiffer/tests/transform_source/tagable/out/linux/build.ninja.out
  gendiffer/tests/transform_source/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/transform_source/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/transform_source/tagable/out/linux/expectedStdout.txt
Due: buildifier

feat(tagable): make toolchain tagable
  core/module_toolchain.go
  gendiffer/tests/toolchain/tagable/WORKSPACE
  gendiffer/tests/toolchain/tagable/app/bplist
  gendiffer/tests/toolchain/tagable/app/build.bp
  gendiffer/tests/toolchain/tagable/app/plugins/Android.bp.in
  gendiffer/tests/toolchain/tagable/out/android/Android.bp.out
  gendiffer/tests/toolchain/tagable/out/android/bob_warnings.cvs
  gendiffer/tests/toolchain/tagable/out/android/expectedExitCode.int
  gendiffer/tests/toolchain/tagable/out/android/expectedStderr.txt
  gendiffer/tests/toolchain/tagable/out/android/expectedStdout.txt
  gendiffer/tests/toolchain/tagable/out/linux/build.ninja.out
  gendiffer/tests/toolchain/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/toolchain/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/toolchain/tagable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

chore(tagable): add gen lib tagable test case
  gendiffer/tests/generate_shared_library/tagable/WORKSPACE
  gendiffer/tests/generate_shared_library/tagable/app/bplist
  gendiffer/tests/generate_shared_library/tagable/app/build.bp
  gendiffer/tests/generate_shared_library/tagable/app/plugins/Android.bp.in
  gendiffer/tests/generate_shared_library/tagable/out/android/Android.bp.out
  gendiffer/tests/generate_shared_library/tagable/out/android/bob_warnings.csv
  gendiffer/tests/generate_shared_library/tagable/out/android/expectedExitCode.int
  gendiffer/tests/generate_shared_library/tagable/out/android/expectedStderr.txt
  gendiffer/tests/generate_shared_library/tagable/out/android/expectedStdout.txt
  gendiffer/tests/generate_shared_library/tagable/out/linux/build.ninja.out
  gendiffer/tests/generate_shared_library/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/generate_shared_library/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/generate_shared_library/tagable/out/linux/expectedStdout.txt
Due: buildifier

feat(tagable): switch owner to tags for AOSP
  core/androidbp_backend.go
  core/androidbp_cclibs.go
  core/androidbp_kernel_module.go
  core/androidbp_resource.go
  core/defaults.go
  core/external_library.go
  core/filegroup.go
  core/install.go
  core/kernel_module.go
  core/library.go
  core/strict_generate_common.go
  core/tagable.go
  gendiffer/tests/binary/tagable/out/android/Android.bp.out
  gendiffer/tests/executable/tagable/out/android/Android.bp.out
  gendiffer/tests/library/tagable/out/android/Android.bp.out
  gendiffer/tests/static_library/tagable/out/android/Android.bp.out
Due: go-fmt

chore(tagable): add generate src tagable test case
  gendiffer/tests/generate_source/tagable/WORKSPACE
  gendiffer/tests/generate_source/tagable/app/bplist
  gendiffer/tests/generate_source/tagable/app/build.bp
  gendiffer/tests/generate_source/tagable/app/plugins/Android.bp.in
  gendiffer/tests/generate_source/tagable/out/android/Android.bp.out
  gendiffer/tests/generate_source/tagable/out/android/bob_warnings.csv
  gendiffer/tests/generate_source/tagable/out/android/expectedExitCode.int
  gendiffer/tests/generate_source/tagable/out/android/expectedStderr.txt
  gendiffer/tests/generate_source/tagable/out/android/expectedStdout.txt
  gendiffer/tests/generate_source/tagable/out/linux/build.ninja.out
  gendiffer/tests/generate_source/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/generate_source/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/generate_source/tagable/out/linux/expectedStdout.txt
Due: buildifier

feat(tagable): make glob tagable
  core/glob.go
  gendiffer/tests/glob/tagable/WORKSPACE
  gendiffer/tests/glob/tagable/app/bplist
  gendiffer/tests/glob/tagable/app/build.bp
  gendiffer/tests/glob/tagable/app/dir1/func1.c
  gendiffer/tests/glob/tagable/app/dir2/func2.c
  gendiffer/tests/glob/tagable/app/main.c
  gendiffer/tests/glob/tagable/app/plugins/Android.bp.in
  gendiffer/tests/glob/tagable/app/src/exclude_this_file.cpp
  gendiffer/tests/glob/tagable/app/src/inside/a/exclude_this_too.cpp
  gendiffer/tests/glob/tagable/app/src/inside/a/namespace/func.cpp
  gendiffer/tests/glob/tagable/app/src/inside/a/namespace/main.cpp
  gendiffer/tests/glob/tagable/app/test_exclude_glob.c
  gendiffer/tests/glob/tagable/app/test_glob.c
  gendiffer/tests/glob/tagable/out/android/Android.bp.out
  gendiffer/tests/glob/tagable/out/android/bob_warnings.csv
  gendiffer/tests/glob/tagable/out/android/expectedExitCode.int
  gendiffer/tests/glob/tagable/out/android/expectedStderr.txt
  gendiffer/tests/glob/tagable/out/android/expectedStdout.txt
  gendiffer/tests/glob/tagable/out/linux/build.ninja.out
  gendiffer/tests/glob/tagable/out/linux/expectedExitCode.int
  gendiffer/tests/glob/tagable/out/linux/expectedStderr.txt
  gendiffer/tests/glob/tagable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat: deprecate `owner` prop.
  bootstrap.bash
  core/common_props.go
  core/install.go
  docs/warnings/deprecated-owner-prop.md
  internal/warnings/warnings.go
Due: go-fmt

chore: impl `GenerateBuildActions`
  core/module_test_binary.go
Due: go-fmt

chore: set test deps
  core/build_structs.go
Due: go-fmt

chore: backend actions for `bob_test`
  core/androidbp_cclibs.go
  core/build_structs.go
  core/linux_cclibs.go
Due: go-fmt

feat: register `bob_test`
  core/build_structs.go
Due: go-fmt

feat: new `bob_test` module
  Blueprints
  core/BUILD.bazel
  core/module_test_binary.go
Due: go-fmt, buildifier

chore: add tests for `bob_test`
  gendiffer/tests/test/library_deps/WORKSPACE
  gendiffer/tests/test/library_deps/app/bplist
  gendiffer/tests/test/library_deps/app/build.bp
  gendiffer/tests/test/library_deps/app/plugins/Android.bp.in
  gendiffer/tests/test/library_deps/out/android/Android.bp.out
  gendiffer/tests/test/library_deps/out/android/expectedExitCode.int
  gendiffer/tests/test/library_deps/out/android/expectedStderr.txt
  gendiffer/tests/test/library_deps/out/android/expectedStdout.txt
  gendiffer/tests/test/library_deps/out/linux/build.ninja.out
  gendiffer/tests/test/library_deps/out/linux/expectedExitCode.int
  gendiffer/tests/test/library_deps/out/linux/expectedStderr.txt
  gendiffer/tests/test/library_deps/out/linux/expectedStdout.txt
  gendiffer/tests/test/targetable/WORKSPACE
  gendiffer/tests/test/targetable/app/bplist
  gendiffer/tests/test/targetable/app/build.bp
  gendiffer/tests/test/targetable/app/plugins/Android.bp.in
  gendiffer/tests/test/targetable/out/android/Android.bp.out
  gendiffer/tests/test/targetable/out/android/expectedExitCode.int
  gendiffer/tests/test/targetable/out/android/expectedStderr.txt
  gendiffer/tests/test/targetable/out/android/expectedStdout.txt
  gendiffer/tests/test/targetable/out/linux/build.ninja.out
  gendiffer/tests/test/targetable/out/linux/expectedExitCode.int
  gendiffer/tests/test/targetable/out/linux/expectedStderr.txt
  gendiffer/tests/test/targetable/out/linux/expectedStdout.txt
  tests/strict_binary/build.bp
Due: buildifier

fix "go install std error" when cross build
  bootstrap.bash
Due: none

fix: remove `export_{system_}include_dirs` from `cc_binary`
  core/androidbp_cclibs.go
  gendiffer/tests/executable/featureable/out/android/Android.bp.out
Due: go-fmt

docs: reformat `bob_alias` docs
  docs/index.md
  docs/module_types/bob_alias.md
  docs/module_types/bob_binary.md
  docs/module_types/bob_defaults.md
  docs/module_types/bob_external_header_library.md
  docs/module_types/bob_external_library.md
  docs/module_types/bob_external_shared_library.md
  docs/module_types/bob_external_static_library.md
  docs/module_types/bob_filegroup.md
  docs/module_types/bob_generate_binary.md
  docs/module_types/bob_generate_library.md
  docs/module_types/bob_generate_shared_library.md
  docs/module_types/bob_generate_static_library.md
  docs/module_types/bob_genrule.md
  docs/module_types/bob_gensrcs.md
  docs/module_types/bob_glob.md
  docs/module_types/bob_install_group.md
  docs/module_types/bob_kernel_module.md
  docs/module_types/bob_library.md
  docs/module_types/bob_resource.md
  docs/module_types/bob_shared_library.md
  docs/module_types/bob_static_library.md
  docs/module_types/bob_toolchain.md
  docs/module_types/bob_transform_source.md
  docs/module_types/common_generate_module_properties.md
  docs/module_types/common_module_properties.md
  docs/module_types/migration/bob_generate_source.md
  docs/module_types/migration/bob_transform_source.md
  docs/module_types/properties/common_properties.md
  docs/module_types/properties/legacy_properties.md
  docs/module_types/properties/strict_properties.md
  gazelle/README.md
Due: none

chore: make dependentInterface also require file
  core/build_structs.go
  core/gen_library.go
  core/kernel_module.go
  core/linux_cclibs.go
Due: go-fmt

chore: shared lib install test
  gendiffer/tests/shared_library/install/WORKSPACE
  gendiffer/tests/shared_library/install/app/bplist
  gendiffer/tests/shared_library/install/app/build.bp
  gendiffer/tests/shared_library/install/app/plugins/Android.bp.in
  gendiffer/tests/shared_library/install/out/android/Android.bp.out
  gendiffer/tests/shared_library/install/out/android/bob_warnings.csv
  gendiffer/tests/shared_library/install/out/android/expectedExitCode.int
  gendiffer/tests/shared_library/install/out/android/expectedStderr.txt
  gendiffer/tests/shared_library/install/out/android/expectedStdout.txt
  gendiffer/tests/shared_library/install/out/linux/build.ninja.out
  gendiffer/tests/shared_library/install/out/linux/expectedExitCode.int
  gendiffer/tests/shared_library/install/out/linux/expectedStderr.txt
  gendiffer/tests/shared_library/install/out/linux/expectedStdout.txt
Due: buildifier

feat(file): allow adding additional tags on links
  core/file/file.go
  core/file/file_test.go
  core/library_shared.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
