Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

chore: newer ninja log format
  bootstrap/cleanup.go
Due: go-fmt

fix: correctly link against libraries with no lib prefix
  core/androidninja_backend.go
  gendiffer/tests/shared_library/no_prefix/out/android_oot/build.ninja.out
Due: go-fmt

feat: add host toolchain options for out of tree
  core/toolchain/clang.go
  gendiffer/tests/alias/out/android_oot/build.ninja.out
  gendiffer/tests/binary/tagable/out/android_oot/build.ninja.out
  gendiffer/tests/config/multilib_64bit_only/out/android_oot/build.ninja.out
  gendiffer/tests/executable/featureable/out/android_oot/build.ninja.out
  gendiffer/tests/executable/install_group/out/android_oot/build.ninja.out
  gendiffer/tests/executable/linkopts/out/android_oot/build.ninja.out
  gendiffer/tests/executable/mteprops/out/android_oot/build.ninja.out
  gendiffer/tests/executable/targetable/out/android_oot/build.ninja.out
  gendiffer/tests/generate_shared_library/install/out/android_oot/build.ninja.out
  gendiffer/tests/generate_shared_library/rename/out/android_oot/build.ninja.out
  gendiffer/tests/generate_shared_library/simple/out/android_oot/build.ninja.out
  gendiffer/tests/generate_shared_library/tagable/out/android_oot/build.ninja.out
  gendiffer/tests/generate_source/complex/out/android_oot/build.ninja.out
  gendiffer/tests/generate_static_library/install/out/android_oot/build.ninja.out
  gendiffer/tests/generate_static_library/simple/out/android_oot/build.ninja.out
  gendiffer/tests/gensrcs/mixed/out/android_oot/build.ninja.out
  gendiffer/tests/legacy/gensrcs/out/android_oot/build.ninja.out
  gendiffer/tests/legacy/gensrcs_new/out/android_oot/build.ninja.out
  gendiffer/tests/library/featureable/out/android_oot/build.ninja.out
  gendiffer/tests/library/install_group/out/android_oot/build.ninja.out
  gendiffer/tests/library/linkopts/out/android_oot/build.ninja.out
  gendiffer/tests/library/mteprops/out/android_oot/build.ninja.out
  gendiffer/tests/library/targetable/out/android_oot/build.ninja.out
  gendiffer/tests/shared_library/install/out/android_oot/build.ninja.out
  gendiffer/tests/static_library/reexport/out/android_oot/build.ninja.out
  gendiffer/tests/static_library/tagable/out/android_oot/build.ninja.out
  gendiffer/tests/test/library_deps/out/android_oot/build.ninja.out
  gendiffer/tests/test/linkopts/out/android_oot/build.ninja.out
  gendiffer/tests/toolchain/simple/flags/out/android_oot/build.ninja.out
  gendiffer/tests/toolchain/strip/out/android_oot/build.ninja.out
  gendiffer/tests/toolchain/strip_with_debug_info/out/android_oot/build.ninja.out
Due: go-fmt

chore: remove `gazelle` leftovers
  .bazelignore
  .pre-commit-config.yaml
  MODULE.bazel
  MODULE.bazel.lock
  core/backend/BUILD.bazel
  docs/index.md
  docs/module_types/bob_alias.md
  docs/module_types/bob_binary.md
  docs/module_types/bob_external_header_library.md
  docs/module_types/bob_external_shared_library.md
  docs/module_types/bob_external_static_library.md
  docs/module_types/bob_filegroup.md
  docs/module_types/bob_generate_binary.md
  docs/module_types/bob_generate_shared_library.md
  docs/module_types/bob_generate_source.md
  docs/module_types/bob_generate_static_library.md
  docs/module_types/bob_genrule.md
  docs/module_types/bob_gensrcs.md
  docs/module_types/bob_glob.md
  docs/module_types/bob_install_group.md
  docs/module_types/bob_kernel_module.md
  docs/module_types/bob_resource.md
  docs/module_types/bob_shared_library.md
  docs/module_types/bob_static_library.md
  docs/module_types/bob_test.md
  docs/module_types/bob_transform_source.md
  extensions.bzl
  tests/build_tests.sh
Due: buildifier

chore: align repo names
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  bootstrap/BUILD.bazel
  bootstrap/bpdoc/BUILD.bazel
  bootstrap/bpglob/BUILD.bazel
  bootstrap/minibp/BUILD.bazel
  bpfmt/BUILD.bazel
  bpmodify/BUILD.bazel
  deptools/BUILD.bazel
  gotestmain/BUILD.bazel
  gotestrunner/BUILD.bazel
  loadplugins/BUILD.bazel
  microfactory/BUILD.bazel
  microfactory/main/BUILD.bazel
  parser/BUILD.bazel
  pathtools/BUILD.bazel
  proptools/BUILD.bazel
Due: buildifier

fix: host_explore.py doesn't user_set config options
  scripts/host_explore.py
Due: none

feat: allow `bazel-bob-update-config.exe` on the command line
  config.bash
  config_system/BUILD.bazel
Due: buildifier

feat: add `bazel-bob-generate-config-json.exe`
  bob.bash
  config_system/BUILD.bazel
Due: buildifier

chore: remove unnecessary blank lines
  bob.bash
Due: none

feat: allow `bazel-bob-build.exe` on `PATH`
  bootstrap.bash
  cmd/bob/BUILD.bazel
Due: buildifier

feat: add `bazel-bob-build.exe`
  blueprint_impl.bash
Due: none

fix: pass specific `ar` to `list_archive_contents`
  scripts/whole_static.py
Due: none

Resolve full path to `ar`
  scripts/whole_static.py
Due: none

feat: remove useless docs generation
  bootstrap/bootstrap.go
Due: go-fmt

feat: resolve paths relative to `SRCDIR`
  core/build_structs.go
  core/file/BUILD.bazel
  core/file/file.go
  core/flag/BUILD.bazel
  core/flag/flag.go
Due: go-fmt, buildifier

fix: correctly escape expanded templates
  core/template.go
  core/template_test.go
  gendiffer/tests/templates/shlex_split/WORKSPACE
  gendiffer/tests/templates/shlex_split/app/bob.linux.config
  gendiffer/tests/templates/shlex_split/app/bob.linux.config.json
  gendiffer/tests/templates/shlex_split/app/bplist
  gendiffer/tests/templates/shlex_split/app/build.bp
  gendiffer/tests/templates/shlex_split/app/plugins/Android.bp.in
  gendiffer/tests/templates/shlex_split/out/android/Android.bp.out
  gendiffer/tests/templates/shlex_split/out/android/bob_warnings.csv
  gendiffer/tests/templates/shlex_split/out/android/expectedExitCode.int
  gendiffer/tests/templates/shlex_split/out/android/expectedStderr.txt
  gendiffer/tests/templates/shlex_split/out/android/expectedStdout.txt
  gendiffer/tests/templates/shlex_split/out/android_oot/build.ninja.out
  gendiffer/tests/templates/shlex_split/out/android_oot/expectedExitCode.int
  gendiffer/tests/templates/shlex_split/out/android_oot/expectedStderr.txt
  gendiffer/tests/templates/shlex_split/out/android_oot/expectedStdout.txt
  gendiffer/tests/templates/shlex_split/out/linux/build.ninja.out
  gendiffer/tests/templates/shlex_split/out/linux/expectedExitCode.int
  gendiffer/tests/templates/shlex_split/out/linux/expectedStderr.txt
  gendiffer/tests/templates/shlex_split/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat: add platform flags to generate target variables
  core/config/config.go
  core/toolchain/clang.go
Due: go-fmt

fix: correctly modify toolchain specific flags
  core/toolchain/clang.go
Due: go-fmt

fix: cctargetflags is common cflags not conlyflags
  core/linux_cclibs.go
Due: go-fmt

fix: getPathInSourceDir doesn't double prepend SourceDir
  core/build_structs.go
Due: go-fmt

fix: generated props set cflags and conlyflags correctly
  core/generated_common.go
  gendiffer/tests/generate_source/complex/out/android_oot/build.ninja.out
Due: go-fmt

Set `minibp`/`blueprint_tools` targets to be optional
  bootstrap/bootstrap.go
Due: go-fmt

chore: update to Bazel 8.3.1
  .bazelversion
  MODULE.bazel.lock
Due: none

chore: make SplitShell private
  core/template.go
  core/template_test.go
Due: go-fmt

feat: panic if shelex regex is malformed
  core/template.go
Due: go-fmt

feat: compile shelex regex once on load
  core/template.go
Due: go-fmt

feat: allocate at least original size for shlex splits
  core/template.go
Due: go-fmt

feat: run shlex regex once per element
  core/template.go
Due: go-fmt

chore: remove uneeded shlex match trim
  core/template.go
Due: go-fmt

chore: fix shlexExpand typo
  core/template.go
Due: go-fmt

feat: add custom toolchain
  Blueprints
  core/config/config.go
  core/toolchain/BUILD.bazel
  core/toolchain/custom.go
  core/toolchain/toolchain.go
  example/Mconfig
  gendiffer/bob.android.config.json
  gendiffer/bob.android_oot.config.json
  gendiffer/bob.linux.config.json
  gendiffer/tests/config/clang_toolchain/app/bob.linux.config.json
  gendiffer/tests/config/multilib_64bit_only/app/bob.linux.config.json
  gendiffer/tests/templates/shlex_split/app/bob.linux.config.json
  mconfig/host_toolchain.Mconfig
  mconfig/target_toolchain.Mconfig
  tests/Mconfig
Due: go-fmt, buildifier

feat: add custom linker
  Blueprints
  core/toolchain/BUILD.bazel
  core/toolchain/custom.go
  core/toolchain/customlinker.go
Due: go-fmt, buildifier

fix: use custom linker with custom toolchain
  core/toolchain/custom.go
Due: go-fmt

replace EXTRA_CFLAGS with CFLAGS_MODULE
  scripts/kmod_build.py
Due: none

chore: support A16 in `genrulebob` plugin
  core/androidbp_backend.go
  internal/soong_compat/soong_compat_04_ModuleProxy.go
  plugins/Android.bp.in
  plugins/genrulebob/genrule_module_proxy.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
