Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: (?x)(
          ^config_system/tests/formatter/|
          gendiffer/tests.*build.ninja|
          gendiffer/tests.*Android.bp|
          gazelle/tests/.*/expectedStderr.txt|
          patches/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^config_system/tests/formatter/|
            expectedExitCode.txt|
            gendiffer/tests.*build.ninja|
            gendiffer/tests.*Android.bp|
            patches/
          )
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          - "--max-line-length=88"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck --severity=warning --exclude=1090 # Disable warning for certain quoting
        language: python
        types: [shell]
        require_serial: true

  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
        name: reuse
        entry: reuse
        args: ["lint"]
        language: python
        pass_filenames: false
        description: "Lint the project directory for compliance with the REUSE Specification"
        language_version: python3
        types_or:
          - text
          - binary

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        language: golang
        types: [file, go]
        entry: gofmt
        args: ["-w", "-s"]

      - id: buildifier
        name: Buildifier
        description: Formatting Bazel files
        language: golang
        additional_dependencies:
          - github.com/bazelbuild/buildtools/buildifier@6.0.1
        files: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
        entry: buildifier
        args: ["--lint=fix"]

      - id: bpfmt
        name: "blueprint formatter"
        entry: bazelisk run //:bpfmt_wrapper -- -w
        language: system
        files: ^.*build.bp$
        types_or: [text]
        require_serial: true

fix(import_cc): reject unsupported Bazel imports
  tests/bazel_cc_import/bazel/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/cmake/BUILD.bazel
  tests/bazel_cc_import/bazel/binary/dynamic/BUILD.bazel
  tests/bazel_cc_import/bazel/bob_import_cc_aspect.bzl
  tests/bazel_cc_import/bazel/library/cmake/BUILD.bazel
  tests/bazel_cc_import/run_test.sh
Due: buildifier

feat: pull soongCompat out of generate
  core/androidbp_backend.go
  example/bootstrap_androidbp.bash
  gendiffer/bob.android.config
  gendiffer/bob.android.config.json
  mconfig/basics.Mconfig
  scripts/detect_soong_compat.py
Due: go-fmt

feat: Reduce bob graph generation overhead
  core/feature.go
  core/metadata.go
Due: go-fmt

feat: Speed up bob graph generation hot paths
  core/dep_sorter.go
  core/feature.go
  core/flag/flag_collection.go
  core/flag/flag_consumer.go
  core/flag/flag_property_parser.go
  core/template.go
  internal/graph/graph.go
Due: go-fmt

feat: Avoid graph target copies during traversal
  internal/graph/graph.go
Due: go-fmt

feat: expose plugin files for bazel consumers
  BUILD.bazel
Due: buildifier

fix: bazel->bob targets names when not the root repo
  tests/bazel_cc_import/bazel/name.bzl
Due: buildifier

feat: explicitly load rules_python in config_system BUILD.bazel
  config_system/BUILD.bazel
Due: buildifier

feat: explicitly load rules_python in BUILD.bazel
  BUILD.bazel
Due: buildifier

Expand rsp_content block variables in sandbox
  plugins/Android.bp.in
  plugins/genrulebob/genrule.go
  plugins/genrulebob/genrule_common_module_info.go
  plugins/genrulebob/genrule_module_proxy.go
  plugins/genrulebob/rsp_expand.go
Due: go-fmt

feat: Add bob pip target platforms
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier

fix: update Docker images to Debian Bookworm
  .github/pre-commit.Dockerfile
  ci/docker/bazelisk/Dockerfile
Due: none

feat: allow a bazel target to provide configuration
  bob.bootstrap.in
  bootstrap.bash
  bootstrap/utils.bash
  config.bash
  docs/config_system.md
  scripts/env_hash.py
Due: none

fix: retry shutil.rmtree
  scripts/whole_static.py
Due: none

feat: Add linker_script field
  core/androidbp_cclibs.go
  core/build_props.go
  core/library.go
  core/linux_cclibs.go
Due: go-fmt

fix(soong): keep host-tool headers private to generators
  plugins/genrulebob/genrule.go
  plugins/genrulebob/genrule_common_module_info.go
  plugins/genrulebob/genrule_module_proxy.go
  tests/generated_headers/build.bp
  tests/generated_headers/check_host_tool_headers.c
  tests/generated_headers/private_header_host_tool.c
Due: go-fmt
