Repository ARM-software/bob-build: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, buildifier

go-fmt:
  name: Go Format
  language: golang
  entry: gofmt
  args:
  - -w
  - -s

buildifier:
  name: Buildifier
  description: Formatting Bazel files
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@6.0.1
  entry: buildifier
  args:
  - --lint=fix

refactor(gazelle): remove dep on bob core
  gazelle/BUILD.bazel
  gazelle/blueprint/parser/BUILD.bazel
  gazelle/blueprint/parser/parser_test.go
  gazelle/mconfig/builder/BUILD.bazel
  gazelle/mconfig/builder/builder.go
Due: go-fmt, buildifier

refactor(gazelle): switch generation from legacy
  gazelle/configure.go
  gazelle/generate.go
  gazelle/tests/all_known_modules/BUILD.out
  gazelle/tests/all_known_modules/expectedStderr.txt
  gazelle/tests/generate_filegroup/BUILD.out
  gazelle/tests/generate_filegroup/internal/BUILD.out
  gazelle/tests/generate_library/BUILD.out
  gazelle/tests/load_statement/BUILD.out
  gazelle/tests/map_kinds/BUILD.out
  gazelle/tests/mconfig/BUILD.out
  gazelle/tests/mconfig/internal/BUILD.out
  gazelle/tests/merge_attrs/BUILD.out
  gazelle/tests/multirepo/repo1/BUILD.out
  gazelle/tests/multirepo/repo2/BUILD.out
  gazelle/tests/no_build_bp_file/BUILD.out
  gazelle/tests/no_build_bp_file/expectedExitCode.txt
  gazelle/tests/no_build_bp_file/expectedStderr.txt
  gazelle/tests/preserve_order/BUILD.out
  gazelle/tests/preserve_order/internal/BUILD.out
Due: go-fmt

refactor(gazelle): add result merger
  gazelle/util/BUILD.bazel
  gazelle/util/util.go
Due: go-fmt, buildifier

fix: stick with bazel `6.5.0`
  .bazelversion
  gazelle/.bazelversion
Due: none

fix: deprecated function declaration
  tests/toolchain_flags/f_simple.c
  tests/toolchain_flags/f_simple.h
Due: none

fix: remove depfile for `gensrcs`
  tests/transform_source_new/build.bp
  tests/transform_source_new/generator.py
Due: none

fix: is64BitOnly flag for clang
  core/androidbp_cclibs.go
  core/toolchain/clang.go
Due: go-fmt

feat(filegroup): make enableable
  core/androidbp_filegroup.go
  core/filegroup.go
  gendiffer/tests/filegroup/enable/WORKSPACE
  gendiffer/tests/filegroup/enable/app/bplist
  gendiffer/tests/filegroup/enable/app/build.bp
  gendiffer/tests/filegroup/enable/app/main.c
  gendiffer/tests/filegroup/enable/app/nested/build.bp
  gendiffer/tests/filegroup/enable/app/plugins/Android.bp.in
  gendiffer/tests/filegroup/enable/out/android/Android.bp.out
  gendiffer/tests/filegroup/enable/out/android/bob_warnings.csv
  gendiffer/tests/filegroup/enable/out/android/expectedExitCode.int
  gendiffer/tests/filegroup/enable/out/android/expectedStderr.txt
  gendiffer/tests/filegroup/enable/out/android/expectedStdout.txt
  gendiffer/tests/filegroup/enable/out/linux/build.ninja.out
  gendiffer/tests/filegroup/enable/out/linux/expectedExitCode.int
  gendiffer/tests/filegroup/enable/out/linux/expectedStderr.txt
  gendiffer/tests/filegroup/enable/out/linux/expectedStdout.txt
Due: go-fmt, buildifier

feat(rules_python): bump to 0.32.2
  MODULE.bazel
Due: buildifier

fix(gazelle): handle unsupported logic
  gazelle/mconfig/builder/builder.go
Due: go-fmt

fix(gazelle): explicit feature detection
  gazelle/blueprint/builder/builder.go
Due: go-fmt

fix(gazelle): handle exclude directive
  gazelle/README.md
  gazelle/configure.go
  gazelle/tests/ignore_list/BUILD.in
  gazelle/tests/ignore_list/BUILD.out
  gazelle/tests/ignore_list/expectedStderr.txt
  gazelle/tests/ignore_list/subdir/BUILD.in
  gazelle/tests/ignore_list/subdir/subdir_nested/BUILD.in
  gazelle/tests/ignore_list/subdir/subdir_nested/BUILD.out
  gazelle/tests/ignore_list/subdir_two/BUILD.in
  gazelle/tests/ignore_list/subdir_two/BUILD.out
  gazelle/tests/multirepo/BUILD.in
  gazelle/tests/multirepo/BUILD.out
  gazelle/tests/multirepo/repo1/BUILD.out
  gazelle/tests/multirepo/repo1/ignored/nested/BUILD.out
Due: go-fmt

fix(gazelle): handle default value fails
  gazelle/mconfig/builder/builder.go
Due: go-fmt

refactor(gazelle): use log for warnings
  gazelle/blueprint/builder/bp2bzl/bp2bzl.go
  gazelle/mconfig/builder/builder.go
Due: go-fmt

ci: experimental macos
  .github/workflows/ci.yml
Due: none

docs(gazelle): remove outdated docs
  gazelle/DESIGN.md
  gazelle/README.md
Due: none

fix: install path for 64BitOnly
  core/androidbp_cclibs.go
  core/androidbp_resource.go
Due: go-fmt

fix(docs): correct docs
  docs/module_types/bob_external_static_library.md
  docs/module_types/bob_static_library.md
  docs/module_types/properties/legacy_properties.md
  gazelle/README.md
Due: none

Revert "fix: install path for 64BitOnly"
  core/androidbp_cclibs.go
  core/androidbp_resource.go
Due: go-fmt

fix: broken `bzlmod`
  MODULE.bazel
Due: buildifier

fix: ci macos-latest
  .github/workflows/ci.yml
Due: none

fix: broken `bzlmod`
  .github/workflows/ci.yml
  BUILD.bazel
  MODULE.bazel
  bpfmt_wrapper.sh
  core/BUILD.bazel
  gazelle/MODULE.bazel
  patches/BUILD.bazel
  patches/blueprint/0002-fix-remove-blueprint-dep.patch
Due: buildifier

Path conditions:
  go-fmt: any of: \.go$
  buildifier: any of: (BUILD|WORKSPACE|.+\.bazel|.+\.bzl)$
